@value tokens: "../theme/tokens.css";
@value --font-family, --font-size-30, --breakpoint-xs, --button-background-primary, --button-border-secondary, --text-on-color, --button-background-primary-hover, --button-background-primary-active, --focus, --button-background-disabled, --text-disabled, --text-tertiary, --border-tertiary, --button-background-secondary, --button-background-secondary-hover, --button-background-secondary-active, --border-disabled, --button-background-tertiary-hover, --button-background-tertiary-active, --button-background-danger, --button-background-danger-hover, --button-background-danger-active, --white, --icon-secondary, --button-background-icon-hover, --icon-tertiary, --size-50, --size-70, --size-100, --size-80 from tokens;

.linkButton {
  --border-width: 1px;

  font-family: --font-family;
  font-size: --font-size-30;
  font-weight: 500;
  padding: calc(--size-70 - var(--border-width))
    calc(--size-100 - var(--border-width));
  background-color: --button-background-primary;
  border: solid var(--border-width) transparent;
  color: --text-on-color;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  line-height: 1;

  &[data-hovered]:not(:disabled, [data-disabled]),
  &:hover:not(:disabled, [data-disabled]) {
    text-decoration: none;
    background-color: --button-background-primary-hover;
    color: --text-on-color;
  }

  &[data-pressed],
  &:active {
    background-color: --button-background-primary-active;
    outline: none;
  }

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[data-disabled],
  &:disabled {
    color: --text-disabled;
    cursor: not-allowed;
    background-color: --button-background-disabled;
  }
}

.secondary {
  color: --text-tertiary;
  background-color: --button-background-secondary;
  border-color: --button-border-secondary;

  .icon {
    color: --icon-tertiary;
  }

  &[data-hovered]:not(:disabled, [data-disabled]),
  &:hover:not(:disabled, [data-disabled]) {
    color: --text-tertiary;
    background-color: --button-background-secondary-hover;
  }

  &[data-disabled],
  &:disabled {
    border-color: --border-disabled;

    .icon {
      color: --text-disabled;
    }
  }

  &[data-pressed],
  &:active {
    background-color: --button-background-secondary-active;
  }
}

.tertiary {
  color: --text-tertiary;
  background-color: transparent;
  opacity: 1;

  &[data-hovered]:not(:disabled, [data-disabled]),
  &:hover:not(:disabled, [data-disabled]) {
    color: --text-tertiary;
    background-color: --button-background-tertiary-hover;
  }

  &[data-pressed],
  &:active {
    background-color: --button-background-tertiary-active;
  }
}

.danger {
  color: --white;
  background-color: --button-background-danger;
  opacity: 1;

  &[data-hovered]:not(:disabled, [data-disabled]),
  &:hover:not(:disabled, [data-disabled]) {
    background-color: --button-background-danger-hover;
  }

  &[data-pressed],
  &:active {
    background-color: --button-background-danger-active;
    outline: none;
  }
}

.iconBtn {
  background-color: transparent;
  padding: calc(--size-70 - var(--border-width));
  color: --text-tertiary;
  display: flex;
  align-items: center;

  &[data-hovered]:not(:disabled, [data-disabled]),
  &:hover:not(:disabled, [data-disabled]) {
    background-color: --button-background-icon-hover;
  }

  &[data-disabled],
  &:disabled {
    color: --text-disabled;
  }

  &[data-pressed],
  &:active {
    background-color: --button-background-tertiary-active;
  }

  &.medium {
    padding: calc(--size-50 - var(--border-width));
  }
}

.iconLeft {
  flex-direction: row-reverse;
}

.fullwidth {
  width: 100%;
}

.medium {
  padding: calc(--size-50 - var(--border-width))
    calc(--size-80 - var(--border-width));
}

@media --breakpoint-xs {
  .button {
    width: 100%;
  }
}
