@value tokens: "../theme/tokens.css";
@value --font-family, --size-03, --breakpoint-sm, --button-background-primary, --button-border-secondary, --text-on-color, --button-background-primary-hover, --button-background-primary-active, --focus, --button-background-disabled, --text-disabled, --text-tertiary, --border-tertiary, --button-background-secondary, --button-background-secondary-hover, --button-background-secondary-active, --border-disabled, --button-background-tertiary-hover, --button-background-tertiary-active, --button-background-danger, --button-background-danger-hover, --button-background-danger-active, --white, --icon-secondary, --button-background-icon-hover from tokens;

.linkButton {
  font-family: --font-family;
  font-size: --size-03;
  font-weight: 500;
  padding: calc(0.875rem - 1px) calc(1rem - 1px);
  background-color: --button-background-primary;
  border: solid 1px transparent;
  color: --text-on-color;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;

  &[data-hovered],
  &:hover {
    text-decoration: none;
    background-color: --button-background-primary-hover;
    color: --text-on-color;
  }

  &[data-pressed],
  &:active {
    background-color: --button-background-primary-active;
    outline: none;
  }

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[data-disabled],
  &:disabled {
    color: --text-disabled;
    pointer-events: none;
    background-color: --button-background-disabled;
  }
}

.secondary {
  color: --text-tertiary;
  background-color: --button-background-secondary;
  border-color: --button-border-secondary;

  .icon {
    color: --icon-secondary;
  }

  &[data-hovered],
  &:hover {
    color: --text-tertiary;
    background-color: --button-background-secondary-hover;
  }

  &[data-disabled],
  &:disabled {
    border-color: --border-disabled;
  }

  &[data-pressed],
  &:active {
    background-color: --button-background-secondary-active;
  }
}

.tertiary {
  color: --text-tertiary;
  background-color: transparent;
  opacity: 1;

  &[data-hovered],
  &:hover {
    color: --text-tertiary;
    background-color: --button-background-tertiary-hover;
  }

  &[data-pressed],
  &:active {
    background-color: --button-background-tertiary-active;
  }
}

.danger {
  color: --white;
  background-color: --button-background-danger;
  opacity: 1;

  &[data-hovered],
  &:hover {
    background-color: --button-background-danger-hover;
  }

  &[data-pressed],
  &:active {
    background-color: --button-background-danger-active;
    outline: none;
  }
}

.iconBtn {
  background-color: transparent;
  padding: 0.875rem;
  color: --text-tertiary;
  display: flex;
  align-items: center;

  &[data-hovered],
  &:hover {
    background-color: --button-background-icon-hover;
  }

  &[data-disabled],
  &:disabled {
    color: --text-disabled;
    pointer-events: none;
  }

  &[data-pressed],
  &:active {
    background-color: --button-background-tertiary-active;
  }
}

.iconLeft {
  flex-direction: row-reverse;
}

.fullwidth {
  width: 100%;
}

@media --breakpoint-sm {
  .button {
    width: 100%;
  }
}
