.linkButton {
  --border-width: 1px;

  font-family: var(--typography-font-family);
  font-size: var(--typography-font-size-30);
  font-weight: 500;
  padding: calc(var(--size-70) - var(--border-width))
    calc(var(--size-100) - var(--border-width));
  background-color: var(--semantic-button-background-primary);
  border: solid var(--border-width) transparent;
  color: var(--semantic-text-on-color);
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  line-height: 1;

  &[data-hovered]:not(:disabled, [data-disabled]),
  &:hover:not(:disabled, [data-disabled]) {
    text-decoration: none;
    background-color: var(--semantic-button-background-primary-hover);
    color: var(--semantic-text-on-color);
  }

  &[data-pressed],
  &:active {
    background-color: var(--semantic-button-background-primary-active);
    outline: none;
  }

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: var(--state-focus);

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[data-disabled],
  &:disabled {
    color: var(--semantic-text-disabled);
    cursor: not-allowed;
    background-color: var(--semantic-button-background-disabled);
  }
}

.secondary {
  color: var(--semantic-text-tertiary);
  background-color: var(--semantic-button-background-secondary);
  border-color: var(--semantic-button-border-secondary);

  .icon {
    color: var(--semantic-icon-tertiary);
  }

  &[data-hovered]:not(:disabled, [data-disabled]),
  &:hover:not(:disabled, [data-disabled]) {
    color: var(--semantic-text-tertiary);
    background-color: var(--semantic-button-background-secondary-hover);
  }

  &[data-disabled],
  &:disabled {
    border-color: var(--semantic-border-disabled);

    .icon {
      color: var(--semantic-text-disabled);
    }
  }

  &[data-pressed],
  &:active {
    background-color: var(--semantic-button-background-secondary-active);
  }
}

.tertiary {
  color: var(--semantic-text-tertiary);
  background-color: transparent;
  opacity: 1;

  &[data-hovered]:not(:disabled, [data-disabled]),
  &:hover:not(:disabled, [data-disabled]) {
    color: var(--semantic-text-tertiary);
    background-color: var(--semantic-button-background-tertiary-hover);
  }

  &[data-pressed],
  &:active {
    background-color: var(--semantic-button-background-tertiary-active);
  }
}

.danger {
  color: var(--color-white);
  background-color: var(--semantic-button-background-danger);
  opacity: 1;

  &[data-hovered]:not(:disabled, [data-disabled]),
  &:hover:not(:disabled, [data-disabled]) {
    background-color: var(--semantic-button-background-danger-hover);
  }

  &[data-pressed],
  &:active {
    background-color: var(--semantic-button-background-danger-active);
    outline: none;
  }
}

.iconBtn {
  background-color: transparent;
  padding: calc(var(--size-70) - var(--border-width));
  color: var(--semantic-text-tertiary);
  display: flex;
  align-items: center;

  &[data-hovered]:not(:disabled, [data-disabled]),
  &:hover:not(:disabled, [data-disabled]) {
    background-color: var(--semantic-button-background-icon-hover);
  }

  &[data-disabled],
  &:disabled {
    color: var(--semantic-text-disabled);
  }

  &[data-pressed],
  &:active {
    background-color: var(--semantic-button-background-tertiary-active);
  }

  &.medium {
    padding: calc(var(--size-50) - var(--border-width));
  }
}

.iconLeft {
  flex-direction: row-reverse;
}

.fullwidth {
  width: 100%;
}

.medium {
  padding: calc(var(--size-50) - var(--border-width))
    calc(var(--size-80) - var(--border-width));
}

@media var(--breakpoint-xs) {
  .button {
    width: 100%;
  }
}