.characterCounter {
  font-size: var(--midas-typography-font-size-20);
  line-height: var(--midas-typography-line-height-20);
  font-weight: 400;
  font-family: var(--midas-typography-font-family);
  color: var(--midas-text-primary);
  text-align: right;
  grid-area: Count;
  align-self: flex-end;
  margin-bottom: 0.5rem;

  &[data-lonely] {
    margin-bottom: 0.25rem;
  }

  &[data-exceeded] {
    color: var(--midas-text-warning);
  }
}

[data-readonly] {
  > .characterCounter {
    color: var(--midas-text-read-only);
  }
}
