@value tokens: "../theme/tokens.css";
@value --font-family, --signal-red-100, --text-on-color from tokens;

.badge {
  font-family: --font-family;
  background-color: --signal-red-100;
  min-width: 0.5rem;
  min-height: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.625rem;
  color: --text-on-color;

  &.hasChildren {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.25rem;
    min-height: 1rem;
  }
}

.badgeContainer {
  display: flex;
  position: relative;

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: center left;
  }
}
