@value tokens: "../theme/tokens.css";
@value --focus, --field-disabled, --text-primary, --text-invalid, --border-invalid, --border-strong, --field-01, --field-hover-01, --font-family, --text-disabled from tokens;

.textField {
  font-family: --font-family;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 0.25rem 0.5rem;
  grid-template-areas:
    'Label Count'
    'Desc Count'
    'Error Error'
    'Input Input';
  height: 100%;
  width: 100%;
  align-content: flex-end;

  /** Temp solution so things look ok while refactoring */
  [slot='description'] {
    grid-area: Desc;
  }

  &[data-disabled] {
    color: --text-disabled;
  }
}

.textArea {
  font-family: --font-family;
  all: unset;
  display: flex !important;
  grid-area: Input;
  border-bottom: 1px solid --border-strong;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem 1rem 1.25rem;
  background-color: --field-01;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  color: --text-primary;

  @media (forced-colors: active) {
    outline: 3px solid;
    outline-offset: 2px;
  }

  &[data-hovered] {
    background-color: --field-hover-01;
  }

  &[data-focused],
  &[data-focus-visible] {
    box-shadow: --focus;

    @media (forced-colors: active) {
      border: 1px solid;
    }
  }

  &[data-invalid] {
    border: none;
    box-shadow: inset 0 0 0 3px --border-invalid;
  }

  &[data-disabled] {
    cursor: not-allowed;
    background-color: --field-disabled;
    border: none;
    opacity: 0.7;
  }
}
