.textField {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas:
    'Label Count'
    'Desc Count'
    'Error Count'
    'Input Input'
    'BottomError BottomError';
  width: 100%;
  align-content: flex-end;

  > [slot='description'] {
    grid-area: Desc;
  }

  > .bottomError {
    grid-area: BottomError;
  }

  &[data-disabled] {
    color: var(--midas-text-disabled);
  }
}

.textArea {
  all: unset;
  font-family: var(--midas-typography-font-family);
  display: flex;
  grid-area: Input;
  border-bottom: 1px solid var(--midas-border-color-primary);
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem 1rem 1.25rem;
  background-color: var(--midas-field-01-base);
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  resize: both;
  overflow: auto;

  @media (forced-colors: active) {
    outline: 3px solid;
    outline-offset: 2px;
  }

  &[data-hovered] {
    background-color: var(--midas-field-01-hover);
  }

  &[data-focused],
  &[data-focus-visible] {
    box-shadow: var(--midas-state-focus);

    @media (forced-colors: active) {
      border: 1px solid;
    }
  }

  &[data-invalid] {
    border: none;
    box-shadow: inset 0 0 0 2px var(--midas-support-border-warning);
  }

  &[data-disabled] {
    cursor: not-allowed;
    background-color: var(--midas-field-disabled);
    border: none;
    border-bottom: 1px solid var(--midas-border-color-disabled);
    color: var(--midas-text-disabled);
  }
}

.wrap {
  position: relative;
  grid-area: Input;
}

.medium {
  .input {
    min-height: var(--midas-size-130);
  }
}

.input {
  all: unset;
  font-family: var(--midas-typography-font-family);
  grid-area: Input;
  border-bottom: 1px solid var(--midas-border-color-primary);
  font-size: 1rem;
  padding: 0 1rem;
  line-height: 1;
  background-color: var(--midas-field-01-base);
  border-radius: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: var(--midas-size-150);

  @media (forced-colors: active) {
    border: 1px solid;
  }

  &[data-hovered] {
    background-color: var(--midas-field-01-hover);

    & + .passwordText {
      background-color: var(--midas-field-01-hover);
    }
  }

  &[data-focused] {
    box-shadow: var(--midas-state-focus);

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[data-invalid] {
    border: none;
    box-shadow: inset 0 0 0 2px var(--midas-support-border-warning);

    @media (forced-colors: active) {
      border: 1px solid;
    }
  }

  &[data-disabled] {
    cursor: not-allowed;
    background-color: var(--midas-field-disabled);
    border: none;
    border-bottom: 1px solid var(--midas-border-color-disabled);

    @media (forced-colors: active) {
      border: 1px solid;
    }
  }
}

.passwordText {
  background-color: var(--midas-field-01-base);
  position: absolute;
  display: flex;
  align-items: center;
  top: 3px;
  z-index: var(--midas-z-index-base);
  left: 1rem;
  height: calc(100% - 6px);
  width: calc(100% - 2rem);
}

.passwordButton {
  background: transparent !important;
  border-color: transparent !important;
  position: absolute;
  width: max-content;
  right: 0;
  top: 0;
  box-sizing: border-box;
  cursor: pointer;
  z-index: calc(var(--midas-z-index-base) + var(--midas-z-index-above));
}
