@value tokens: "../theme/tokens.css";
@value --font-family, --text-primary, --field-01, --field-hover-01, --border-strong, --border-invalid, --text-disabled, --text-invalid, --field-disabled, --focus from tokens;

.inputField {
  height: 100%;

  &[data-disabled] {
    color: --text-disabled;
  }
}

.inputWrapper {
  font-family: --font-family;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 0.25rem 0.5rem;
  grid-template-areas:
    'Label Count'
    'Desc Count'
    'Error Error'
    'Input Input';
  height: 100%;
  width: 100%;
  align-content: flex-end;
}

.text {
  color: --text-primary;
  grid-area: Desc;
  font-size: 0.875rem;
  font-weight: 400;
}

.fieldError {
  color: --text-invalid;
  grid-area: Error;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin: 0.25rem 0;
  line-height: 1.28;

  &::before {
    content: '';
    background-color: --text-invalid;
    display: block;
    width: 1rem;
    height: 1rem;
    mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtdHJpYW5nbGUtYWxlcnQiPjxwYXRoIGQ9Im0yMS43MyAxOC04LTE0YTIgMiAwIDAgMC0zLjQ4IDBsLTggMTRBMiAyIDAgMCAwIDQgMjFoMTZhMiAyIDAgMCAwIDEuNzMtMyIvPjxwYXRoIGQ9Ik0xMiA5djQiLz48cGF0aCBkPSJNMTIgMTdoLjAxIi8+PC9zdmc+');
    mask-size: 1rem 1rem;
    flex: 0 0 auto;
    align-self: flex-start;
    margin: 2px;
  }
}

.passwordText {
  background-color: --field-01;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 2;
  top: 0;
  left: 1rem;
  width: calc(100% - 1rem);
  height: 46px;
  pointer-events: none;
}

.count {
  font-size: 0.875rem;
  color: --text-primary;
  text-align: right;
  grid-area: Count;
  align-self: flex-end;
}

.countExceeded {
  color: --text-invalid;
}

.input {
  all: unset;
  grid-area: Input;
  border-bottom: 1px solid --border-strong;
  min-height: 48px;
  font-size: 1rem;
  padding-left: 1rem;
  line-height: 1;
  background-color: --field-01;
  border-radius: 0;
  box-sizing: border-box;
  width: 100%;

  &[data-hovered] {
    background-color: --field-hover-01;

    & + .passwordText {
      background-color: --field-hover-01;
    }
  }

  &[data-focused],
  &[data-focus-visible] {
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[data-invalid] {
    border: none;
    box-shadow: inset 0 0 0 3px --border-invalid;
  }

  &[data-disabled] {
    pointer-events: none;
    background-color: --field-disabled;
    border: none;
    opacity: 0.7;
  }
}

.wrap {
  grid-area: Input;
  position: relative;
}

.passwordButton {
  background: transparent !important;
  border-color: transparent !important;
  position: absolute;
  width: max-content;
  right: 0;
  top: 0;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 3;
}
