.body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  font-family: 'Inter';
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.component {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  padding: 10px;
  margin: 5px;
}

h1 {
  text-align: center;
}
