body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f2f2f2;
}

.container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 100px;
  margin-right: 100px;
  height: 300px;
}

.section {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  flex: 1;
}

.col {
  width: 50%;
}

.component {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  padding: 10px;
  margin: 5px;
}

h1 {
  text-align: center;
}
