@value tokens: "../theme/tokens.css";
@value --breakpoint-md, --breakpoint-lg, --breakpoint-xl from tokens;

.container {
  --columns: 1;
  --padding: 1rem;
  --gutter: 1rem;
  --margin: auto;
  --maxWidth: 1368px;

  width: 100%;
  margin-left: var(--margin);
  margin-right: var(--margin);
}

.grid {
  padding-right: var(--padding);
  padding-left: var(--padding);
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
}

@media --breakpoint-md {
  .container {
    --columns: 12;
    --padding: 2rem;
  }
}

@media --breakpoint-lg {
  .container {
    --gutter: 1.5rem;
  }
}

@media --breakpoint-xl {
  .container {
    --padding: 0;

    max-width: 1368px;
  }
}

.fluid {
  --maxWidth: unset;
  --margin: 0;
  --padding: 0;
}

/* Grid item classes */
.col {
  display: flex;
  grid-column: span 1;
}

@media --breakpoint-md {
  .col-1 {
    grid-column: span 1;
  }

  .col-2 {
    grid-column: span 2;
  }

  .col-3 {
    grid-column: span 3;
  }

  .col-4 {
    grid-column: span 4;
  }

  .col-5 {
    grid-column: span 5;
  }

  .col-6 {
    grid-column: span 6;
  }

  .col-7 {
    grid-column: span 7;
  }

  .col-8 {
    grid-column: span 8;
  }

  .col-9 {
    grid-column: span 9;
  }

  .col-10 {
    grid-column: span 10;
  }

  .col-11 {
    grid-column: span 11;
  }

  .col-12 {
    grid-column: span 12;
  }

  .offset-1 {
    grid-column: 2 / span 1;
  }

  .offset-2 {
    grid-column: 3 / span 1;
  }

  .offset-3 {
    grid-column: 4 / span 1;
  }

  .offset-4 {
    grid-column: 5 / span 1;
  }

  .offset-5 {
    grid-column: 6 / span 1;
  }

  .offset-6 {
    grid-column: 7 / span 1;
  }

  .offset-7 {
    grid-column: 8 / span 1;
  }

  .offset-8 {
    grid-column: 9 / span 1;
  }

  .offset-9 {
    grid-column: 10 / span 1;
  }

  .offset-10 {
    grid-column: 11 / span 1;
  }

  .offset-11 {
    grid-column: 12 / span 1;
  }
}
