.panelHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--midas-space-small) var(--midas-space-small)
    var(--midas-space-small) var(--midas-space-medium);
}
