@keyframes wave {
  0% {
    background-position: -12.5rem 0;
  }

  100% {
    background-position: 12.5rem 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.skeleton {
  background: #e0e0e0;
  display: inline-block;
}

.skeleton.text {
  height: 1rem;
  width: 100%;
}

.skeleton.circle {
  border-radius: 50%;
}

.skeleton.wave {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: wave 5s infinite linear;
}

.skeleton.pulse {
  background: #e0e0e0;
  animation: pulse 2s infinite ease-in-out;
}
