@value tokens: "../theme/tokens.css";
@value black, display from tokens;

label {
  color: black;
  font-family: display;
}

.normal {
  /* token: size-02 */
  font-size: 0.875rem;

  /* token: line-height-02 */
  line-height: 1.125rem;
  font-weight: 400;
}

.bold {
  /* token: size-03 */
  font-size: 1rem;

  /* token: line-height-03 */
  line-height: 1.25rem;
  font-weight: 500;
}
