.labelBase {
  color: var(--midas-text-primary);
  font-family: var(--midas-typography-font-family);
  margin-bottom: 0.25rem;
  font-size: var(--midas-typography-font-size-30);
  line-height: var(--midas-typography-line-height-30);
  font-weight: 500;
}

.labelBase:has(~ [data-disabled]) {
  color: var(--midas-text-disabled);

  @media (forced-colors: active) {
    color: GrayText;
  }
}

[data-disabled] > .labelBase {
  color: var(--midas-text-disabled);

  @media (forced-colors: active) {
    color: GrayText;
  }
}
