.labelPopover {
  display: flex;
  align-items: center;
  gap: var(--midas-space-xsmall);
}

.labelPopoverTrigger {
  padding: 0 !important;
  margin-bottom: 0.125rem;

  svg {
    stroke: var(--midas-support-border-info);
  }
}
