.navigationLink {
  border-left: 2px solid transparent;
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0 1rem 1rem;

  &[data-hovered],
  &[data-active] {
    background-color: var(--midas-menu-item-background-hover);
  }

  &.sidebar {
    &[data-active] {
      border-color: var(--midas-border-color-tertiary);
    }
  }

  &.navbar {
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
  }

  svg {
    height: 20px;
    width: 20px;
  }
}
