.header {
  background-color: var(--midas-background-base);
  border-bottom: 1px solid var(--midas-border-color-subtle);
  display: flex;
  align-items: center;
  min-height: 4.5rem;
  padding-inline: var(--midas-space-medium);
}
