@value tokens: "../theme/tokens.css";
@value --font-family, --text-primary, --support-border-success, --support-background-success, --support-border-info, --support-background-info, --support-border-warning, --support-background-warning, --support-border-important, --support-background-important, --line-height-04 from tokens;

.infoBanner {
  font-family: --font-family;
  color: --text-primary;
  display: flex;
  font-size: 1rem;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  line-height: 1.3;

  &.success {
    --border: --support-border-success;
    --bg: --support-background-success;
  }

  &.info {
    --border: --support-border-info;
    --bg: --support-background-info;
  }

  &.important {
    --border: --support-border-important;
    --bg: --support-background-important;
  }

  &.warning {
    --border: --support-border-warning;
    --bg: --support-background-warning;
  }

  border-left: 3px solid var(--border);
  background-color: var(--bg);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
}

.heading {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.text {
  line-height: --line-height-04;
  white-space: pre-line;
  margin: 0;
}

.icon {
  color: var(--border);
  min-width: 20px;
}

.dismissable {
  margin-top: -1rem;
  margin-right: -1rem;
  justify-self: flex-end;
}
