.infoBanner {
  font-family: var(--typography-font-family);
  color: var(--semantic-text-primary);
  display: flex;
  font-size: 1rem;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  line-height: 1.3;

  &.success {
    --border: var(--semantic-support-border-success);
    --bg: var(--semantic-support-background-success);
  }

  &.info {
    --border: var(--semantic-support-border-info);
    --bg: var(--semantic-support-background-info);
  }

  &.important {
    --border: var(--semantic-support-border-important);
    --bg: var(--semantic-support-background-important);
  }

  &.warning {
    --border: var(--semantic-support-border-warning);
    --bg: var(--semantic-support-background-warning);
  }

  border-left: 3px solid var(--border);
  background-color: var(--bg);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
}

.heading {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.text {
  line-height: var(--typography-line-height-40);
  white-space: pre-line;
  margin: 0;
}

.icon {
  color: var(--border);
  min-width: 20px;
}

.dismissable {
  margin-top: -1rem;
  margin-right: -1rem;
  justify-self: flex-end;
}