.container {
  font-family: var(--typography-font-family);
}

.list {
  display: flex;
  flex-flow: row wrap;
}

.listItem {
  border-bottom: var(--size-10) solid var(--semantic-border-subtle);
  box-sizing: border-box;
  color: var(--semantic-text-primary);
  height: var(--size-130);
  padding: var(--size-50) var(--size-80);

  &[data-disabled] {
    border-color: var(--semantic-border-disabled);
    color: var(--semantic-text-disabled);
  }

  &[data-selected] {
    font-weight: 500;
    border-color: var(--semantic-border-tertiary);

    &[data-hovered] {
      border-color: var(--semantic-border-tertiary);
    }
  }

  &[data-hovered] {
    border-color: var(--semantic-border-secondary);
    cursor: pointer;
  }

  &[data-focus-visible] {
    outline: none;
    box-shadow: var(--state-focus);
  }

  @media var(--breakpoint-xs) {
    border-bottom: 0;
    flex: 0 0 100%;

    &[data-selected] {
      border-left: var(--size-10) solid var(--semantic-border-tertiary);
      padding-left: var(--size-70);
    }
  }
}

.panel {
  margin-top: var(--size-80);
  color: var(--semantic-text-primary);

  &[data-focus-visible] {
    outline: none;
    box-shadow: var(--state-focus);
  }
}