.container {
  font-family: var(--midas-typography-font-family);
}

.list {
  display: flex;
  flex-flow: row wrap;
}

.listItem {
  border-bottom: var(--midas-size-10) solid var(--midas-border-color-subtle);
  box-sizing: border-box;
  color: var(--midas-text-primary);
  height: var(--midas-size-130);
  padding: var(--midas-size-50) var(--midas-size-80);

  &[data-disabled] {
    border-color: var(--midas-border-color-disabled);
    color: var(--midas-text-disabled);
  }

  &[data-selected] {
    font-weight: 500;
    border-color: var(--midas-border-color-tertiary);

    &[data-hovered] {
      border-color: var(--midas-border-color-tertiary);
    }
  }

  &[data-hovered] {
    border-color: var(--midas-border-color-secondary);
    cursor: pointer;
  }

  &[data-focus-visible] {
    outline: none;
    box-shadow: var(--midas-state-focus);
  }

  @media (max-width: 479px) {
    border-bottom: 0;
    flex: 0 0 100%;

    &[data-selected] {
      border-left: var(--midas-size-10) solid var(--midas-border-color-tertiary);
      padding-left: var(--midas-size-70);
    }
  }
}

.panel {
  margin-top: var(--midas-size-80);
  color: var(--midas-text-primary);

  &[data-focus-visible] {
    outline: none;
    box-shadow: var(--midas-state-focus);
  }
}
