@value tokens: "../theme/tokens.css";
@value --focus, --text-disabled, --text-placeholder, --text-primary from tokens;

.dateSegment {
  padding: 0 0.125rem;
  text-transform: uppercase;
  color: --text-primary;

  &[data-placeholder] {
    color: --text-placeholder;
  }

  &[data-disabled] {
    color: --text-disabled;
  }

  &:focus-visible,
  &[data-focus-visible] {
    outline: none;
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 1px solid;
      outline-offset: 2px;
    }
  }
}
