@value tokens: "../theme/tokens.css";
@value --font-family from tokens;

.inputWrapper {
  font-family: --font-family;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content min-content min-content min-content;
  gap: 0.25rem 0.5rem;
  grid-template-areas:
    'Label Count'
    'Desc Count'
    'Error Error'
    'Input Input';
  height: 100%;
  width: 100%;
  align-content: flex-end;

  /** Temp solution so things look ok while refactoring */
  [slot='description'] {
    grid-area: Desc;
  }
}
