@value tokens: "../theme/tokens.css";
@value --font-family, --breakpoint-md, --background-01, --border-subtle, --layer-01, --text-primary, --button-background-tertiary-hover, --button-background-tertiary-active, --text-secondary, --icon-primary, --focus from tokens;

.baseLayout {
  --sideBarWidth: 230px;
  --headerHeight: 69px;

  @media --breakpoint-md {
    --headerHeight: 85px;
  }
}

.mainContent {
  display: flex;
  flex-direction: row;
}

.header {
  position: sticky;
  top: 0;
  font-family: --font-family;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid --border-subtle;
  background-color: --background-01;

  @media --breakpoint-md {
    padding: 1.25rem 1rem;
    z-index: 3;
  }
}

.headerContent {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;

  > svg {
    display: none;
  }

  @media --breakpoint-md {
    gap: 2rem;

    > svg {
      display: initial;
    }
  }
}

.headerItems,
.logo {
  display: none;
  max-height: 40px;

  @media --breakpoint-md {
    display: block;
  }
}

.headerItems {
  max-height: 40px;
}

.headerMenu {
  display: block;

  @media --breakpoint-md {
    display: none;
  }
}

.toggleButton {
  display: block;

  @media --breakpoint-md {
    display: none !important;
  }
}

.sidebar {
  font-family: --font-family;
  background-color: --background-01;
  display: flex;
  flex-flow: column;
  flex: 0 0 var(--sideBarWidth);
  overflow-y: auto;
  transition: 200ms;
  position: fixed;
  top: 0;
  height: 100vh;
  width: var(--sideBarWidth);
  transform: translateX(calc(var(--sideBarWidth) * -1));
  z-index: 2;
  border-right: 1px solid --border-subtle;

  @media --breakpoint-md {
    position: sticky;
    top: var(--headerHeight);
    align-self: start;
    height: calc(100vh - var(--headerHeight));
    transform: none;
    width: var(--sideBarWidth);
  }
}

.main {
  font-family: --font-family;
  flex: 0 0 auto;
  width: 100%;
  min-height: 100%;

  @media --breakpoint-md {
    background-color: --layer-01;
  }
}

.app {
  background-clip: content-box;
  background-color: --layer-01;

  @media --breakpoint-md {
    padding: 2rem;
  }
}

.sidebarOpened {
  transform: translateX(0);
}

.sidebarHeader {
  padding: 1rem;
  margin-bottom: 1rem;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  overflow: hidden;
}

.appName {
  color: gray150;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

.collapseButton {
  display: none !important;
  color: currentColor !important;
  padding: calc(0.875rem - 1px) !important;

  @media --breakpoint-md {
    display: flex !important;
  }
}

.sidebarCollapsed {
  --sideBarWidth: 68px;

  transition: all 0.2s ease-out;

  .sidebarHeader {
    justify-content: center;
  }
}

.userName {
  color: --text-primary;
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  display: none;

  @media --breakpoint-md {
    display: block;
  }
}

.abbr {
  font-size: 0.875rem;
  font-weight: 500;
  align-self: center;
}

.userTitle {
  color: --text-primary;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  display: none;

  @media --breakpoint-md {
    display: block;
  }
}

.title {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  display: block;

  @media --breakpoint-md {
    display: none;
  }
}

.sidebarNav {
  padding: 0.5rem;
  overflow-y: auto;
  margin-bottom: auto;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.listGroupTitle {
  color: --text-secondary;
  font-size: 0.875rem;
  padding: 0.5rem;
  margin: 0;
}

.listItem {
  display: flex;
}

.listItemCollapsed {
  justify-content: center;
}

.listLink {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem 0.5rem;
  color: --text-primary;
  flex: 1 0 0%;
  transition: 100ms;
  text-decoration: none;

  svg {
    stroke: --icon-primary;
  }

  &:hover,
  &:visited {
    background-color: --button-background-tertiary-hover;
    color: --text-primary;
    cursor: pointer;

    svg {
      stroke: --icon-primary;
      min-width: 1.25rem;
    }
  }

  &[data-pressed] {
    background-color: --button-background-tertiary-active;
  }

  &[data-focused] {
    box-shadow: none;
  }

  &:focus-visible {
    outline: none;
  }

  &[data-focus-visible] {
    box-shadow: --focus;
    outline: none;
  }
}

.listLinkCollapsed {
  padding: 0.625rem;
  flex-grow: unset;
}

.active {
  background-color: --button-background-tertiary-active;
  color: --text-primary;
}

.linkText {
  opacity: 1;
  display: block;
  transition: all 200ms;
  transition-behavior: allow-discrete;
}

.backdrop {
  pointer-events: none;
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgb(50 50 50 / 50%);
  opacity: 0;
  transition: all 100ms;
  transition-behavior: allow-discrete;

  &.backdropOpened {
    pointer-events: all;
    opacity: 1;
    display: block;
    transition: all 200ms;
  }
}

@starting-style {
  .backdrop.backdropOpened {
    opacity: 0;
  }

  .linkText {
    opacity: 0;
  }
}

.skipToContent {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 1047;

  &[data-focus-visible],
  &:focus-visible {
    right: auto;
    left: 5px;
    top: 5px;
  }
}
