@value tokens: "../theme/tokens.css";
@value --font-family, --breakpoint-sm, --breakpoint-lg, --background, --border-subtle, --layer-01, --size-01, --text-primary, --text-on-color, --line-height-02, --button-background-primary, --button-background-tertiary-active, --text-secondary, --icon-primary, --focus, --z-index-base, --z-index-above, --z-index-skip-to-content, --menu-item-background-hover, --menu-item-background-selected, --border-tertiary from tokens;

.baseLayout {
  --sideBarWidth: 230px;
  --headerHeight: 69px;

  @media --breakpoint-lg {
    --headerHeight: 85px;
  }
}

.mainContent {
  display: flex;
  flex-direction: row;
}

.header {
  position: sticky;
  top: 0;
  font-family: --font-family;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid --border-subtle;
  background-color: --background;

  &.headerExternal {
    padding: 1rem;

    @media --breakpoint-lg {
      padding: 1.25rem 1rem;
      z-index: 3;
    }
  }

  @media --breakpoint-lg {
    padding: 1.25rem 1rem;
    z-index: calc(--z-index-base + --z-index-above);
  }
}

.headerContent {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;

  > svg {
    display: none;
  }

  @media --breakpoint-lg {
    gap: 2rem;

    > svg {
      display: initial;
    }
  }
}

.logo {
  display: none;
  max-height: 40px;

  @media --breakpoint-lg {
    display: flex;
  }
}

.headerItems {
  max-height: 40px;
  display: flex;
  flex-direction: row;
}

.toggleButton {
  display: block;

  @media --breakpoint-lg {
    display: none !important;
  }
}

.sidebar {
  font-family: --font-family;
  background-color: --background;
  display: flex;
  flex-flow: column;
  flex: 0 0 var(--sideBarWidth);
  overflow-y: auto;
  transition: 200ms;
  position: fixed;
  top: 0;
  height: 100vh;
  width: var(--sideBarWidth);
  transform: translateX(calc(var(--sideBarWidth) * -1));
  z-index: calc(--z-index-base);
  border-right: 1px solid --border-subtle;

  @media --breakpoint-lg {
    position: sticky;
    top: var(--headerHeight);
    align-self: start;
    height: calc(100vh - var(--headerHeight));
    transform: none;
    width: var(--sideBarWidth);
  }
}

.main {
  font-family: --font-family;
  flex: 0 0 auto;
  width: 100%;
  min-height: 100%;

  @media --breakpoint-lg {
    background-color: --layer-01;
  }
}

.app {
  background-clip: content-box;
  background-color: --layer-01;

  @media --breakpoint-lg {
    padding: 2rem;
  }
}

.sidebarOpened {
  transform: translateX(0);
}

.sidebarHeader {
  padding: 1rem;
  margin-bottom: 1rem;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  overflow: hidden;
}

.appName {
  color: --text-primary;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

.collapseButton {
  display: none !important;
  padding: calc(0.875rem - 1px) !important;

  @media --breakpoint-lg {
    display: flex !important;
  }
}

.sidebarCollapsed {
  --sideBarWidth: 68px;

  transition: all 0.2s ease-out;

  .sidebarHeader {
    justify-content: center;
  }
}

.userName {
  color: --text-primary;
  margin: 0;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  display: none;

  @media --breakpoint-lg {
    display: block;
  }
}

.abbr {
  font-size: 0.875rem;
  font-weight: 500;
  align-self: center;
}

.userTitle {
  color: --text-primary;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  display: none;

  @media --breakpoint-lg {
    display: block;
  }
}

.title {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  display: block;

  @media --breakpoint-lg {
    display: none;
  }
}

.sidebarNav {
  padding: 0.5rem;
  overflow-y: auto;
  margin-bottom: auto;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.listGroupTitle {
  color: --text-secondary;
  font-size: 0.875rem;
  padding: 0.5rem;
  margin: 0;
}

.listItem {
  display: flex;
  position: relative;
}

.listItemCollapsed {
  justify-content: center;
}

.listLink {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem 0.5rem;
  color: --text-primary;
  flex: 1 0 0%;
  transition: 100ms;
  text-decoration: none;

  svg {
    stroke: --icon-primary;
  }

  &[data-hovered],
  &:visited {
    background-color: --menu-item-background-hover;
    color: --text-primary;
    cursor: pointer;

    svg {
      stroke: --icon-primary;
      min-width: 1.25rem;
    }
  }

  &[data-pressed] {
    background-color: --button-background-tertiary-active;
  }

  &[data-focused] {
    box-shadow: none;
  }

  &:focus-visible {
    outline: none;
  }

  &[data-focus-visible] {
    box-shadow: --focus;
    outline: none;
  }
}

.listLinkCollapsed {
  padding: 0.625rem;
  flex-grow: unset;
}

.active {
  background-color: --menu-item-background-selected;
  color: --text-primary;
  border-left: 0.125rem solid --border-tertiary;
  font-weight: 600;
}

.linkText {
  opacity: 1;
  display: block;
  transition: all 200ms;
  transition-behavior: allow-discrete;
}

.backdrop {
  pointer-events: none;
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgb(50 50 50 / 50%);
  opacity: 0;
  transition: all 100ms;
  transition-behavior: allow-discrete;

  &.backdropOpened {
    pointer-events: all;
    opacity: 1;
    display: block;
    transition: all 200ms;
  }
}

@starting-style {
  .backdrop.backdropOpened {
    opacity: 0;
  }

  .linkText {
    opacity: 0;
  }
}

.skipToContent {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: --z-index-skip-to-content;

  &[data-focus-visible],
  &:focus-visible {
    right: auto;
    left: 5px;
    top: 5px;
  }
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: --font-family;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid --border-subtle;
  background-color: --background;
}

.navbarList {
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  & > li {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  @media --breakpoint-lg {
    max-width: 600px;
  }
}

.navbarItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  color: --text-primary;
  text-decoration: none;
  font-size: --size-01;
  line-height: --line-height-02;
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;

  &[data-hovered],
  &[data-active] {
    background-color: --button-background-primary;
    color: --text-on-color;
    cursor: pointer;
  }

  & svg {
    flex: 0 0 auto;
  }

  @media --breakpoint-lg {
    gap: 0.5rem;
    flex-direction: row;
    padding: 1rem 0.5rem;
  }
}

.headerExternal {
  @media --breakpoint-sm {
    border: none;
  }
}

.headerContentExternal {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .logoExternalContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .logoExternal {
    @media --breakpoint-lg {
      display: none;
    }
  }

  .logoExternalDesktop {
    display: none;

    @media --breakpoint-lg {
      display: block;
    }
  }
}

.navbarWrapper {
  @media --breakpoint-lg {
    display: none;
  }
}
