.baseLayout {
  --sideBarWidth: 230px;
  --headerHeight: 69px;

  @media (width >= 1024px) {
    --headerHeight: 85px;
  }
}

.mainContent {
  display: flex;
  flex-direction: row;
}

.header {
  position: sticky;
  top: 0;
  font-family: var(--midas-typography-font-family);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--midas-border-color-subtle);
  background-color: var(--midas-background-base);

  &.headerExternal {
    padding: 1rem;

    @media (width >= 1024px) {
      padding: 1.25rem 1rem;
      z-index: 3;
    }
  }

  @media (width >= 1024px) {
    padding: 1.25rem 1rem;
    z-index: calc(var(--midas-z-index-sidebar) + var(--midas-z-index-above));
  }
}

.headerContent {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;

  > svg {
    display: none;
  }

  @media (width >= 1024px) {
    gap: 2rem;

    > svg {
      display: initial;
    }
  }
}

.logo {
  display: none;
  max-height: 40px;

  @media (width >= 1024px) {
    display: flex;
  }
}

.headerItems {
  max-height: 40px;
  display: flex;
  flex-direction: row;
}

.toggleButton {
  display: block;

  @media (width >= 1024px) {
    display: none !important;
  }
}

.sidebar {
  font-family: var(--midas-typography-font-family);
  background-color: var(--midas-background-base);
  display: flex;
  flex-flow: column;
  flex: 0 0 var(--sideBarWidth);
  overflow-y: auto;
  transition: 200ms;
  position: fixed;
  top: 0;
  height: 100vh;
  width: var(--sideBarWidth);
  transform: translateX(calc(var(--sideBarWidth) * -1));
  z-index: calc(var(--midas-z-index-sidebar));
  border-right: 1px solid var(--midas-border-color-subtle);

  @media (width >= 1024px) {
    position: sticky;
    top: var(--headerHeight);
    align-self: start;
    height: calc(100vh - var(--headerHeight));
    transform: none;
    width: var(--sideBarWidth);
  }
}

.main {
  font-family: var(--midas-typography-font-family);
  flex: 0 0 auto;
  width: 100%;
  min-height: 100%;
}

.app {
  background-clip: content-box;

  @media (width >= 1024px) {
    padding: 2rem;
  }
}

.sidebarOpened {
  transform: translateX(0);
}

.sidebarHeader {
  padding: 1rem;
  margin-bottom: 1rem;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  overflow: hidden;
}

.appName {
  color: var(--midas-text-primary);
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

.collapseButton {
  display: none !important;
  padding: calc(0.875rem - 1px) !important;

  @media (width >= 1024px) {
    display: flex !important;
  }
}

.sidebarCollapsed {
  --sideBarWidth: 68px;

  transition: all 0.2s ease-out;

  .sidebarHeader {
    justify-content: center;
  }
}

.userName {
  color: var(--midas-text-primary);
  margin: 0 0 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  display: none;

  @media (width >= 1024px) {
    display: block;
  }
}

.abbr {
  font-size: 0.875rem;
  font-weight: 500;
  align-self: center;
}

.userTitle {
  color: var(--midas-text-primary);
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  display: none;

  @media (width >= 1024px) {
    display: block;
  }
}

.title {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  display: block;

  @media (width >= 1024px) {
    display: none;
  }
}

.sidebarNav {
  padding: 0.5rem;
  overflow-y: auto;
  margin-bottom: auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem;
}

.listGroupTitle {
  color: var(--midas-text-secondary);
  font-size: 0.875rem;
  padding: 0.5rem;
  margin: 0;
}

.listItem {
  display: flex;
  position: relative;
}

.listItemCollapsed {
  justify-content: center;
}

.listLink {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem 0.5rem;
  color: var(--midas-text-primary);
  flex: 1 0 0%;
  transition: 100ms;
  text-decoration: none;

  svg {
    stroke: var(--midas-icon-primary);

    @media (forced-colors: active) {
      stroke: currentColor;
    }
  }

  &[data-hovered],
  &:visited {
    background-color: var(--midas-menu-item-background-hover);
    color: var(--midas-text-primary);
    cursor: pointer;

    svg {
      stroke: var(--midas-icon-primary);
      min-width: 1.25rem;

      @media (forced-colors: active) {
        stroke: currentColor;
      }
    }

    @media (forced-colors: active) {
      background-color: inherit;
      text-decoration: underline;
    }
  }

  &[data-pressed] {
    background-color: var(--midas-button-background-tertiary-active);
  }

  &[data-focused] {
    box-shadow: none;
  }

  &:focus-visible {
    outline: none;
  }

  &[data-focus-visible] {
    box-shadow: var(--midas-state-focus);
    outline: none;

    @media (forced-colors: active) {
      outline: var(--midas-state-focus-contrast-mode-outline) solid;
      outline-offset: var(--midas-state-focus-contrast-mode-offset);
    }
  }
}

.listLinkCollapsed {
  padding: 0.625rem;
  flex-grow: unset;
}

.active {
  background-color: var(--midas-menu-item-background-selected);
  color: var(--midas-text-primary);
  border-left: 0.125rem solid var(--midas-border-color-tertiary);
  font-weight: 600;

  @media (forced-colors: active) {
    transition: none;
  }
}

.linkText {
  opacity: 1;
  display: block;
  transition: all 200ms;
  transition-behavior: allow-discrete;
}

.backdrop {
  pointer-events: none;
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgb(50 50 50 / 50%);
  opacity: 0;
  transition: all 100ms;
  transition-behavior: allow-discrete;

  &.backdropOpened {
    pointer-events: all;
    opacity: 1;
    display: block;
    transition: all 200ms;
  }
}

@starting-style {
  .backdrop.backdropOpened {
    opacity: 0;
  }

  .linkText {
    opacity: 0;
  }
}

.skipToContent {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: var(--midas-z-index-skip-to-content);

  &[data-focus-visible],
  &:focus-visible {
    right: auto;
    left: 5px;
    top: 5px;
  }
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: var(--midas-typography-font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--midas-border-color-subtle);
  background-color: var(--midas-background-base);
}

.navbarList {
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  & > li {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  @media (width >= 1024px) {
    max-width: 600px;
  }
}

.navbarItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  color: var(--midas-text-primary);
  text-decoration: none;
  font-size: var(--midas-typography-font-size-10);
  line-height: var(--midas-typography-line-height-20);
  text-align: center;
  text-wrap: nowrap;
  text-overflow: ellipsis;

  &[data-hovered],
  &[data-active] {
    background-color: var(--midas-button-background-primary-base);
    color: var(--midas-text-on-color);
    cursor: pointer;

    @media (forced-colors: active) {
      text-decoration: underline;
    }
  }

  &[data-focus-visible] {
    @media (forced-colors: active) {
      outline: var(--midas-state-focus-contrast-mode-outline) solid;
      outline-offset: var(--midas-state-focus-contrast-mode-offset);
    }
  }

  & svg {
    flex: 0 0 auto;
  }

  @media (width >= 1024px) {
    gap: 0.5rem;
    flex-direction: row;
    padding: 1rem 0.5rem;
  }
}

.headerExternal {
  @media (width <= 479px) {
    border: none;
  }
}

.headerContentExternal {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .logoExternalContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .logoExternal {
    @media (width >= 1024px) {
      display: none;
    }
  }

  .logoExternalDesktop {
    display: none;

    @media (width >= 1024px) {
      display: block;
    }
  }
}

.navbarWrapper {
  @media (width >= 1024px) {
    display: none;
  }
}

@media (prefers-reduced-motion) {
  .sidebar,
  .sidebarCollapsed,
  .listLink,
  .linkText,
  .backdrop,
  .backdrop.backdropOpened {
    transition: none;
  }

  @starting-style {
    .backdrop.backdropOpened,
    .linkText {
      opacity: 1;
    }
  }
}
