.push {
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: width var(--midas-transition-duration-slow);
  width: 0;
}

.push[data-open] {
  width: var(--panel-width);
}

@media (width < 800px) {
  .push {
    height: 0;
    width: 100%;
    transition: height var(--midas-transition-duration-slow);
  }

  .push[data-open] {
    height: var(--panel-height-mobile);
    width: 100%;
  }
}
