:root {
  --panel-width: 300px;
  --panel-height-mobile: 40vh;
}

.panel {
  background: var(--midas-background-base);
  box-shadow: var(--midas-panel-shadow);
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--panel-width);
  border-left: 1px solid var(--midas-border-color-subtle);

  &[data-promoting] {
    animation: promote var(--midas-transition-duration-slow) ease-out;
  }

  @media (prefers-reduced-motion: reduce) {
    &[data-promoting] {
      animation-duration: 1ms;
    }
  }

  &[data-entering] {
    animation: slide-horizontally var(--midas-transition-duration-slow);
  }

  &[data-exiting] {
    animation: slide-horizontally var(--midas-transition-duration-slow) reverse
      ease-in;
  }

  @media (prefers-reduced-motion: reduce) {
    &[data-entering],
    &[data-exiting] {
      animation-duration: 1ms;
    }
  }

  @media (width < 800px) {
    bottom: 0;
    width: 100%;
    height: var(--panel-height-mobile);
    left: 0;
    top: unset;
    border-left: none;
    border-top: 1px solid var(--midas-border-color-subtle);

    &[data-entering] {
      animation: slide-vertically var(--midas-transition-duration-slow);
    }

    &[data-exiting] {
      animation: slide-vertically var(--midas-transition-duration-slow) reverse
        ease-in;
    }
  }
}

.panelActions {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.panelTitle {
  font-size: var(--midas-typography-font-size-30);
  font-weight: var(--midas-typography-weight-semi-bold);
  line-height: var(--midas-typography-line-height-50);
  display: block;
}

@keyframes promote {
  from {
    opacity: 0.7;
    transform: scale(0.97);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-horizontally {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-vertically {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
