@import url('../../../../../../packages/components/src/theme/variables.css');

.kaffekopp {
  border: 1px solid var(--midas-border-color-primary);
  background-color: var(--midas-button-background-primary-base);
  color: var(--midas-text-on-color);
  padding: var(--midas-spacing-30);
  width: fit-content;

  &:hover {
    background-color: var(--midas-button-background-primary-hover);
  }
}
