@value tokens: "../theme/tokens.css";
@value --border-secondary, --button-background-secondary-active, --focus, --focus-inset, --font-family, --font-size-10, --font-size-20, --font-size-30, --icon-disabled, --icon-primary, --layer-01, --layer-hover-01, --line-height-10, --line-height-20, --line-height-30, --menu-item-background-selected, --menu-text-section-header, --size-05, --size-10, --size-20, --size-30, --size-40, --size-50, --size-60, --size-80, --text-disabled, --text-primary, --text-secondary from tokens;

.menu {
  /* TODO: Is there supposed to be a box shadow in dark mode aswell? */
  background-color: --layer-01;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
  font-family: --font-family;

  &:focus-visible {
    outline: none;
  }

  .menuSection {
    header {
      background-color: --layer-01;
      display: flex;
      padding: --size-80 --size-80 --size-10 --size-60;
      color: --menu-text-section-header;
      font-size: --font-size-20;
      line-height: --line-height-20;
    }
  }

  &.medium .menuSection {
    header {
      padding: --size-80 --size-60 --size-10;
    }
  }

  .menuItem {
    align-items: center;
    background-color: --layer-01;
    color: --text-primary;
    display: grid;
    font-size: --font-size-30;
    gap: 0;
    grid-template-areas:
      'label kbd'
      'desc kbd';
    justify-content: space-between;
    line-height: --line-height-30;
    padding: --size-50 --size-40 --size-50 --size-80;

    &[data-disabled] {
      background-color: --menu-item-background-selected;
      color: --text-disabled;
      cursor: not-allowed;
    }

    &:focus-visible {
      outline: none;
    }

    &[data-focus-visible] {
      background-color: --menu-item-background-selected;
      box-shadow: --focus-inset;
      outline: none;
    }

    &:not([data-has-submenu]) {
      padding-right: --size-80;
    }

    &[data-hovered] {
      background-color: --layer-hover-01;
      cursor: pointer;
      transition-delay: 60ms;
    }

    &[data-open] {
      background-color: --button-background-secondary-active;
    }

    &[data-selection-mode='multiple'] {
      justify-content: start;
    }

    [slot='description'] {
      font-size: --font-size-10;
      grid-area: desc;
      line-height: --line-height-10;
      margin: 0;
    }

    kbd {
      color: --text-secondary;
      font-family: --font-family;
      font-size: --font-size-20;
      grid-area: kbd;
      line-height: --line-height-20;
      margin-left: --size-60;
      text-align: end;
    }
  }

  &.medium .menuItem {
    padding: --size-30 --size-40 --size-30 --size-80;
  }

  .checkMark {
    color: --icon-disabled;
    margin-right: --size-40;

    &[data-selected] {
      color: --icon-primary;
    }
  }

  .separator {
    align-items: flex-start;
    align-self: stretch;
    background-color: --layer-01;
    border-bottom: --size-05 solid --border-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 --size-20 --size-30;
    padding: --size-30 0 0;
  }
}

.menuPopover {
  &:focus-visible {
    outline: none;
  }
}
