@value tokens: "../theme/tokens.css";
@value --text-warning, --font-family from tokens;

.fieldError {
  font-family: --font-family;
  color: --text-warning;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin: 0.5rem 0 0;
  line-height: 1.28;
  grid-area: Error;

  &:has(+ *) {
    margin: 0 0 0.5rem;
  }

  &::before {
    content: '';
    background-color: --text-warning;
    display: block;
    width: 1rem;
    height: 1rem;
    mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtdHJpYW5nbGUtYWxlcnQiPjxwYXRoIGQ9Im0yMS43MyAxOC04LTE0YTIgMiAwIDAgMC0zLjQ4IDBsLTggMTRBMiAyIDAgMCAwIDQgMjFoMTZhMiAyIDAgMCAwIDEuNzMtMyIvPjxwYXRoIGQ9Ik0xMiA5djQiLz48cGF0aCBkPSJNMTIgMTdoLjAxIi8+PC9zdmc+');
    mask-size: 1rem 1rem;
    flex: 0 0 auto;
    align-self: flex-start;
    margin: 2px;
  }
}
