@value tokens: "../theme/tokens.css";
@value --font-family, --text-primary, --text-disabled, --border-strong, --layer-hover-01, --border-disabled, --breakpoint-sm, --border-invalid, --icon-on-color, --layer-hover-01, --button-background-primary, --button-background-primary-active, --button-background-primary-hover, --border-invalid, --field-disabled, --focus from tokens;

.wrap {
  grid-area: Input;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkboxInner {
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border: 1px solid --border-strong;
  transition: all 200ms;
  align-items: center;
  justify-content: center;
  forced-color-adjust: none;
  display: flex;

  @media (forced-colors: active) {
    outline: 3px solid highlight;
    outline-offset: -2px;
  }

  & svg {
    width: 1rem;
    height: 1rem;
    fill: none;
    stroke: --icon-on-color;
    stroke-width: 2px;
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
    transition: all 200ms;
  }
}

.checkbox {
  font-family: --font-family;
  font-weight: 400;
  gap: 0.5rem;
  align-items: center;
  forced-color-adjust: none;
  display: flex;
  width: max-content;
  cursor: pointer;
  color: --text-primary;

  &[data-hovered] div {
    border-color: --button-background-primary-hover;
  }

  &[data-pressed] div {
    border-color: --button-background-primary-active;
  }

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: --focus;
    outline: none;
  }

  &[data-selected] div,
  &[data-indeterminate] div {
    background: --button-background-primary;
    border-color: --button-background-primary;
  }

  &[data-invalid] div {
    border: 2px solid --border-invalid;
  }

  &[data-disabled] div {
    pointer-events: none;
    border: 1px solid --border-disabled;
  }

  &[data-selected]:hover div,
  &[data-indeterminate]:hover div {
    background: --button-background-primary-hover;
    border-color: --button-background-primary-hover;
  }

  &[data-selected][data-pressed] div,
  &[data-indeterminate][data-pressed] div {
    border-color: --button-background-primary-active;
    background: --button-background-primary-active;
  }

  &[data-selected] svg,
  &[data-indeterminate] svg {
    stroke-dashoffset: 44;
  }

  &[data-indeterminate] svg {
    stroke: none;
    fill: --icon-on-color;
  }

  &[data-invalid]:hover div {
    opacity: 0.5;
    border-color: --border-invalid;
  }

  &[data-invalid][data-pressed] div {
    border-color: --border-invalid;
  }

  &[data-disabled] {
    color: --text-disabled;
    cursor: not-allowed;
  }

  &[data-disabled][data-selected] div {
    pointer-events: none;
    border: none;
    background: --field-disabled;
  }

  &[data-disabled][data-indeterminate] div {
    pointer-events: none;
    border: none;
    background: --field-disabled;
  }

  @media (forced-colors: active) {
    color: activeText;
  }
}

.checkboxGroup {
  font-family: --font-family;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  min-width: 150px;

  &[data-disabled] {
    color: --text-disabled;
  }

  .checkbox {
    @media --breakpoint-sm {
      padding: 0.875rem 1rem;
      border: 1px solid --border-strong;
      width: auto;

      &[data-hovered] {
        background-color: --layer-hover-01;
      }

      &[data-invalid] {
        border: 2px solid --border-invalid;
      }

      &[data-disabled] {
        pointer-events: none;
        border-color: --border-disabled;
      }
    }
  }
}
