.checkboxInner {
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--semantic-border-primary);
  transition: all 200ms;
  align-items: center;
  justify-content: center;
  display: flex;

  @media (forced-colors: active) {
    outline: 3px solid highlight;
    outline-offset: -2px;
  }

  & svg {
    width: 1rem;
    height: 1rem;
    fill: none;
    stroke: var(--semantic-icon-on-color);
    stroke-width: 2px;
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
    transition: all 200ms;
  }
}

.checkbox {
  font-family: var(--typography-font-family);
  font-weight: 400;
  gap: 0.5rem;
  align-items: center;
  display: flex;
  width: max-content;
  cursor: pointer;
  color: var(--semantic-text-primary);
  line-height: var(--typography-line-height-30);

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &[data-hovered] div {
    border-color: var(--semantic-button-background-primary-hover);
  }

  &[data-pressed] div {
    border-color: var(--semantic-button-background-primary-active);
  }

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: var(--state-focus);
    outline: none;
  }

  &[data-selected] div,
  &[data-indeterminate] div {
    background: var(--semantic-button-background-primary);
    border-color: var(--semantic-button-background-primary);
  }

  &[data-invalid] div {
    border: 2px solid var(--semantic-support-border-warning);
  }

  &[data-disabled] div {
    pointer-events: none;
    border: 1px solid var(--semantic-border-disabled);
  }

  &[data-selected]:hover div,
  &[data-indeterminate]:hover div {
    background: var(--semantic-button-background-primary-hover);
    border-color: var(--semantic-button-background-primary-hover);
  }

  &[data-selected][data-pressed] div,
  &[data-indeterminate][data-pressed] div {
    border-color: var(--semantic-button-background-primary-active);
    background: var(--semantic-button-background-primary-active);
  }

  &[data-selected] svg,
  &[data-indeterminate] svg {
    stroke-dashoffset: 44;
  }

  &[data-indeterminate] svg {
    stroke: none;
    fill: var(--semantic-icon-on-color);
  }

  &[data-invalid]:hover div {
    opacity: 0.5;
    border-color: var(--semantic-support-border-warning);
  }

  &[data-invalid][data-pressed] div {
    border-color: var(--semantic-support-border-warning);
  }

  &[data-disabled] {
    color: var(--semantic-text-disabled);
    cursor: not-allowed;
  }

  &[data-disabled][data-selected] div {
    pointer-events: none;
    border: none;
    background: var(--semantic-field-disabled);
  }

  &[data-disabled][data-indeterminate] div {
    pointer-events: none;
    border: none;
    background: var(--semantic-field-disabled);
  }
}

.checkboxGroup {
  font-family: var(--typography-font-family);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  min-width: 150px;

  &[data-disabled] {
    color: var(--semantic-text-disabled);
  }

  .checkbox {
    @media var(--breakpoint-xs) {
      padding: 0.875rem 1rem;
      border: 1px solid var(--semantic-border-primary);
      width: auto;

      &[data-hovered] {
        background-color: var(--semantic-layer-hover-01);
      }

      &[data-invalid] {
        border: 2px solid var(--semantic-support-border-warning);
      }

      &[data-disabled] {
        pointer-events: none;
        border-color: var(--semantic-border-disabled);
      }
    }
  }
}