.checkboxInner {
  --border-color: var(--midas-border-color-primary);

  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  transition:
    background-color 50ms,
    border-color 50ms;

  &[data-readonly] {
    --border-color: var(--midas-border-color-read-only);
  }
}

/* path animations  */

.checkboxInner svg path {
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
  transition: stroke-dashoffset 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox[data-selected] svg path,
.checkbox[data-indeterminate] svg path {
  stroke-dashoffset: 0;
}

/* ===========================
   Checkbox Container
=========================== */
.checkbox {
  /* Shared state variables */
  --checkbox-base-color: var(--midas-button-background-primary-base);
  --checkbox-hover-color: var(--midas-button-background-primary-hover);
  --checkbox-active-color: var(--midas-button-background-primary-active);
  --checkbox-disabled-border: var(--midas-border-color-disabled);
  --checkbox-disabled-background: var(--midas-field-disabled);
  --checkbox-readonly-border: var(--midas-border-color-read-only);
  --checkbox-warning-border: var(--midas-support-border-warning);

  font-family: var(--midas-typography-font-family);
  font-weight: var(--midas-typography-weight-regular);
  gap: 0.5rem;
  align-items: center;
  display: flex;
  width: max-content;
  cursor: pointer;
  color: var(--midas-text-primary);
  line-height: var(--midas-typography-line-height-30);

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  /* Focus ring */
  &[data-focus-visible],
  &:focus-visible {
    box-shadow: var(--midas-state-focus);
    outline: none;

    @media (forced-colors: active) {
      outline: var(--midas-state-focus-contrast-mode-outline) solid;
      outline-offset: var(--midas-state-focus-contrast-mode-offset);
    }
  }

  /* Hover / Pressed */
  &[data-hovered] .checkboxInner {
    border-color: var(--checkbox-hover-color);
  }

  &[data-pressed] .checkboxInner {
    border-color: var(--checkbox-active-color);
  }

  /* Selected / Indeterminate */
  &[data-selected] .checkboxInner,
  &[data-indeterminate] .checkboxInner {
    background: var(--checkbox-base-color);
    border-color: var(--checkbox-base-color);
  }

  &[data-selected]:hover .checkboxInner,
  &[data-indeterminate]:hover .checkboxInner {
    background: var(--checkbox-hover-color);
    border-color: var(--checkbox-hover-color);
  }

  &[data-selected][data-pressed] .checkboxInner,
  &[data-indeterminate][data-pressed] .checkboxInner {
    background: var(--checkbox-active-color);
    border-color: var(--checkbox-active-color);
  }

  /* Invalid */
  &[data-invalid] .checkboxInner {
    outline: 2px solid var(--checkbox-warning-border);
    outline-offset: -2px;
  }

  &[data-invalid]:hover .checkboxInner {
    opacity: 0.5;
    transition: opacity 50ms ease;
  }

  /* Disabled */
  &[data-disabled] {
    color: var(--midas-text-disabled);
    cursor: not-allowed;
  }

  &[data-disabled] .checkboxInner {
    pointer-events: none;
    border: 1px solid var(--checkbox-disabled-border);
  }

  &[data-disabled][data-selected] .checkboxInner,
  &[data-disabled][data-indeterminate] .checkboxInner {
    background: var(--checkbox-disabled-background);
  }

  /* Read-only */
  &[data-readonly],
  &[data-readonly][data-indeterminate],
  &[data-readonly][data-selected] {
    pointer-events: none;
    background-color: transparent;
    border-color: var(--checkbox-readonly-border);

    & .checkboxInner {
      border-color: var(--checkbox-readonly-border);
      background: transparent;
    }

    & svg {
      stroke: currentColor;
    }
  }
}

/* ===========================
   Checkbox Group
=========================== */
.checkboxGroup {
  font-family: var(--midas-typography-font-family);
  font-size: var(--midas-typography-font-size-30);
  display: flex;
  flex-direction: column;
  min-width: 150px;

  &[data-disabled] {
    color: var(--midas-text-disabled);
  }

  .checkbox {
    @media (width <= 479px) {
      padding: 0.875rem 1rem;
      border: 1px solid var(--midas-border-color-primary);
      width: auto;

      &[data-hovered] {
        background-color: var(--midas-layer-01-hover);
      }

      &[data-invalid] {
        border: 2px solid var(--checkbox-warning-border);
      }

      &[data-disabled] {
        border-color: var(--checkbox-disabled-border);
        pointer-events: none;
      }

      &[data-readonly] {
        border-color: var(--checkbox-readonly-border);
      }
    }
  }
}

/* ===========================
   High Contrast Mode
=========================== */
@media (forced-colors: active) {
  .checkbox[data-hovered] .checkboxInner,
  .checkbox[data-selected] .checkboxInner,
  .checkbox[data-indeterminate] .checkboxInner {
    border-color: SelectedItem;
  }

  .checkbox[data-selected] .checkboxInner,
  .checkbox[data-indeterminate] .checkboxInner {
    background: SelectedItem;
  }

  .checkbox[data-disabled] {
    color: GrayText;
  }

  .checkbox[data-disabled] .checkboxInner {
    border-color: GrayText;
  }

  .checkbox[data-disabled][data-selected] .checkboxInner,
  .checkbox[data-disabled][data-indeterminate] .checkboxInner {
    background: GrayText;
  }
}
