@value tokens: "../theme/tokens.css";
@value --font-family, --border-primary, --layer-02, --layer-hover-02, --layer-selected-02, --focus, --fast-transition, --text-primary, --blue-20 from tokens;

.card {
  position: relative;
  font-family: --font-family;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 1.5rem;
  border-bottom: 1px solid --border-primary;
  background-color: --layer-02;
  transition:
    transform --fast-transition ease-in-out,
    background-color --fast-transition ease-in-out;

  &:has([data-hovered]) {
    background-color: --layer-hover-02;
  }

  &:has([data-pressed]) {
    background-color: --layer-selected-02;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.heading {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: --text-primary;
}

.image {
  height: auto;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  vertical-align: middle;
  aspect-ratio: 4/3;
}

.text {
  margin-block-start: 0;
  color: --text-primary;
  margin: 0;
  padding: 0;
}
