@value tokens: "../theme/tokens.css";
@value --font-family, --background, --border-primary, --layer-01, --layer-hover-01, --border-secondary, --support-background-success, --support-border-success, --support-background-warning, --support-border-warning, --button-background-icon-hover, --button-background-icon-active, --focus, --z-index-base, --icon-primary from tokens;

.card {
  font-family: --font-family;
  position: relative;
  background-color: --layer-01;
  border-bottom: 1px solid --border-secondary;

  &.horizontal {
    display: flex;
    flex-flow: row wrap;
  }

  &:has(.cardLink:hover) {
    background-color: --layer-hover-01;
  }
}

.cardContent {
  padding: 1rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem 1rem;
  flex-grow: 1;

  &.horizontal {
    padding: 0.5rem 1.5rem;
    flex-direction: row;
    align-items: center;
    column-gap: 1.5rem;
  }
}

.cardActions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  &.horizontal {
    margin-left: auto;
  }
}

.cardActionArea {
  border: 0;
  padding: 0;
  text-align: unset;
  background-color: unset;
  cursor: pointer;
  width: 100%;

  &[data-hovered] {
    background-color: --button-background-icon-hover;
  }

  &[data-pressed] {
    background-color: --button-background-icon-active;
  }

  &:focus {
    outline: none;
  }

  &[data-focused] {
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 2px solid highlight;
    }
  }
}

.cardImage {
  max-width: 100%;
  height: auto;

  &.horizontal {
    max-width: unset;
  }
}

.cardLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &[data-focused], 
  &:focus {
    outline: none;
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 2px solid highlight;
    }
  }

  &::after {
    position: absolute;
    inset: 0;
    z-index: --z-index-base;
    content: '';
  }

  .cardLinkIcon {
    color: --icon-primary;
  }
}
