@value tokens: "../theme/tokens.css";
@value --font-family, --background, --border-primary, --layer-01, --border-subtle, --support-background-success, --support-border-success, --support-background-warning, --support-border-warning, --button-background-icon-hover, --button-background-icon-active, --focus from tokens;

.card {
  font-family: --font-family;
  position: relative;
  background-color: --layer-01;
  border-bottom: 1px solid --border-subtle;

  &.horizontal {
    display: flex;
    flex-flow: row wrap;
  }
}

.cardContent {
  padding: 0.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;

  &.horizontal {
    padding: 1rem 1.5rem;
    flex-direction: row;
    align-items: center;
  }

  .cardTitle {
    margin: 0.625rem 0;

    &.horizontal {
      margin: 0;
    }
  }
}

.cardActions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  &.horizontal {
    margin-left: auto;
  }
}

.cardActionArea {
  border: 0;
  padding: 0;
  text-align: unset;
  background-color: unset;
  cursor: pointer;
  width: 100%;

  &[data-hovered] {
    background-color: --button-background-icon-hover;
  }

  &[data-pressed] {
    background-color: --button-background-icon-active;
  }

  &:focus {
    outline: none;
  }

  &[data-focused] {
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 2px solid highlight;
    }
  }
}

.cardImage {
  max-width: 100%;
  height: auto;

  &.horizontal {
    max-width: unset;
  }
}
