@value tokens: "../theme/tokens.css";
@value --font-family, --background, --border-primary, --layer-01, --border-subtle, --support-background-success, --support-border-success, --button-background-icon-hover, --button-background-icon-active, --focus from tokens;

.card {
  font-family: --font-family;
  position: relative;
  background-color: --layer-01;
  border-bottom: 1px solid --border-subtle;

  &.cardEditable {
    background-color: --background;
    border: 2px solid --border-primary;
  }

  &.cardSuccess {
    background-color: --support-background-success;
    border-bottom-color: --support-border-success;
  }

  &.horizontal {
    display: flex;
    flex-flow: row wrap;
  }
}

.cardContent {
  padding: 0.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.horizontal {
    padding: 1rem 1.5rem;
    flex-direction: row;
  }

  .cardTitle {
    margin: 0.625rem 0;

    &.horizontal {
      margin: 0;
    }
  }
}

.cardActions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.cardActionArea {
  border: 0;
  padding: 0;
  text-align: unset;
  background-color: unset;
  cursor: pointer;
  width: 100%;

  &[data-hovered] {
    background-color: --button-background-icon-hover;
  }

  &[data-pressed] {
    background-color: --button-background-icon-active;
  }

  &:focus {
    outline: none;
  }

  &[data-focused] {
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 2px solid highlight;
    }
  }
}

.cardImage {
  max-width: 100%;
  height: auto;
}
