.navbar {
  background-color: var(--midas-layer-01-base);
  grid-area: navbar;
  margin-top: 1rem;

  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      list-style: none;

      a {
        align-items: center;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: flex-end;
        padding: 1rem;

        &[data-hovered],
        &[data-active] {
          background-color: var(--midas-menu-item-background-hover);
        }

        &[data-active] {
          border-color: var(--midas-border-color-tertiary);
        }

        svg {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
