.navbar {
  background-color: var(--midas-background-base);
  border-top: 1px solid var(--midas-border-color-subtle);

  @media (width > 640px) {
    display: none;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      list-style: none;
      flex: 1 1 0;
    }
  }
}
