:root {
  color: var(--midas-text-primary);
}

.body,
.body-02 {
  &[data-expressive] {
    line-height: var(--midas-typography-line-height-50);
  }
}

.body {
  font: var(--midas-typography-body);
}

.body-small {
  font: var(--midas-typography-body-small);
}

.description-small {
  font: var(--midas-typography-description-small);
}

.body-01,
.body-02 {
  font: var(--midas-typography-body);
}

.body-01 {
  line-height: var(--midas-typography-line-height-30);
}

.body-02 {
  line-height: var(--midas-typography-line-height-40);
}

em.body,
em.body-small,
em.description,
em.description-small,
em.body-01,
em.body-02,
i.body,
i.body-small,
i.description,
i.description-small,
i.body-01,
i.body-02 {
  font-style: italic;
}

strong.body,
strong.body-small,
strong.description,
strong.description-small,
strong.body-01,
strong.body-02,
b.body,
b.body-small,
b.description,
b.description-small,
b.body-01,
b.body-02 {
  font-weight: bold;
}

.description {
  font: var(--midas-typography-description);
  margin-bottom: 0.5rem;

  & > [data-disabled],
  [data-disabled] & {
    color: var(--midas-text-disabled);

    @media (forced-colors: active) {
      color: GrayText;
    }
  }

  & > [data-readonly],
  [data-readonly] & {
    color: var(--midas-text-read-only);
  }
}
