.body,
.body-small,
.description,
.description-small {
  color: var(--midas-text-primary);
}

.body {
  font: var(--midas-typography-body);

  &[data-expressive] {
    line-height: var(--midas-typography-line-height-50);
  }
}

.body-small {
  font: var(--midas-typography-body-small);
}

.description-small {
  font: var(--midas-typography-description-small);
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.description {
  font: var(--midas-typography-description);
  margin-bottom: var(--midas-spacing-30);

  & > [data-disabled],
  [data-disabled] & {
    color: var(--midas-text-disabled);

    @media (forced-colors: active) {
      color: GrayText;
    }
  }

  & > [data-readonly],
  [data-readonly] & {
    color: var(--midas-text-read-only);
  }
}
