.body-01,
.body-02 {
  color: var(--midas-text-primary);
  font-weight: 400;
  font-family: var(--midas-typography-font-family);
  font-size: var(--midas-typography-font-size-30);
}

.body-01 {
  line-height: var(--midas-typography-line-height-30);
}

.body-02 {
  line-height: var(--midas-typography-line-height-40);

  &[data-expressive] {
    line-height: var(--midas-typography-line-height-50);
  }
}

.description {
  color: var(--midas-text-primary);
  font-size: var(--midas-typography-font-size-20);
  line-height: var(--midas-typography-line-height-20);
  font-weight: 400;
  font-family: var(--midas-typography-font-family);
  margin-bottom: 0.5rem;

  & > [data-disabled],
  [data-disabled] & {
    color: var(--midas-text-disabled);

    @media (forced-colors: active) {
      color: GrayText;
    }
  }

  & > [data-readonly],
  [data-readonly] & {
    color: var(--midas-text-read-only);
  }
}
