@value tokens: "../theme/tokens.css";
@value --text-primary, --font-family, --size-02, --size-03, --line-height-02, --line-height-03, --line-height-04, --line-height-05, --text-disabled from tokens;

.body-01,
.body-02 {
  color: --text-primary;
  font-weight: 400;
  font-family: --font-family;
  font-size: --size-03;
}

.body-01 {
  line-height: --line-height-03;
}

.body-02 {
  line-height: --line-height-04;

  &[data-expressive] {
    line-height: --line-height-05;
  }
}

.description {
  color: --text-primary;
  font-size: --size-02;
  line-height: --line-height-02;
  font-weight: 400;
  font-family: --font-family;
  margin-bottom: 0.5rem;

  &:has(~ [data-disabled]) {
    color: --text-disabled;
  }
}

[data-disabled] {
  > .description {
    color: --text-disabled;
  }
}
