.item {
  --item-padding: 0;
  --content-padding: var(--midas-size-20) var(--midas-size-40)
    var(--midas-size-40) 1.85rem;
  --border: none;
  --accordion-background: transparent;
  --accordion-background-hover: transparent;
  --text-color: var(--midas-text-primary);
  --icon-color: var(--midas-icon-primary);

  font-family: var(--midas-typography-font-family);
  color: var(--text-color);
  background-color: var(--accordion-background);
  border: var(--border);
  border-color: var(--border-color);
}

.contained {
  --gap: 0.25rem;
  --item-padding: 0.75rem;
  --content-padding: var(--midas-size-60) var(--midas-size-80)
    var(--midas-size-80) var(--midas-size-80);
  --border-color: var(--midas-border-color-secondary);
  --border: 1px solid;
  --accordion-background: var(--midas-layer-01-base);
  --accordion-background-hover: var(--midas-layer-01-hover);
}

.success {
  --accordion-background: var(--midas-support-background-success);
  --accordion-background-hover: var(--midas-support-background-success-hover);
  --border-color: var(--midas-support-border-success);
}

.warning {
  --accordion-background: var(--midas-support-background-warning);
  --accordion-background-hover: var(--midas-support-background-warning-hover);
  --border-color: var(--midas-support-border-warning);
}

.info {
  --accordion-background: var(--midas-support-background-info);
  --accordion-background-hover: var(--midas-support-background-info-hover);
  --border-color: var(--midas-support-border-info);
}

.important {
  --accordion-background: var(--midas-support-background-important);
  --accordion-background-hover: var(--midas-support-background-important-hover);
  --border-color: var(--midas-support-border-important);
}

.item[data-disabled] {
  --border-color: var(--midas-border-color-disabled);
  --icon-color: var(--midas-text-disabled);
  --text-color: var(--midas-text-disabled);

  .triggerButton {
    background: transparent;
  }

  .triggerText {
    color: var(--midas-text-disabled);
  }
}

.trigger {
  border: 0;
  cursor: pointer;
  margin: 0;
  position: relative;
  z-index: 1;
}

.triggerMainContent {
  flex: 1 0 0;
  text-align: left;
}

.triggerText {
  margin: 0;
  padding: 0;
}

:not(#\9) .triggerButton {
  width: 100%;
  padding: var(--item-padding);
  align-items: flex-start;
  min-height: unset;
}

.chevronIcon {
  transform: rotate(0deg);
  transition: transform var(--midas-transition-duration-normal) ease;
  padding: 0.125rem 0;
}

.statusIcon {
  color: var(--icon-color);
  padding: 0.125rem 0;
}

.triggerButton[aria-expanded='true'] .chevronIcon {
  transform: rotate(-180deg);
  transition: transform var(--midas-transition-duration-normal) ease;
}

.triggerButton[data-hovered] {
  background-color: var(--accordion-background-hover);
}

.panel[aria-hidden='true'] {
  height: 0;
  transition: var(--midas-transition-panel-collapse) allow-discrete;
  overflow-y: clip;
}

.panel[aria-hidden='false'] {
  transition: var(--midas-transition-panel-expand) allow-discrete;
  height: auto;
  height: calc-size(min-content, size);
}

.content {
  height: auto;
  padding: var(--content-padding);
}

.hasBackground {
  background-color: var(--midas-background-base);
}

.header {
  margin: 0;
}
