.item {
  --item-padding: 0;
  --content-padding: 0.5rem 0.5rem 0.5rem 1.85rem;
  --border: none;
  --accordion-background: transparent;
  --accordion-background-hover: transparent;
  --text-color: var(--semantic-text-primary);

  font-family: var(--typography-font-family);
  color: var(--text-color);
  background-color: var(--accordion-background);
  border: var(--border);
  border-color: var(--border-color);
}

.contained {
  --gap: 0.25rem;
  --item-padding: 0.75rem;
  --content-padding: 1rem;
  --border-color: var(--semantic-border-secondary);
  --border: 1px solid;
  --accordion-background: var(--semantic-layer-01);
  --accordion-background-hover: var(--semantic-layer-hover-01);
}

.success {
  --accordion-background: var(--semantic-support-background-success);
  --accordion-background-hover: var(--semantic-support-background-success-hover);
  --icon-color: var(--semantic-icon-success);
  --border-color: var(--semantic-support-border-success);
}

.warning {
  --accordion-background: var(--semantic-support-background-warning);
  --accordion-background-hover: var(--semantic-support-background-warning-hover);
  --icon-color: var(--semantic-icon-warning);
  --border-color: var(--semantic-support-border-warning);
}

.info {
  --accordion-background: var(--semantic-support-background-info);
  --accordion-background-hover: var(--semantic-support-background-info-hover);
  --icon-color: var(--semantic-icon-info);
  --border-color: var(--semantic-support-border-info);
}

.important {
  --accordion-background: var(--semantic-support-background-important);
  --accordion-background-hover: var(--semantic-support-background-important-hover);
  --icon-color: var(--semantic-icon-important);
  --border-color: var(--semantic-support-border-important);
}

.item[data-disabled] {
  --border-color: var(--semantic-border-disabled);
  --icon-color: var(--semantic-text-disabled);
  --text-color: var(--semantic-text-disabled);

  .triggerButton {
    background: transparent;
  }

  .triggerText {
    color: var(--semantic-text-disabled);
  }
}

.trigger {
  border: 0;
  cursor: pointer;
  margin: 0;
}

.triggerMainContent {
  flex: 1 0 0;
  text-align: left;
}

.triggerText {
  margin: 0;
  padding: 0;
}

.triggerButton {
  width: 100%;
  padding: var(--item-padding);
  align-items: flex-start;
  min-height: unset;
}

.chevronIcon {
  transform: rotate(0deg);
  transition: transform var(--transition-normal) ease;
  padding: 0.125rem 0;
}

.statusIcon {
  color: var(--icon-color);
  padding: 0.125rem 0;
}

.triggerButton[aria-expanded='true'] .chevronIcon {
  transform: rotate(-180deg);
  transition: transform var(--transition-normal) ease;
}

.triggerButton[data-hovered] {
  background-color: var(--accordion-background-hover);
}

.panel[aria-hidden='true'] {
  height: 0;
  transition: var(--transition-fast) cubic-bezier(0.16, 1, 0.3, 1) allow-discrete;
  overflow-y: clip;
}

.panel[aria-hidden='false'] {
  transition: var(--transition-fast) cubic-bezier(0.16, 1, 0.3, 1) allow-discrete;
  height: auto;
  height: calc-size(min-content, size);
}

.content {
  height: auto;
  padding: var(--content-padding);
}

.hasBackground {
  background-color: var(--semantic-background);
}

.header {
  margin: 0;
}