.item {
  --item-padding: 0;
  --content-padding: var(--midas-spacing-20) var(--midas-spacing-50)
    var(--midas-spacing-50) 1.85rem;
  --border: none;
  --accordion-background: transparent;
  --accordion-background-hover: transparent;
  --text-color: var(--midas-text-primary);
  --icon-color: var(--midas-icon-primary);

  font-family: var(--midas-typography-font-family);
  color: var(--text-color);
  background-color: var(--accordion-background);
  border: var(--border);
  border-color: var(--border-color);
}

.contained {
  --gap: var(--midas-spacing-20);
  --item-padding: calc(var(--midas-spacing-40) - 2px) var(--midas-spacing-40);
  --content-padding: var(--midas-spacing-40) var(--midas-spacing-50)
    var(--midas-spacing-50) var(--midas-spacing-50);
  --border-color: var(--midas-border-color-secondary);
  --border: 1px solid;
  --accordion-background: var(--midas-layer-01-base);
  --accordion-background-hover: var(--midas-layer-01-hover);

  &.medium {
    --item-padding: calc(var(--midas-spacing-30) - 2px) var(--midas-spacing-40);
  }
}

.success {
  --accordion-background: var(--midas-support-background-success);
  --accordion-background-hover: var(--midas-support-background-success-hover);
  --border-color: var(--midas-support-border-success);
}

.warning {
  --accordion-background: var(--midas-support-background-warning);
  --accordion-background-hover: var(--midas-support-background-warning-hover);
  --border-color: var(--midas-support-border-warning);
}

.info {
  --accordion-background: var(--midas-support-background-info);
  --accordion-background-hover: var(--midas-support-background-info-hover);
  --border-color: var(--midas-support-border-info);
}

.important {
  --accordion-background: var(--midas-support-background-important);
  --accordion-background-hover: var(--midas-support-background-important-hover);
  --border-color: var(--midas-support-border-important);
}

.item[data-disabled] {
  --border-color: var(--midas-border-color-disabled);
  --icon-color: var(--midas-text-disabled);
  --text-color: var(--midas-text-disabled);

  .triggerButton {
    background: transparent;
  }

  .triggerText {
    color: var(--midas-text-disabled);
  }
}

.trigger {
  border: 0;
  cursor: pointer;
  margin: 0;
}

.triggerMainContent {
  flex: 1 0 0;
  text-align: left;
}

.triggerText {
  margin: 0;
  padding: 0;
}

:not(#\9) .triggerButton {
  width: 100%;
  padding: var(--item-padding);
  align-items: flex-start;
  min-height: unset;
}

.chevronIcon {
  transform: rotate(0deg);
  transition: transform var(--midas-transition-duration-normal) ease;
  padding: var(--midas-spacing-10) 0;
}

.statusIcon {
  color: var(--icon-color);
  padding: var(--midas-spacing-10) 0;

  @media (forced-colors: active) {
    color: currentColor;
  }
}

.triggerButton[aria-expanded='true'] .chevronIcon {
  transform: rotate(-180deg);
  transition: transform var(--midas-transition-duration-normal) ease;
}

.triggerButton[data-hovered] {
  background-color: var(--accordion-background-hover);
}

.triggerButton[data-focus-visible] {
  box-shadow: var(--midas-state-focus-inset);
}

.panel {
  /* RAC passes this variable via the style prop, making it available during runtime only */
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  height: var(--disclosure-panel-height);
  transition: height var(--midas-transition-panel-collapse);
  overflow: clip;
}

.content {
  height: auto;
  padding: var(--content-padding);
}

.hasBackground {
  background-color: var(--midas-background-base);
}

.header {
  margin: 0;
}
