@value tokens: "../theme/tokens.css";
@value display, gray10, gray20, gray30, black, normalTransition, regularWeight, mediumWeight from tokens;

.root {
  --gap: 0.75rem;
  --item-padding: 0;
  --content-padding: 0.5rem 0.5rem 0.5rem 1.85rem;
  --background: transparent;
  --background-active: transparent;
  --background-hover: transparent;

  &.contained {
    --gap: 0.25rem;
    --item-padding: 0.875rem;
    --content-padding: 1rem;
    --background: gray10;
    --background-active: gray20;
    --background-hover: gray30;
  }

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.triggerText {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: regularWeight;
  flex: 1 0 0%;
  text-align: left;
}

.trigger {
  font-family: display;
  color: black;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  button {
    width: 100%;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: var(--item-padding);

    .icon {
      transform: rotate(0deg);
      transition: transform normalTransition ease;
    }

    &[aria-expanded='true'] {
      background-color: var(--background-active);

      .triggerText {
        font-weight: mediumWeight;
      }

      .icon {
        transform: rotate(-180deg);
        transition: transform normalTransition ease;
      }

      &:hover {
        background-color: var(--background-hover);
      }
    }

    &:hover {
      background-color: var(--background-active);
    }
  }
}

.item {
  background-color: var(--background);
  font-family: display;
}

/* safari can't calculate correct so we skip the animation there as a compriomise */
.panel:not(.panel0) {
  height: 0;
  overflow: hidden;
  transition: height 500ms cubic-bezier(0.16, 1, 0.3, 1);

  &[aria-hidden='false'] {
    height: var(--panel-height);
  }
}

.content {
  padding: var(--content-padding);
}

.header {
  margin: 0;
}
