@value tokens: "../theme/tokens.css";
@value --font-family, --layer-01, --layer-hover-01, --normal-transition, --text-primary, --fast-transition,  --border-secondary, --support-background-success, --support-border-success, --support-background-warning, --support-border-warning, --icon-success, --icon-warning, --support-background-success-hover, --support-background-warning-hover, --border-disabled, --text-disabled from tokens;

.root {
  --gap: 0.75rem;
  --item-padding: 0;
  --content-padding: 0.5rem 0.5rem 0.5rem 1.85rem;
  --border: none;
  --background: transparent;
  --background-hover: transparent;
  --heading-color: --text-primary;

  &.contained {
    --gap: 0.25rem;
    --item-padding: 0.875rem;
    --content-padding: 1rem;
    --border-color: --border-secondary;
    --border: 1px solid var(--border-color);
    --background: --layer-01;
    --background-hover: --layer-hover-01;

    .item {
      &.success {
        --background: --support-background-success;
        --background-hover: --support-background-success-hover;
        --icon-color: --icon-success;
        --border-color: --support-border-success;
      }

      &.warning {
        --background: --support-background-warning;
        --background-hover: --support-background-warning-hover;
        --icon-color: --icon-warning;
        --border-color: --support-border-warning;
      }

      &[data-disabled] {
        --border-color: --border-disabled;
      }
    }
  }

  &.uncontained {
    .item:last-of-type .content {
      padding-bottom: 0;
    }
  }

  &[data-disabled] {
    --heading-color: --text-disabled;

    .triggerButton {
      background: transparent;
    }
  }

  font-family: --font-family;
  color: --text-primary;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.item {
  background-color: var(--background);
  border: var(--border);
  border-color: var(--border-color);
}

.trigger {
  color: var(--heading-color);
  border: 0;
  cursor: pointer;
  margin: 0;

  .triggerMainContent {
    flex: 1 0 0;
    text-align: left;

    .triggerText {
      margin: 0;
      padding: 0;
      color: var(--heading-color);
    }
  }

  .triggerButton {
    color: var(--heading-color);
    width: 100%;
    padding: var(--item-padding);
    align-items: flex-start;

    .chevronIcon {
      transform: rotate(0deg);
      transition: transform --normal-transition ease;
      padding: 0.125rem 0;
    }

    .statusIcon {
      color: var(--icon-color);
      padding: 0.125rem 0;
    }

    &[aria-expanded='true'] {
      .chevronIcon {
        transform: rotate(-180deg);
        transition: transform --normal-transition ease;
      }
    }

    &[data-hovered] {
      background-color: var(--background-hover);
    }
  }
}

.panel[aria-hidden='true'] {
  height: 0;
  transition: --fast-transition cubic-bezier(0.16, 1, 0.3, 1) allow-discrete;
  overflow-y: clip;
}

.panel[aria-hidden='false'] {
  transition: --fast-transition cubic-bezier(0.16, 1, 0.3, 1) allow-discrete;
  height: auto;
  height: calc-size(min-content, size);
}

.content {
  height: auto;
  padding: var(--content-padding);
}

.header {
  margin: 0;
}
