@value tokens: "../theme/tokens.css";
@value display, gray50, gray20, black, normalTransition, regularWeight from tokens;

.root {
  width: 100%;
}

.trigger {
  font-family: display;
  color: black;
  background-color: transparent;
  border: 0;
  padding: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;

  &:focus-visible {
    outline: black auto 2px;
  }

  svg {
    transition: transform normalTransition cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state='open'] svg {
    transform: rotate(180deg);
  }
}

.item {
  font-family: display;
  border-style: solid;
  border-color: gray50;
  border-width: 1px 0 0;
  overflow: hidden;

  &:hover {
    .trigger {
      background-color: gray20;
    }
  }

  &:last-child {
    border-width: 1px 0;
  }
}

.content {
  padding: 0 1.5rem;
  overflow: hidden;

  &[data-state='open'] {
    animation: slideDown normalTransition cubic-bezier(0.87, 0, 0.13, 1);
    margin-bottom: 1.5rem;
  }

  &[data-state='closed'] {
    animation: slideUp normalTransition cubic-bezier(0.87, 0, 0.13, 1);
  }
}

@keyframes slideDown {
  from {
    height: 0;
    margin-bottom: 0;
  }

  to {
    height: var(--radix--content-height);
    margin-bottom: 1.5rem;
  }
}

@keyframes slideUp {
  from {
    height: var(--radix--content-height);
    margin-bottom: 1.5rem;
  }

  to {
    height: 0;
    margin: 0;
  }
}

.header {
  margin: 0;
}

.triggerText {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: regularWeight;
}
