.container {
  display: inline-flex;
}

.spinner {
  animation: rotating 1s linear infinite;
  stroke-linecap: square;

  @media (prefers-reduced-motion) {
    animation-duration: 2s;
  }

  @media (forced-colors: active) {
    color: CanvasText;
  }
}

.large {
  color: var(--midas-icon-tertiary);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
