@value breakpoints: "../theme/breakpoints.css";
@value --midas-breakpoints-prefers-reduced-motion from breakpoints;

.container {
  display: inline-flex;
}

.spinner {
  color: var(--midas-icon-primary);
  animation: rotating 1s linear infinite;
  stroke-linecap: square;

  @media --midas-breakpoints-prefers-reduced-motion {
    animation-duration: 2s;
  }
}

.dark {
  color: var(--midas-icon-on-color);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
