.container {
  display: inline-flex;
}

.spinner {
  color: var(--semantic-icon-primary);
  animation: rotating 1s linear infinite;
  stroke-linecap: square;

  @media (prefers-reduced-motion) {
    animation-duration: 2s;
  }
}

.dark {
  color: var(--semantic-icon-on-color);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
