.popover {
  font-family: var(--midas-typography-font-family);
  font-size: var(--midas-typography-font-size-20);
  padding: var(--midas-size-80);
  color: var(--midas-text-primary);
  background-color: var(--midas-layer-01-base);
  outline: none;
  transform: translate3d(0, 0, 0);
  display: inline-block;
  max-width: min(90vw, 320px);
  white-space: normal;
  overflow-wrap: break-word;
  box-sizing: border-box;
  transition:
    transform 200ms,
    opacity 200ms;

  @media (forced-colors: active) {
    border: 1px solid;
  }

  & .arrow svg {
    display: block;
    fill: var(--midas-layer-01-base);

    @media (forced-colors: active) {
      fill: currentColor;
    }
  }

  &[data-entering],
  &[data-exiting] {
    transform: var(--origin);
    transition: transform 200ms ease-in-out;
    opacity: 0;
  }

  &[data-placement='top'] {
    --origin: translateY(4px);

    filter: drop-shadow(0 2px 3px rgb(0 0 0 / 15%))
      drop-shadow(0 6px 8px rgb(0 0 0 / 10%));

    &:has(.arrow) {
      margin-bottom: 4px;
    }
  }

  &[data-placement='bottom'] {
    --origin: translateY(-4px);

    filter: drop-shadow(0 -2px 3px rgb(0 0 0 / 15%))
      drop-shadow(0 -6px 8px rgb(0 0 0 / 10%));

    &:has(.arrow) {
      margin-top: 4px;
    }

    .arrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement='right'] {
    --origin: translateX(-4px);

    filter: drop-shadow(-2px 0 3px rgb(0 0 0 / 15%))
      drop-shadow(-6px 0 8px rgb(0 0 0 / 10%));

    &:has(.arrow) {
      margin-left: 4px;
    }

    & .arrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement='left'] {
    --origin: translateX(4px);

    filter: drop-shadow(2px 0 3px rgb(0 0 0 / 15%))
      drop-shadow(6px 0 8px rgb(0 0 0 / 10%));

    &:has(.arrow) {
      margin-right: 4px;
    }

    & .arrow svg {
      transform: rotate(-90deg);
    }
  }
}
