.popover {
  font-family: var(--typography-font-family);
  font-size: var(--typography-font-size-20);
  padding: var(--size-80);
  color: var(--semantic-text-primary);
  background-color: var(--semantic-layer-01);
  outline: none;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 4px 5px rgba(0 0 0 / 20%);
  inline-size: min-content;
  transition:
    transform 200ms,
    opacity 200ms;

  & .arrow svg {
    display: block;
    fill: var(--semantic-layer-01);
  }

  &[data-entering],
  &[data-exiting] {
    transform: var(--origin);
    opacity: 0;
  }

  &[data-placement='top'] {
    margin-bottom: 8px;

    --origin: translateY(4px);
  }

  &[data-placement='bottom'] {
    margin-top: 8px;

    --origin: translateY(-4px);

    .arrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement='right'] {
    margin-left: 8px;

    --origin: translateX(-4px);

    & .arrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement='left'] {
    margin-right: 8px;

    --origin: translateX(4px);

    & .arrow svg {
      transform: rotate(-90deg);
    }
  }
}