.popover {
  font-family: var(--midas-typography-font-family);
  font-size: var(--midas-typography-font-size-20);
  padding: var(--midas-size-80);
  color: var(--midas-text-primary);
  background-color: var(--midas-layer-01-base);
  outline: none;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 4px 5px rgba(0 0 0 / 20%);
  display: inline-block;
  max-width: min(90vw, 320px);
  white-space: normal;
  overflow-wrap: break-word;
  box-sizing: border-box;
  transition:
    transform 200ms,
    opacity 200ms;

  @media (forced-colors: active) {
    border: 1px solid;
  }

  & .arrow svg {
    display: block;
    fill: var(--midas-layer-01-base);

    @media (forced-colors: active) {
      fill: currentColor;
    }
  }

  &[data-entering],
  &[data-exiting] {
    transform: var(--origin);
    opacity: 0;
  }

  &[data-placement='top'] {
    --origin: translateY(4px);

    &:has(.arrow) {
      margin-bottom: 8px;
    }
  }

  &[data-placement='bottom'] {
    --origin: translateY(-4px);

    &:has(.arrow) {
      margin-top: 8px;
    }

    .arrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement='right'] {
    --origin: translateX(-4px);

    &:has(.arrow) {
      margin-left: 8px;
    }

    & .arrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement='left'] {
    &:has(.arrow) {
      margin-right: 8px;
    }

    --origin: translateX(4px);

    & .arrow svg {
      transform: rotate(-90deg);
    }
  }
}

@media (prefers-reduced-motion) {
  .popover {
    transition: none;
  }
}
