.datePicker {
  font-family: var(--midas-typography-font-family);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputField {
  box-sizing: border-box;
  width: 100%;
  height: var(--midas-size-150);
  align-items: center;
  background-color: var(--midas-field-01-base);
  border-bottom: 1px solid var(--midas-border-color-primary);
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  @media (forced-colors: active) {
    border: 1px solid var(--midas-border-color-primary);
  }

  &.medium {
    height: var(--midas-size-130);
  }

  &[data-disabled] {
    cursor: not-allowed;
    border-color: var(--midas-border-color-disabled);
  }

  &:focus-visible,
  &[data-focus-visible] {
    outline: none;
  }

  &[data-focus-visible] {
    box-shadow: var(--midas-state-focus);
  }

  &[data-invalid] {
    border: none;
    box-shadow: inset 0 0 0 3px var(--midas-support-border-warning);

    @media (forced-colors: active) {
      border: 1px solid var(--midas-border-color-primary);
    }
  }

  &.readOnly {
    background-color: transparent;
    border-color: var(--midas-border-color-subtle);
  }

  .buttonGroup {
    display: flex;
    margin-left: auto;
    gap: 0;
  }

  .clearButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.5rem;
    color: var(--midas-icon-primary);
    background-color: transparent;
    cursor: pointer;

    &.medium {
      padding: 0.375rem;
    }

    &[data-disabled] {
      cursor: not-allowed;
      color: var(--midas-icon-disabled);
    }

    &[data-hovered]:not([data-disabled]) {
      background-color: var(--midas-field-01-hover);
    }

    &:focus-visible,
    &[data-focus-visible] {
      outline: none;
      box-shadow: var(--midas-state-focus);

      @media (forced-colors: active) {
        outline: 3px solid highlight;
        outline-offset: 2px;
      }
    }
  }

  .calendarButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.5rem 0.75rem;
    color: var(--midas-icon-primary);
    background-color: transparent;
    cursor: pointer;

    &.medium {
      padding: 0.375rem 0.625rem;
    }

    &[data-disabled] {
      cursor: not-allowed;
      color: var(--midas-icon-disabled);
    }

    &.readOnly {
      color: var(--midas-icon-read-only);
    }

    &[data-hovered]:not([data-disabled]) {
      background-color: var(--midas-field-01-hover);
    }

    &:focus-visible,
    &[data-focus-visible] {
      outline: none;
      box-shadow: var(--midas-state-focus);

      @media (forced-colors: active) {
        outline: 3px solid highlight;
        outline-offset: 2px;
      }
    }
  }
}

.dialog {
  box-shadow: 0 3px 5px 0 rgba(0 0 0 / 20%);
}
