@value tokens: "../theme/tokens.css";
@value --font-family, --field-01, --icon-primary, --border-primary, --support-border-warning, --text-disabled, --icon-disabled, --text-placeholder, --border-disabled, --field-hover-01, --focus, --layer-01, --text-primary, --border-tertiary, --button-background-primary, --size-30, --size-130, --size-150 from tokens;

.datePicker {
  font-family: --font-family;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputField {
  box-sizing: border-box;
  width: 100%;
  height: --size-150;
  align-items: center;
  background-color: --field-01;
  border-bottom: 1px solid --border-primary;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  &.medium {
    height: --size-130;
  }

  &[data-disabled] {
    cursor: not-allowed;
    border-color: --border-disabled;
  }

  &:focus-visible,
  &[data-focus-visible] {
    outline: none;
  }

  &[data-focus-visible] {
    box-shadow: --focus;
  }

  &[data-hovered]:not([data-disabled]) {
    background-color: --field-hover-01;
  }

  &[data-invalid] {
    border: none;
    box-shadow: inset 0 0 0 3px --support-border-warning;
  }

  .calendarButton {
    border: none;
    margin-left: auto;
    height: --size-150;
    padding-right: 1rem;
    padding-left: 1rem;
    color: --icon-primary;
    background-color: --field-01;
    cursor: pointer;
    border-bottom: 1px solid --border-primary;

    &.medium {
      height: --size-130;

      &[data-invalid] {
        height: calc(--size-130 - --size-30);
      }
    }

    &[data-invalid] {
      border: none;
      height: calc(--size-150 - --size-30);
      margin-right: 3px;
    }

    &[data-disabled] {
      cursor: not-allowed;
      color: --icon-disabled;
      border-color: --border-disabled;
    }

    &[data-hovered]:not([data-disabled]) {
      background-color: --field-hover-01;
    }

    &:focus-visible,
    &[data-focus-visible] {
      outline: none;
      box-shadow: --focus;

      @media (forced-colors: active) {
        outline: 3px solid highlight;
        outline-offset: 2px;
      }
    }
  }
}

.dialog {
  box-shadow: 0 3px 5px 0 rgba(0 0 0 / 20%);
}
