.datePicker {
  font-family: var(--midas-typography-font-family);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputField {
  box-sizing: border-box;
  width: 100%;
  height: var(--midas-size-150);
  align-items: center;
  background-color: var(--midas-field-01-base);
  border-bottom: 1px solid var(--midas-border-primary);
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  &.medium {
    height: var(--midas-size-130);
  }

  &[data-disabled] {
    cursor: not-allowed;
    border-color: var(--midas-border-disabled);
  }

  &:focus-visible,
  &[data-focus-visible] {
    outline: none;
  }

  &[data-focus-visible] {
    box-shadow: var(--state-focus);
  }

  &[data-hovered]:not([data-disabled]) {
    background-color: var(--midas-field-01-hover);
  }

  &[data-invalid] {
    border: none;
    box-shadow: inset 0 0 0 3px var(--midas-support-border-warning);
  }

  .calendarButton {
    border: none;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    color: var(--midas-icon-primary);
    background-color: transparent;
    cursor: pointer;

    &.medium {
      &[data-invalid] {
        height: calc(var(--midas-size-130) - var(--midas-size-30));
      }
    }

    &[data-invalid] {
      border: none;
      height: calc(var(--midas-size-150) - var(--midas-size-30));
      margin-right: 3px;
    }

    &[data-disabled] {
      cursor: not-allowed;
      color: var(--midas-icon-disabled);
      border-color: var(--midas-border-disabled);
    }

    &[data-hovered]:not([data-disabled]) {
      background-color: var(--midas-field-01-hover);
    }

    &:focus-visible,
    &[data-focus-visible] {
      outline: none;
      box-shadow: var(--state-focus);

      @media (forced-colors: active) {
        outline: 3px solid highlight;
        outline-offset: 2px;
      }
    }
  }
}

.dialog {
  box-shadow: 0 3px 5px 0 rgba(0 0 0 / 20%);
}
