@value tokens: "../theme/tokens.css";
@value --font-family, --field-01, --icon-primary, --border-primary, --border-invalid, --text-disabled, --icon-disabled, --text-placeholder, --border-disabled, --field-hover-01, --focus, --layer-01, --text-primary, --border-tertiary, --button-background-primary from tokens;

.datePicker {
  font-family: --font-family;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputField {
  box-sizing: border-box;
  width: 100%;
  min-height: 3rem;
  align-items: center;
  background-color: --field-01;
  border-bottom: 1px solid --border-primary;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  &[data-disabled] {
    cursor: not-allowed;
    border-color: --border-disabled;
  }

  &:focus-visible,
  &[data-focus-visible] {
    outline: none;
  }

  &[data-focus-visible] {
    box-shadow: --focus;
  }

  &[data-hovered]:not([data-disabled]) {
    background-color: --field-hover-01;
  }

  &[data-invalid] {
    border: none;
    box-shadow: inset 0 0 0 3px --border-invalid;
  }

  .calendarButton {
    border: none;
    margin-left: auto;
    min-height: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: --icon-primary;
    background-color: --field-01;
    cursor: pointer;

    &[data-invalid] {
      position: relative;
      margin-top: 3px;
      margin-bottom: 3px;
      transform: translateX(-3px);
    }

    &[data-disabled] {
      cursor: not-allowed;
      color: --icon-disabled;
    }

    &[data-hovered]:not([data-disabled]) {
      background-color: --field-hover-01;
    }

    &:focus-visible,
    &[data-focus-visible] {
      outline: none;
      box-shadow: --focus;

      @media (forced-colors: active) {
        outline: 3px solid highlight;
        outline-offset: 2px;
      }
    }
  }
}
