@value tokens: "../theme/tokens.css";

@value display, regularWeight, mediumWeight, black, signalRed130, smBreakpoint, signalRed100, gray50, blue150, blue130, gray10, gray20, backgroundSecondary from tokens;


* > ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.listItemfocusRing {
  /*  outline: black solid 2px;
    outline-offset: -2px;*/
}

.selectAllButton {
  all: unset;
  width: 100%;
  margin-bottom: 2px;

  &:focus-visible {
    outline: 2px black solid;
  }
}

.selectLabel {
  grid-area: Label;
  font-weight: mediumWeight;
  /** Select Label */
}

.selectLabelActive {
  /** Label in active state*/
}

.selectLabelDisabled {
  color: gray50;
}

.button {
  grid-area: Input;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: flex-end;
  height: 48px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  background-color: backgroundSecondary;
  border-bottom: 1px solid black;

  &:focus {
    outline-offset: 2px;
    outline: 2px solid black;
  }

  &:hover {
    background-color: gray20;
  }

  &:disabled  {
    pointer-events: none;
    background: backgroundSecondary;
    color: gray50;
    border-color: gray50;
  }
}

.buttonOpen {
  .icon svg {
    transform: rotate(180deg);
  }
}

.buttonDisabled {
  background: backgroundSecondary;
  color: gray50;
  border-color: gray50;
}

/** not working? */
.buttonFocused {
    outline-offset: 2px;
    outline: 2px solid black;
}

.buttonActive {
  /** when select input (button) is active */
}

.multiSelect {
  font-family: display;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &[data-disabled] {
    color: gray50;
  }

  &[data-invalid] .button {
    box-shadow: inset 0 0 0 3px signalRed100;
  }
}

.multiSelectOpen {
  /** TODO some styles here with the border? */
}

.description {
  grid-area: Desc;
  font-size: 0.875rem;
  font-weight: regularWeight;
  margin-bottom: 0.25rem;
}

.descriptionActive {
}
.descriptionInvalid {
  margin-bottom: 0;
}

.descriptionDisabled {
  color: gray50;
}

.popover {
  font-family: display;
  border: 1px solid black;
  background: white;

  --select-popover-width: max(
    var(--select-width, var(--field-width-base)) - 2px,
    200px
  ); /* 1 */

  /*  background-color: var(--select-background);*/
  width: var(--select-popover-width);
}

.icon {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  flex: 1 0 auto;
  justify-content: flex-end;

  svg {
    transition: transform 0.3s ease;
  }
}

/**
 * 1. Represents max ~5 options in the list.
 */
.listBox {
  max-height: 295px; /* 1 */
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.listBoxItem {
  font-family: display;
  padding: 1rem;
  background-color: white;
  cursor: default;
  color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 0;
  transition: background-color 60ms;

  &:hover {
    background-color: gray20;
    transition-delay: 60ms;
  }

  &:focus {
  }

  &:focus-visible {
    outline: none;
  }

  /*TODO: remove */

  &[data-disabled='true'] {
    color: gray50;
  }
}

.listBoxItemSelected {
  background-color: gray50;
  color: black;
  &.listBoxItemDisabled {
    color: gray20;
  }
}

.listBoxItemDisabled {
  color: gray50;
  pointer-events: none;
}

.listBoxItemFocused {
  background-color: gray20;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.selectValueTag {
  font-family: display;
  background-color: blue150;
  color: white;
  border-radius: 1.25rem;
  font-size: 0.875rem;
  min-height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}

.selectValueTagDisabled {
  pointer-events: none;
  background: backgroundSecondary;
  color: gray50;
  border-color: gray50;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clearButton {
  padding: 0.5rem;
  margin: 0;
  margin-left: 0.5rem;
  display: flex;
  border-radius: 100%;
  background-color: blue150;
  color: white;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: blue130;
  }

  &:disabled {
    pointer-events: none;
    color: gray50;
    background-color: gray10;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid black;
  }
}

.selectDivider {
}

.selectSectionHeading {
}

.fieldError {
  color: signalRed100;
  grid-area: Error;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin: 0.25rem 0;
  line-height: 1.28;

  &::before {
    content: '';
    background-color: signalRed100;
    display: block;
    width: 1rem;
    height: 1rem;
    mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtdHJpYW5nbGUtYWxlcnQiPjxwYXRoIGQ9Im0yMS43MyAxOC04LTE0YTIgMiAwIDAgMC0zLjQ4IDBsLTggMTRBMiAyIDAgMCAwIDQgMjFoMTZhMiAyIDAgMCAwIDEuNzMtMyIvPjxwYXRoIGQ9Ik0xMiA5djQiLz48cGF0aCBkPSJNMTIgMTdoLjAxIi8+PC9zdmc+');
    mask-size: 1rem 1rem;
    flex: 0 0 auto;
    align-self: flex-start;
    margin: 2px;
  }
}

/** copied stuff */
.select__popover {
  --select-background: #fff;
  --select-border: #00f;
  --select-border--hover: #aac1ff;
  --select-border--focus: #ff739d;
  --select-text: #000;
  --select-text-base: 10px;
  --select-label-text: var(--select-text);
  --select-label-text--active: var(--select-border);
  --select-option-text: var(--select-text);
  --select-option-text--disabled: #aaa;
  --select-option-text--hover: var(--select-text);
  --select-option-text--selected: var(--select-text);
  --select-option-background: transparent;
  --select-option-background--disabled: transparent;
  --select-option-background--hover: #aac1ff;
  --select-option-background--selected: #ff739d;
  --select-divider: var(--select-border--hover);
  --select-section-heading-text: var(--select-text);
}

.select__popover {
  /*  border: 2px solid var(--select-border);
    padding: 20px;*/
  display: flex;
  flex-direction: column;

  --select-popover-width: max(
    var(--select-width, var(--field-width-base)),
    200px
  ); /* 1 */

  background-color: var(--select-background);
  width: var(--select-popover-width);
}

@media (forced-colors: active) {
  [data-invalid] .button {
    border: 5px solid Highlight !important;
  }
  .listBoxItemFocused {
    border: 1px ButtonBorder solid;
  }
  .selectValueTag {
    border: ButtonBorder solid;
  }
  .button, .clearButton {
    border: Highlight 1px solid;
  }
  .fieldError {
    color: Highlight;
    &::before {
      background-color: Highlight;
    }
  }
}
