@value tokens: "../theme/tokens.css";
@value display, black, signalRed130, smBreakpoint, gray50, gray20, focus, backgroundSecondary from tokens;

.button {
  grid-area: Input;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  background-color: backgroundSecondary;
  border-bottom: 1px solid black;

  &[aria-expanded='true'] div {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  &:hover {
    background-color: gray20;
  }

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: focus;
    outline: none;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[data-disabled] {
    background: backgroundSecondary;
    color: gray50;
    border-color: gray50;
  }
}

.select {
  font-family: display;
  display: flex;
  flex-direction: column;
  height: 100%;

  &[data-disabled] {
    color: gray50;
  }

  &[data-invalid] .button {
    box-shadow: none;
    border: 2px solid signalRed130;
  }
}

.popover {
  font-family: display;
  border: 1px solid black;
  width: calc(var(--trigger-width) - 2px);
  background: white;
  overflow-y: auto;
}

.listBoxItem {
  margin: auto;
  padding: 1rem;
  background-color: white;
  outline: none;
  cursor: default;
  color: black;
  position: relative;

  &[data-selected='true'] {
    background: gray50;
  }

  &[data-focused='true'] {
    background: gray20;
  }

  &[data-disabled='true'] {
    color: gray50;
  }
}

.icon {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}
