.select {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.triggerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.trigger {
  align-items: center;
  background-color: var(--midas-field-01-base);
  border: none;
  border-bottom: 1px solid var(--midas-border-color-primary);
  border-radius: 0;
  color: var(--midas-text-primary);
  display: flex;
  font-size: var(--midas-typography-font-size-30);
  gap: var(--midas-spacing-20);
  justify-content: space-between;
  min-height: var(--midas-size-150);
  padding-left: var(--midas-size-70);
  padding-right: var(--midas-size-70);
  transition: all 100ms ease-in;

  &.medium {
    min-height: var(--midas-size-130);
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--midas-state-focus);
    transition: all 100ms ease-out;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &:hover {
    background-color: var(--midas-field-01-hover);
    cursor: pointer;
  }

  &[data-disabled] {
    cursor: not-allowed;
    background: var(--midas-field-disabled);
    color: var(--midas-text-disabled);
    border-color: var(--midas-border-color-disabled);
  }

  &[data-invalid]:not(:focus-visible) {
    border: none;
    box-shadow: var(--midas-state-invalid);

    @media (forced-colors: active) {
      border: 5px solid Highlight !important;
    }
  }

  &[data-open] {
    .icon svg {
      transform: rotate(180deg);
    }
  }
}

.selectValue {
  color: var(--midas-text-primary);
  font-family: var(--midas-typography-font-family);
  line-height: var(--midas-typography-line-height-30);
  max-width: calc(100% - var(--midas-spacing-90));

  .placeholder {
    display: flex;
  }

  &[data-disabled] {
    color: var(--midas-text-disabled);
    cursor: not-allowed;
  }
}

.multiSelectValue {
  pointer-events: none;
  color: var(--midas-text-primary);
  font-family: var(--midas-typography-font-family);
  line-height: var(--midas-typography-line-height-30);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: calc(100% - var(--midas-spacing-90));

  .placeholder {
    align-items: center;
    display: flex;
    justify-content: center;
    left: var(--midas-spacing-50);
    position: relative;
  }

  &[data-disabled] {
    color: var(--midas-text-disabled);
    cursor: not-allowed;
  }
}

.selectValueTag {
  align-items: center;
  background-color: var(--midas-button-background-primary-base);
  border-radius: 1.25rem;
  color: var(--midas-text-on-color);
  display: flex;
  font-size: 0.875rem;
  justify-content: center;
  left: var(--midas-spacing-30);
  min-height: 1.75rem;
  padding: 0 0.5rem;
  pointer-events: all;
  position: relative;

  &:has(.clearButton) {
    padding-right: 0;
  }

  &[data-disabled] {
    background-color: var(--midas-field-disabled);
    border: 1px solid var(--midas-border-color-disabled);
    color: var(--midas-text-disabled);
    pointer-events: none;
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearButton {
  background-color: var(--midas-button-background-primary-base);
  border: none;
  border-radius: 100%;
  color: var(--midas-text-on-color);
  display: flex;
  margin-left: var(--midas-size-10);
  padding: var(--midas-size-30);

  &:hover {
    background-color: var(--midas-button-background-primary-hover);
    cursor: pointer;
  }

  &[data-disabled] {
    background-color: var(--midas-button-background-disabled);
    color: var(--midas-text-disabled);
    pointer-events: none;
  }

  &:focus-visible {
    box-shadow: var(--midas-state-focus);
    outline: none;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }
}

.popover {
  font-size: var(--midas-typography-font-size-30);
  padding: 0;

  :focus {
    outline: none;
  }

  &[data-trigger='Select'] {
    /* RAC passes this variable via the style prop, making it available during runtime only */
    /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
    min-width: var(--trigger-width);
    transition:
      transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
    opacity: 1;

    &[data-entering] {
      opacity: 0;
    }

    &[data-exiting] {
      opacity: 0;
    }
  }

  .selectAll {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--midas-layer-01-base);
    color: var(--midas-text-primary);
    display: flex;
    font-family: var(--midas-typography-font-family);
    line-height: 1;
    margin-bottom: 2px !important;
    padding: var(--midas-size-80);
    transition: background-color 60ms;

    &:hover:not([data-disabled]) {
      background-color: var(--midas-layer-01-hover);
      cursor: pointer;
      transition-delay: 60ms;

      & div {
        border-color: var(--midas-text-primary);
      }
    }

    &[data-disabled] {
      color: var(--midas-text-disabled);
      cursor: not-allowed;
    }

    &[data-selected] {
      background-color: var(--midas-layer-01-selected-hover);

      &:hover:not([data-disabled]) {
        background-color: var(--midas-layer-01-selected-hover);
        transition-delay: 60ms;

        & div {
          border-color: transparent;
        }
      }
    }

    &[data-focused] {
      outline: none;
      box-shadow: none;

      @media (forced-colors: active) {
        outline: var(--midas-state-focus-contrast-mode-outline) solid highlight !important;
        outline-offset: calc(
          var(--midas-state-focus-contrast-mode-outline) * -1
        );
      }
    }

    &[data-focus-visible] {
      box-shadow: var(--midas-state-focus-inset);
      outline: none;
    }

    &[data-hovered] div {
      border-color: var(--midas-button-background-primary-hover);
    }
  }
}

.tagGroup {
  margin-top: var(--midas-size-40);
}

@media (prefers-reduced-motion) {
  .trigger,
  .popover[data-trigger='Select'],
  .selectAll {
    transition: none;
  }
}
