@value tokens: "../theme/tokens.css";
@value --font-family,--text-placeholder, --border-invalid, --focus, --field-hover-01, --border-primary, --field-01, --text-primary, --text-disabled from tokens;

.dateField {
  font-family: --font-family;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.isDisabled {
  color: --text-disabled;
  cursor: not-allowed;

  .inputField {
    border: none;
  }
}

.inputField {
  box-sizing: border-box;
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: --field-01;
  border-bottom: 1px solid --border-primary;
  padding: 0 1rem;

  &[data-focus-visible] {
    box-shadow: --focus;
  }

  &[data-hovered]:not([data-disabled='true']) {
    background-color: --field-hover-01;
  }

  &[data-invalid] {
    border: none;
    box-shadow: inset 0 0 0 3px --border-invalid;
  }
}

.segment {
  padding: 0 0.125rem;
  text-transform: uppercase;
  color: --text-primary;

  &[data-placeholder] {
    color: --text-placeholder;
  }

  &:focus-visible,
  &[data-focus-visible] {
    outline: none;
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 1px solid;
      outline-offset: 2px;
    }
  }
}
