@value tokens: "../theme/tokens.css";
@value --font-family,--text-placeholder, --support-border-warning, --focus, --field-hover-01, --border-primary, --field-01, --text-primary, --text-disabled from tokens;

.dateField {
  font-family: --font-family;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputField {
  box-sizing: border-box;
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: --field-01;
  border-bottom: 1px solid --border-primary;
  padding: 0 1rem;

  &[data-disabled] {
    border: none;
    color: --text-disabled;
    cursor: not-allowed;
  }

  &:hover:not([data-disabled]) {
    background-color: --field-hover-01;
  }

  &:has([data-invalid]) {
    border: none;
    box-shadow: inset 0 0 0 3px --support-border-warning;
  }
}
