.dateSegment {
  color: var(--midas-text-primary);
  padding: 0 0.125rem;
  text-transform: uppercase;

  &[data-disabled] {
    color: var(--midas-text-disabled);
  }

  &:focus-visible,
  &[data-focus-visible] {
    box-shadow: var(--midas-state-focus);
    outline: none;

    @media (forced-colors: active) {
      outline: 1px solid;
      outline-offset: 2px;
    }
  }

  &[data-placeholder] {
    color: var(--midas-text-placeholder);
  }
}
