.dateField {
  font-family: var(--midas-typography-font-family);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputField {
  box-sizing: border-box;
  width: 100%;
  min-height: var(--midas-size-150);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--midas-field-01-base);
  border-bottom: 1px solid var(--midas-border-color-primary);
  padding: 0 1rem;

  &.medium {
    min-height: var(--midas-size-130);
  }

  &[data-disabled] {
    border: none;
    color: var(--midas-text-disabled);
    cursor: not-allowed;
  }

  &:hover:not([data-disabled]) {
    background-color: var(--midas-field-01-hover);
  }

  &:has([data-invalid]) {
    border: none;
    box-shadow: inset 0 0 0 3px var(--midas-support-border-warning);
  }
}
