.dateField {
  font-family: var(--midas-typography-font-family);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &[data-readonly] .inputField {
    background-color: transparent;
    border-bottom-color: var(--midas-border-color-subtle);
  }

  &[data-disabled] .inputField {
    color: var(--midas-text-disabled);
    cursor: not-allowed;
    border-bottom-color: var(--midas-border-color-disabled);
    background-color: var(--midas-field-disabled);
  }

  &[data-invalid] .inputField {
    border: none;
    box-shadow: var(--midas-state-invalid);
  }
}

.inputField {
  box-sizing: border-box;
  width: 100%;
  min-height: var(--midas-size-150);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--midas-field-01-base);
  border: 1px solid transparent;
  border-bottom-color: var(--midas-border-color-primary);
  padding: 0 0 0 1rem;
  position: relative;

  &.medium {
    min-height: var(--midas-size-130);
  }

  .dateField:not([data-disabled], [data-readonly]) & :hover {
    background-color: var(--midas-field-01-hover);
  }
}

.clearButton {
  border: none;
  background-color: transparent;
}

@media (forced-colors: active) {
  .inputField {
    border: 1px solid var(--midas-border-color-primary);
  }
}
