.dateField {
  font-family: var(--midas-typography-font-family);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &[data-readonly] .inputField {
    background-color: transparent;
    border-bottom-color: var(--midas-border-color-subtle);
  }

  &[data-disabled] .inputField {
    color: var(--midas-text-disabled);
    cursor: not-allowed;
    border-bottom-color: var(--midas-border-color-disabled);
    background-color: var(--midas-field-disabled);
  }

  &[data-invalid] .inputField {
    box-shadow: inset 0 0 0 3px var(--midas-support-border-warning);
    border-color: transparent;
  }
}

.inputField {
  box-sizing: border-box;
  width: 100%;
  min-height: var(--midas-size-150);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--midas-field-01-base);
  border: 1px solid transparent;
  border-bottom-color: var(--midas-border-color-primary);
  padding: 0 1rem;
  position: relative;

  &.medium {
    min-height: var(--midas-size-130);
  }

  .dateField:not([data-disabled], [data-readonly]) & :hover {
    background-color: var(--midas-field-01-hover);
  }
}

.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0.5rem;
  border: none;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;

  &.medium {
    padding: 0.375rem;
  }
}

@media (forced-colors: active) {
  .inputField {
    border: 1px solid var(--midas-border-color-primary);
  }
}
