.accordion {
  > div {
    --content-padding: 0.5rem 0 0.5rem 0;
  }
}

.table {
  all: revert;
  table-layout: auto;
  font-family: 'Inter', sans-serif;
  border-collapse: collapse;
  width: 100%;

  tr {
    word-break: break-all;
  }

  td {
    min-width: 6rem;
    vertical-align: top;
  }
  thead tr th:first-child,
  tbody tr td:first-child {
    width: 25%;
  }
}

.thead {
  text-align: left;
}

.tbody {
  font-size: 0.875rem;
}

.item {
  padding: 0;
}


