.accordion {
  > div {
    --content-padding: 0.5rem 0 0.5rem 0;
  }
}

td[data-title='Type'] {
  word-break: break-all;
}

.propsGridTable {
  table,
  tbody,
  thead,
  tr {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    text-align: left;
    font-size: 0.875rem;
  }

  table {
    grid-template-columns: 2fr 2fr 1fr 3fr;

    @media (width < 1200px) {
      grid-template-columns: subgrid;
    }
  }

  thead {
    tr {
      border-bottom: var(--ifm-table-border-width) solid
        var(--ifm-table-border-color);
    }

    @media (width < 1200px) {
      display: none;
    }
  }

  tbody {
    @media (width > 1200px) {
      tr:first-of-type {
        border-top: none;
      }
    }

    @media (width < 1200px) {
      td:not(:last-of-type) {
        display: flex;
      }

      td[data-title]::before {
        content: attr(data-title);
        display: inline-block;
        font-weight: 500;
        padding-right: 1rem;
        min-width: 65px;
      }
    }
  }
}

.membersTable {
  min-width: 500px;
  max-width: 800px;
  max-height: 400px;
  overflow: auto;
  font-size: 0.8125rem;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 0.375rem 0.75rem;
    text-align: left;
    vertical-align: top;
  }

  th {
    font-weight: 600;
    border-bottom: var(--ifm-table-border-width) solid
      var(--ifm-table-border-color);
  }

  tr + tr td {
    border-top: var(--ifm-table-border-width) solid
      var(--ifm-table-border-color);
  }
}

.popover {
  background-color: var(--background);
  border: 1px solid var(--border);
  padding: 0.5rem;
  transition:
    transform 200ms,
    opacity 200ms;

  .arrow svg {
    display: block;
    fill: var(--background);
    stroke: var(--border);
    stroke-width: 1px;
  }

  &[data-entering],
  &[data-exiting] {
    transform: var(--origin);
    opacity: 0;
  }

  &[data-placement='top'] {
    --origin: translateY(8px);

    &:has(.arrow) {
      margin-bottom: 6px;
    }
  }

  &[data-placement='bottom'] {
    --origin: translateY(-8px);

    &:has(.arrow) {
      margin-top: 6px;
    }

    .arrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement='right'] {
    --origin: translateX(-8px);

    &:has(.arrow) {
      margin-left: 6px;
    }

    .arrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement='left'] {
    --origin: translateX(8px);

    &:has(.arrow) {
      margin-right: 6px;
    }

    .arrow svg {
      transform: rotate(-90deg);
    }
  }
}
