.accordion {
  > div {
    --content-padding: 0.5rem 0 0.5rem 0;
  }
}

.propsGridTable {
  table,
  tbody,
  thead,
  tr {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    text-align: left;
    font-size: 0.875rem;
  }

  table {
    grid-template-columns: 2fr 2fr 1fr 3fr;

    @media (width < 996px) {
      grid-template-columns: subgrid;
    }
  }

  thead {
    tr {
      border-bottom: var(--ifm-table-border-width) solid
        var(--ifm-table-border-color);
    }

    @media (width < 996px) {
      display: none;
    }
  }

  tbody {
    @media (width > 996px) {
      tr:first-of-type {
        border-top: none;
      }
    }

    @media (width < 996px) {
      td:not(:last-of-type) {
        display: flex;
      }

      td[data-title]::before {
        content: attr(data-title);
        display: inline-block;
        font-weight: 500;
        padding-right: 1rem;
        min-width: 65px;
      }
    }
  }
}
