.accordion {
  > div {
    --content-padding: 0;
  }
}

tr {
  word-break: break-all;
}

td {
  min-width: 6rem;
  vertical-align: top;
}

.table {
  font-family: 'Inter', sans-serif;
}

.thead {
  text-align: left;
}

.tbody {
  font-size: 0.875rem;
}

.item {
  padding: 0;
}
