.table {
  border-spacing: 0;
  font-family: var(--midas-typography-font-family);
  font-size: var(--midas-typography-font-size-20);
  line-height: var(--midas-typography-line-height-20);

  > div {
    pointer-events: auto !important;
  }

  .tableHeader {
    .column {
      background-color: var(--midas-layer-accent-01-base);
      color: var(--midas-text-primary);
      font-weight: 500;
      padding: var(--midas-size-75) var(--midas-size-80);
      text-align: left;

      &[data-focus-visible] {
        outline: var(--midas-size-10) solid var(--midas-border-color-primary);
        outline-offset: -4px;
      }

      .selection {
        height: 18px;
      }
    }
  }

  .row {
    background-color: var(--midas-layer-01-base);

    &[data-focused] {
      outline: var(--midas-size-10) solid var(--midas-border-color-primary);
      outline-offset: -4px;
    }

    height: 100%;

    &[data-href] {
      cursor: pointer;
    }

    &[data-hovered] {
      background-color: var(--midas-layer-01-hover);
    }

    .cell {
      border-bottom: 1px var(--midas-border-color-subtle) solid;
      color: var(--midas-text-primary);
      padding: calc(var(--midas-size-75) - 1px) var(--midas-size-80)
        var(--midas-size-75);

      &[data-focus-visible] {
        outline-offset: -4px;
        outline: var(--midas-size-10) solid var(--midas-border-color-primary);
      }

      .selection {
        height: 18px;
      }
    }
  }

  &.narrow {
    font-size: var(--midas-typography-font-size-10);
    line-height: var(--midas-typography-line-height-10);

    .column {
      padding: var(--midas-size-20) var(--midas-size-80);
      height: 14px;

      .selection {
        height: 14px;
      }
    }

    .cell {
      padding: calc(var(--midas-size-20) - 1px) var(--midas-size-80)
        var(--midas-size-20);

      .selection {
        height: 16px;
      }
    }
  }

  &.medium:not(.narrow) {
    .column {
      padding: calc(var(--midas-size-60) - 1px) var(--midas-size-80);
    }

    .cell {
      padding: calc(var(--midas-size-60) - 2px) var(--midas-size-80)
        calc(var(--midas-size-60) - 1px);
    }
  }

  &.striped {
    .row {
      &:nth-child(odd):not([data-even='false']),
      &[data-even='true'] {
        background-color: transparent;

        &[data-hovered] {
          background-color: var(--midas-layer-accent-01-hover);
        }
      }
    }
  }
}
