@value tokens: "../theme/tokens.css";
@value --font-family, --layer-accent-01, --layer-01, --border-subtle, --layer-accent-hover-01, --layer-hover-01, --border-primary, --text-primary from tokens;

.cell {
  background-color: --layer-01;
  border-top: 1px --border-subtle solid;
  padding: 1rem;
  color: --text-primary;
}

.table {
  font-family: --font-family;
  border-spacing: 0;

  th[data-focused='true'] {
    outline: 2px solid --border-primary;
  }

  th[data-hovered='true'] {
    outline: 2px solid --border-primary;
  }

  &.striped .row:nth-child(2n) .cell {
    background-color: --layer-accent-01;
  }

  &.striped .row:nth-child(2n):hover .cell {
    background-color: --layer-accent-hover-01;
  }
}

.row {
  &[data-focused='true'] {
    outline: 2px solid --border-primary;
  }

  &[data-href] {
    cursor: pointer;
  }

  &[data-hovered='true'] td {
    background-color: --layer-hover-01;
  }
}

.tableHeader {
  background-color: --layer-accent-01;
  color: --text-primary;
}

.column {
  padding: 1rem;
  text-align: left;
  font-weight: 500;
}
