@value tokens: "../theme/tokens.css";
@value --border-primary, --border-subtle, --font-family, --layer-01, --layer-accent-01, --layer-accent-hover-01, --layer-hover-01, --size-60, --size-80, --size-130, --size-150, --text-primary from tokens;

.cell {
  background-color: --layer-01;
  border-top: 1px --border-subtle solid;
  padding: calc(--size-80 - 1px) --size-80 --size-80;
  color: --text-primary;
}

.table {
  font-family: --font-family;
  border-spacing: 0;
  line-height: 1;

  &.narrow {
    th,
    td {
      padding: 0.2rem 1rem;
    }
  }

  &.medium {
    .cell {
      padding: calc(--size-60 - 1px) --size-80 --size-60;
    }

    .column {
      padding: --size-60 --size-80;
    }
  }

  th[data-focused='true'] {
    outline: 2px solid --border-primary;
  }

  th[data-hovered='true'] {
    outline: 2px solid --border-primary;
  }

  &.striped .row:nth-child(2n) .cell {
    background-color: --layer-accent-01;
  }

  &.striped .row:nth-child(2n):hover .cell {
    background-color: --layer-accent-hover-01;
  }
}

.row {
  &[data-focused='true'] {
    outline: 2px solid --border-primary;
  }

  &[data-href] {
    cursor: pointer;
  }

  &[data-hovered='true'] td {
    background-color: --layer-hover-01;
  }
}

.tableHeader {
  background-color: --layer-accent-01;
  color: --text-primary;
}

.column {
  padding: 1rem;
  text-align: left;
  font-weight: 500;
}
