.table {
  border-spacing: 0;
  font-family: var(--typography-font-family);
  font-size: var(--typography-font-size-20);
  line-height: var(--typography-line-height-20);

  > div {
    pointer-events: auto !important;
  }

  .tableHeader {
    .column {
      background-color: var(--semantic-layer-accent-01);
      color: var(--semantic-text-primary);
      font-weight: 500;
      padding: var(--size-75) var(--size-80);
      text-align: left;

      &[data-focus-visible] {
        outline: var(--size-10) solid var(--semantic-border-primary);
        outline-offset: -4px;
      }

      .selection {
        height: 18px;
      }
    }
  }

  .row {
    &[data-focused] {
      outline: var(--size-10) solid var(--semantic-border-primary);
      outline-offset: -4px;
    }

    height: 100%;

    &[data-href] {
      cursor: pointer;
    }

    &[data-hovered] {
      background-color: var(--semantic-layer-hover-01);
    }

    background-color: var(--semantic-layer-01);

    .cell {
      border-top: 1px var(--semantic-border-subtle) solid;
      color: var(--semantic-text-primary);
      padding: calc(var(--size-75) - 1px) var(--size-80) var(--size-75);

      &[data-focus-visible] {
        outline-offset: -4px;
        outline: var(--size-10) solid var(--semantic-border-primary);
      }

      .selection {
        height: 18px;
      }
    }
  }

  &.narrow {
    font-size: var(--typography-font-size-10);
    line-height: var(--typography-line-height-10);

    .column {
      padding: var(--size-20) var(--size-80);
      height: 14px;

      .selection {
        height: 14px;
      }
    }

    .cell {
      padding: calc(var(--size-20) - 1px) var(--size-80) var(--size-20);

      .selection {
        height: 16px;
      }
    }
  }

  &.medium:not(.narrow) {
    .column {
      padding: calc(var(--size-60) - 1px) var(--size-80);
    }

    .cell {
      padding: calc(var(--size-60) - 2px) var(--size-80)
        calc(var(--size-60) - 1px);
    }
  }

  &.striped {
    .row {
      &:nth-child(even),
      &[data-even='false'] {
        background-color: var(--semantic-layer-accent-01);

        &[data-hovered] {
          background-color: var(--semantic-layer-accent-hover-01);
        }
      }
    }
  }
}
