.collapsePanel {
  width: 15rem;
  transition: width var(--midas-transition-duration-fast) ease-out;

  &.collapsed {
    width: calc(32px + 48px);
  }

  @media (width <= 640px) {
    display: none;
  }
}

.panelHeader {
  gap: 0;
}

.panelTitle {
  font-size: var(--midas-typography-font-size-20);
  display: block;
}
