:global {
  .container--fullscreen {
    max-width: 100%;
    padding: 0;
  }

  .textColumn {
    align-content: center;
  }
}

.text {
  margin: 2rem 20% 25% var(--ifm-navbar-padding-horizontal);

  @media (max-width: 996px) {
    margin: 2rem var(--ifm-navbar-padding-horizontal);
  }

}

.display1 {
  font-size: 4rem;
  font-weight: 600;
}

.image {
  object-fit: cover;
  object-position: left center;
  min-height: 80vh;

  @media (max-width: 998px) {
    width: 100%;
    min-height: 20vh;
  }
}
