.container {
  padding-inline-start: 0;
  font-family: var(--midas-typography-font-family);
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
  list-style: none;
  margin: 0;

  li {
    display: flex;
    align-items: baseline;
  }

  li[data-current='true'] a {
    cursor: default;
  }
}

.separator {
  color: var(--midas-text-disabled);
  padding: 0 5px;
}
