.myModal {
  & > div {
    width: 95%;
    max-width: none;
  }
}

.field-and-spinner {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.spinner-box {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skeleton-container {
  gap: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
