@keyframes slideInEnd {
  from {
    transform: translateX(calc(100% + 1rem));
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutEnd {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(calc(100% + 1rem));
    opacity: 0;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(calc(-100%));
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutTop {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(calc(-100%));
    opacity: 0;
  }
}

.toastRegion {
  position: fixed;
  left: 50%;
  top: calc(92px + 1rem);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  width: calc(100% - 2rem);
  z-index: var(--midas-z-index-toast);

  &:focus-visible {
    outline: none;
  }

  @media (width >= 768px) {
    width: unset;
    left: unset;
    transform: unset;
    top: calc(80px + 1rem);
    right: 1rem;
  }
}

.toast {
  font-family: var(--midas-typography-font-family);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  color: var(--midas-text-primary);
  padding-left: calc(1rem - 3px);
  border-left: 3px solid transparent;
  width: calc(100% - 1rem);
  font-size: 0.875rem;

  @media (forced-colors: active) {
    border: 1px solid;
    border-left: 3px solid;
  }

  &[data-focus-visible],
  &:focus-visible {
    outline: none;
    box-shadow: var(--midas-state-focus);
  }

  &.success {
    --bg: var(--midas-support-background-success);
    --border: var(--midas-support-border-success);

    background: var(--bg);
    border-left-color: var(--border);
  }

  &.info {
    --bg: var(--midas-support-background-info);
    --border: var(--midas-support-border-info);

    background: var(--bg);
    border-left-color: var(--border);
  }

  &.important {
    --border: var(--midas-support-border-important);
    --bg: var(--midas-support-background-important);

    background: var(--bg);
    border-left-color: var(--border);
  }

  &.warning {
    --border: var(--midas-support-border-warning);
    --bg: var(--midas-support-background-warning);

    background: var(--bg);
    border-left-color: var(--border);
  }

  & .icon {
    color: var(--midas-icon-primary);
    flex: 0 0 auto;

    @media (forced-colors: active) {
      stroke: mark;
    }
  }

  @media (width >= 768px) {
    width: 18rem;
  }
}

.toastContent {
  padding: 0.875rem 0;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.toastMessage {
  padding: 0.125rem 0 0;
  margin: 0;
  line-height: 1.2;
}

/* cssmodules-pure-ignore */
::view-transition-new(.viewTransition):only-child {
  animation-name: slideInTop;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  animation-direction: normal;
  animation-fill-mode: both;
}

@media (width >= 768px) {
  /* cssmodules-pure-ignore */
  ::view-transition-new(.viewTransition):only-child {
    animation-name: slideInEnd;
  }
}

/* cssmodules-pure-ignore */
::view-transition-old(.viewTransition):only-child {
  animation-name: slideOutTop;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  animation-direction: normal;
  animation-fill-mode: both;
}

@media (width >= 768px) {
  /* cssmodules-pure-ignore */
  ::view-transition-old(.viewTransition):only-child {
    animation-name: slideOutEnd;
  }
}

@media (prefers-reduced-motion) {
  /* cssmodules-pure-ignore */
  ::view-transition-new(.viewTransition):only-child,
  ::view-transition-old(.viewTransition):only-child {
    animation: none;
  }
}
