.panelContent {
  flex: 1 1 auto;
  overflow: hidden auto;
  padding: var(--midas-space-small) var(--midas-space-medium) 0;

  &:focus-visible {
    box-shadow: var(--midas-state-focus-inset);
    outline: none;

    @media (forced-colors: active) {
      outline: var(--midas-state-focus-contrast-mode-outline) solid highlight;
      outline-offset: calc(var(--midas-state-focus-contrast-mode-outline) * -1);
    }
  }
}
