@value tokens: "../theme/tokens.css";
@value --layer-accent-01, --signal-green-100 from tokens;

.progressBar {
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    'label value'
    'bar bar';
  grid-template-columns: 1fr auto;

  .label {
    grid-area: label;
    margin: 0;
  }

  .value {
    grid-area: value;
    margin: 0;
  }

  .bar {
    background: --layer-accent-01;
    grid-area: bar;
    height: 0.25rem;
    overflow: hidden;

    .fill {
      background: --signal-green-100;
      height: 100%;
    }
  }

  &:not([aria-valuenow]) {
    .fill {
      will-change: transform;
      background: --signal-green-100;
      height: 100%;
      animation: 2s ease-in-out infinite indeterminate;
    }
  }
}

@keyframes indeterminate {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(200%);
  }
}
