.progressBar {
  column-gap: var(--midas-space-small);
  display: grid;
  grid-template-areas:
    'label value'
    'track track';
  grid-template-columns: 1fr auto;

  .label {
    grid-area: label;
    margin: 0 0 var(--midas-space-small);
  }

  .value {
    grid-area: value;
    margin: 0 0 var(--midas-space-small);
  }

  .track {
    background: var(--midas-progress-bar-track-background);
    grid-area: track;
    height: 0.25rem;
    overflow: hidden;

    @media (forced-colors: active) {
      border: 1px solid;
    }

    .indicator {
      background: var(--midas-progress-bar-indicator-background);
      height: 100%;

      @media (forced-colors: active) {
        background: highlight;
      }
    }
  }

  &:not([aria-valuenow]) {
    .indicator {
      will-change: transform;
      background: var(--midas-progress-bar-indicator-background);
      height: 100%;
      animation: 2s var(--midas-transition-timing-ease-in-out) infinite
        indeterminate;

      @media (forced-colors: active) {
        background: highlight;
      }
    }
  }

  .circular {
    grid-area: track;
    height: var(--midas-size-icon);
    transform: rotate(-90deg);
    width: var(--midas-size-icon);

    &.circularSmall {
      height: var(--midas-size-icon-sm);
      width: var(--midas-size-icon-sm);
    }
  }

  .circularTrack {
    fill: none;
    stroke: var(--midas-progress-bar-track-background);
    stroke-width: 2;

    @media (forced-colors: active) {
      stroke: CanvasText;
    }
  }

  .circularIndicator {
    fill: none;
    stroke: var(--midas-progress-bar-indicator-background);
    stroke-linecap: round;
    stroke-width: 2;
    transition: stroke-dashoffset var(--midas-transition-duration-normal)
      var(--midas-transition-timing-ease-out);

    @media (forced-colors: active) {
      stroke: highlight;
    }

    &.circularIndeterminate {
      animation: circularRotate 1s linear infinite;
      stroke-linecap: square;
      transform-origin: 50% 50%;

      @media (prefers-reduced-motion: reduce) {
        animation-duration: 2s;
      }
    }
  }
}

@keyframes indeterminate {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(200%);
  }
}

@keyframes circularRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .progressBar:not([aria-valuenow]) .indicator {
    animation-duration: 6s;
  }
}
