.progressBar {
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    'label value'
    'bar bar';
  grid-template-columns: 1fr auto;

  .label {
    grid-area: label;
    margin: 0;
  }

  .value {
    grid-area: value;
    margin: 0;
  }

  .bar {
    background: var(--midas-layer-accent-01-base);
    grid-area: bar;
    height: 0.25rem;
    overflow: hidden;

    @media (forced-colors: active) {
      border: 1px solid;
    }

    .fill {
      background: var(--midas-color-signal-green-100);
      height: 100%;

      @media (forced-colors: active) {
        background: highlight;
      }
    }
  }

  &:not([aria-valuenow]) {
    .fill {
      will-change: transform;
      background: var(--midas-color-signal-green-100);
      height: 100%;
      animation: 2s ease-in-out infinite indeterminate;

      @media (forced-colors: active) {
        background: highlight;
      }
    }
  }
}

@keyframes indeterminate {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(200%);
  }
}

@media (prefers-reduced-motion) {
  .progressBar:not([aria-valuenow]) .fill {
    animation-duration: 6s;
  }
}
