.radioGroup {
  font-family: var(--midas-typography-font-family);
  display: flex;
  flex-direction: column;

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 1;
    color: var(--midas-text-disabled);
  }

  .wrap {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
  }

  &[aria-orientation='horizontal'] .wrap {
    flex-direction: row;
    gap: 1rem;
  }
}

.radio {
  font-size: var(--midas-typography-font-size-30);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--midas-text-primary);
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    border: 0.0625rem solid var(--midas-border-color-primary);
    border-radius: 1.286rem;
    transition: all var(--midas-transition-duration-fast);

    @media (forced-colors: active) {
      transition: none;
    }
  }

  &[data-readonly] {
    cursor: default;
    border-color: var(--midas-border-color-subtle);

    &::before {
      border-color: var(--midas-border-color-subtle);
    }
  }

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: var(--midas-state-focus);
    outline: none;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[data-hovered] {
    &::before {
      border-color: var(--midas-border-color-secondary);
    }
  }

  &[data-disabled] {
    color: var(--midas-text-disabled);
    cursor: not-allowed;

    @media (forced-colors: active) {
      color: GrayText;
    }

    &::before {
      border-color: var(--midas-border-color-disabled);

      @media (forced-colors: active) {
        border-color: GrayText;
      }
    }
  }

  &[data-pressed] {
    &::before {
      border-color: var(--midas-border-color-subtle);
    }
  }

  &[data-selected]::before {
    padding: 0.188rem;
    border-width: 0.1rem;
    background: var(--midas-icon-secondary) 50% 50% no-repeat content-box;
  }

  /* Nesting this selector in the one above causes syntax errors during minification */
  @media (forced-colors: active) {
    &[data-selected]::before {
      background: highlight 50% 50% no-repeat content-box;
    }
  }

  &[data-selected][data-pressed]::before {
    border-color: var(--midas-border-color-subtle);
    background: var(--midas-icon-secondary) 50% 50% no-repeat content-box;
  }

  &[data-invalid] {
    &::before {
      border: 0.125rem solid var(--midas-support-border-warning);
    }
  }

  @media (width <= 479px) {
    padding: 0.875rem 1rem;
    border: 1px solid var(--midas-border-color-primary);
    width: auto;

    &.radio {
      width: 100%;
      box-sizing: border-box;
    }

    &[data-hovered] {
      background-color: var(--midas-field-02-hover);
    }

    &[data-invalid] {
      border: 2px solid var(--midas-support-border-warning);
    }

    &[data-disabled] {
      pointer-events: none;
      border-color: var(--midas-border-color-disabled);
    }
  }
}
