@value tokens: "../theme/tokens.css";
@value display, inputLabel, inputText, black, blue150, gray50, gray60, signalRed10, signalRed100, medium, gray150, regular, smBreakpoint, focus, mdBreakpoint, borderSecondary from tokens;

.radioGroup {
  font-family: display;
  display: flex;
  flex-direction: column;
  height: 100%;

  &[data-disabled] {
    pointer-events: none;
    opacity: 1;
    color: gray50;
  }
}

.wrap {
  grid-area: Input;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio {
  font-size: inputLabel;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: inputText;

  &::before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    border: 0.0625rem solid black;
    border-radius: 1.286rem;
    transition: all 200ms;
  }

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: focus;
    outline: none;

    @media (forced-colors: active) {
      outline-offset: 2px;
      outline: 3px solid Highlight !important;
    }
  }

  &[data-disabled] {
    color: gray50;
  }

  &[data-disabled]::before {
    border-color: gray50;
  }

  &[data-pressed]::before {
    border-color: borderSecondary;
  }

  &[data-selected]::before {
    padding: 0.188rem;
    border-width: 0.1rem;
    background: blue150 50% 50% no-repeat content-box;
  }

  &[data-selected][data-pressed]::before {
    border-color: gray60;
    background: gray60 50% 50% no-repeat content-box;
  }

  &[data-invalid]::before {
    border: 0.125rem solid signalRed100;
  }

  @media smBreakpoint {
    padding: 0.875rem 1rem;
    border: 1px solid black;
    width: auto;

    &:hover {
      background-color: gray10;
    }

    &[data-invalid] {
      border: 2px solid signalRed100;
    }

    &[data-disabled] {
      pointer-events: none;
      border-color: gray50;
    }
  }
}
