.radioGroup {
  font-family: var(--typography-font-family);
  display: flex;
  flex-direction: column;

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 1;
    color: var(--semantic-text-disabled);
  }

  .wrap {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
  }

  &[aria-orientation='horizontal'] .wrap {
    flex-direction: row;
    gap: 1rem;
  }
}

.radio {
  font-size: var(--typography-font-size-30);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--semantic-text-primary);
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    border: 0.0625rem solid var(--semantic-border-primary);
    border-radius: 1.286rem;
    transition: all var(--transition-fast);
  }

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: var(--state-focus);
    outline: none;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[data-hovered] {
    &::before {
      border-color: var(--semantic-border-secondary);
    }
  }

  &[data-disabled] {
    color: var(--semantic-text-disabled);
    cursor: not-allowed;

    &::before {
      border-color: var(--semantic-border-disabled);
    }
  }

  &[data-pressed] {
    &::before {
      border-color: var(--semantic-border-subtle);
    }
  }

  &[data-selected]::before {
    padding: 0.188rem;
    border-width: 0.1rem;
    background: var(--semantic-icon-tertiary) 50% 50% no-repeat content-box;
  }

  /* Nesting this selector in the one above causes syntax errors during minification */
  @media (forced-colors: active) {
    &[data-selected]::before {
      background: ButtonText;
    }
  }

  &[data-selected][data-pressed]::before {
    border-color: var(--semantic-border-subtle);
    background: var(--semantic-icon-tertiary) 50% 50% no-repeat content-box;
  }

  &[data-invalid] {
    &::before {
      border: 0.125rem solid var(--semantic-support-border-warning);
    }
  }

  @media var(--breakpoint-xs) {
    padding: 0.875rem 1rem;
    border: 1px solid var(--semantic-border-primary);
    width: auto;

    &.radio {
      width: 100%;
      box-sizing: border-box;
    }

    &[data-hovered] {
      background-color: var(--semantic-field-hover-02);
    }

    &[data-invalid] {
      border: 2px solid var(--semantic-support-border-warning);
    }

    &[data-disabled] {
      pointer-events: none;
      border-color: var(--semantic-border-disabled);
    }
  }
}
