@value tokens: "../theme/tokens.css";
@value --font-family, --text-disabled, --size-03, --text-primary, --border-primary, --focus, --fast-transition, --border-disabled, --icon-secondary, --border-secondary, --border-subtle, --breakpoint-sm, --field-hover-02, --border-invalid from tokens;

.radioGroup {
  font-family: --font-family;
  display: flex;
  flex-direction: column;

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 1;
    color: --text-disabled;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &[aria-orientation='horizontal'] .wrap {
    flex-direction: row;
    gap: 1rem;
  }
}

.radio {
  font-size: --size-03;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: --text-primary;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    box-sizing: border-box;
    border: 0.0625rem solid --border-primary;
    border-radius: 1.286rem;
    transition: all --fast-transition;
  }

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: --focus;
    outline: none;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[data-hovered] {
    &::before {
      border-color: --border-secondary;
    }
  }

  &[data-disabled] {
    color: --text-disabled;
    cursor: not-allowed;

    &::before {
      border-color: --border-disabled;
    }
  }

  &[data-pressed] {
    &::before {
      border-color: --border-subtle;
    }
  }

  &[data-selected]::before {
    padding: 0.188rem;
    border-width: 0.1rem;
    background: --icon-secondary 50% 50% no-repeat content-box;

    @media (forced-colors: active) {
      background: ButtonText;
    }
  }

  &[data-selected][data-pressed]::before {
    border-color: --border-subtle;
    background: --icon-secondary 50% 50% no-repeat content-box;
  }

  &[data-invalid] {
    &::before {
      border: 0.125rem solid --border-invalid;
    }
  }

  @media --breakpoint-sm {
    padding: 0.875rem 1rem;
    border: 1px solid --border-primary;
    width: auto;

    &[data-hovered] {
      background-color: --field-hover-02;
    }

    &[data-invalid] {
      border: 2px solid --border-invalid;
    }

    &[data-disabled] {
      pointer-events: none;
      border-color: --border-disabled;
    }
  }
}
