@value tokens: "../../../theme/src/lib/tokens.css";
@value red100, black, gray130, white from tokens;

.container {
  padding: 1rem;
  display: inline-flex;
}

.noPadding {
  padding: 0;
}

.logo {
  max-width: 100%;
  height: 48px;
}

.primary {
  fill: red100;
}

.dark {
  fill: black;
}

.xSmall {
  height: 36px;
}

.small {
  height: 40px;
}

.large {
  height: 52px;
}

.backgroundPrimary {
  background-color: red100;

  svg {
    fill: white;
  }
}

.backgroundDark {
  background-color: gray130;

  svg {
    fill: white;
  }
}
