.container {
  padding: 1rem;
  display: inline-flex;
}

.noPadding {
  padding: 0;
}

.logo {
  max-width: 100%;
  height: 48px;
}

.primary {
  fill: var(--midas-logo-primary);
}

.dark {
  fill: var(--midas-background-inverse);
}

.xSmall {
  height: 36px;
}

.small {
  height: 40px;
}

.large {
  height: 52px;
}
