@value tokens: "../theme/tokens.css";
@value --font-family, --link-enabled, --link-hover, --link-pressed, --link-visited, --text-disabled, --focus, --z-index-base from tokens;

.link {
  font-family: --font-family;
  color: --link-enabled;
  text-decoration: underline;
  display: inline-flex;
  cursor: pointer;
  gap: 0.25rem;
  font-weight: 400;
  align-items: center;

  &[data-hovered],
  &:hover {
    color: --link-hover;
  }

  &:visited {
    color: --link-visited;
  }

  &[data-disabled],
  &:disabled {
    cursor: not-allowed;
    color: --text-disabled;
  }

  &[data-pressed]:not([data-disabled], :disabled),
  &:active:not([data-disabled], :disabled) {
    color: --link-pressed;
  }

  &[data-focused],
  &:focus {
    outline: none;
  }

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }
}

.icon {
  flex: 0 0 auto;
}

.standalone {
  display: inline-flex;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: 500;

  &[data-hovered]:not([data-disabled], :disabled),
  &:hover:not([data-disabled], :disabled) {
    text-decoration: underline;
  }

  &[data-pressed]:not([data-disabled], :disabled),
  &:active:not([data-disabled], :disabled) {
    text-decoration: underline;
  }
}

.stretched {
  &::after {
    position: absolute;
    inset: 0;
    z-index: --z-index-base;
    content: '';
  }
}
