@value tokens: "../theme/tokens.css";
@value --font-family, --text-invalid, --field-01, --border-primary, --focus, --border-invalid, --icon-primary, --text-primary from tokens;

.fieldError {
  font-family: --font-family;
  color: --text-invalid;
  grid-area: Error;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin: 0.5rem 0 0;
  line-height: 1.28;

  &:has(+ *) {
    margin: 0 0 0.5rem;
  }

  &::before {
    content: '';
    background-color: --text-invalid;
    display: block;
    width: 1rem;
    height: 1rem;
    mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtdHJpYW5nbGUtYWxlcnQiPjxwYXRoIGQ9Im0yMS43MyAxOC04LTE0YTIgMiAwIDAgMC0zLjQ4IDBsLTggMTRBMiAyIDAgMCAwIDQgMjFoMTZhMiAyIDAgMCAwIDEuNzMtMyIvPjxwYXRoIGQ9Ik0xMiA5djQiLz48cGF0aCBkPSJNMTIgMTdoLjAxIi8+PC9zdmc+');
    mask-size: 1rem 1rem;
    flex: 0 0 auto;
    align-self: flex-start;
    margin: 2px;

    @media (forced-colors: active) {
      background-color: highlight;
    }
  }
}

.container {
  font-family: --font-family;
  color: --text-primary;
  display: flex;
  width: 100%;

  &[data-disabled='true'] {
    cursor: not-allowed;
  }
}

.inputContainer {
  display: flex;
  position: relative;
  min-height: 3rem;
  width: 100%;
}

.icon {
  color: --icon-primary;
  position: absolute;
  margin-left: 0.875rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.clear {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 0.875rem;
  border: none;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
}

.input {
  all: unset;
  box-sizing: border-box;
  line-height: 1rem;
  appearance: none;
  background-color: --field-01;
  width: 100%;
  padding: 0.875rem 0 0.875rem 3rem;
  border-bottom: 1px solid --border-primary;

  &:focus-visible {
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[aria-invalid='true'] {
    border: 2px solid --border-invalid;
  }

  &[data-disabled] {
    pointer-events: none;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
  }
}
