@value tokens: "../theme/tokens.css";
@value --font-family, --text-warning, --field-01, --border-primary, --focus, --support-border-warning, --icon-primary, --text-primary, --size-50, --size-70, --size-110, --size-130, --size-150 from tokens;

.container {
  font-family: --font-family;
  color: --text-primary;
  display: flex;
  width: 100%;

  &[data-disabled='true'] {
    cursor: not-allowed;
  }
}

.inputContainer {
  display: flex;
  position: relative;
  height: --size-150;
  width: 100%;

  &.medium {
    height: --size-130;
  }
}

.icon {
  color: --icon-primary;
  position: absolute;
  margin-left: 0.875rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.clear {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 0.875rem;
  border: none;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;

  &.medium {
    height: --size-130;
    padding: 0.625rem 0.875rem;
  }
}

.input {
  all: unset;
  box-sizing: border-box;
  line-height: 1rem;
  appearance: none;
  background-color: --field-01;
  width: 100%;
  height: --size-150;
  padding: --size-70 0 --size-70 --size-150;
  border-bottom: 1px solid --border-primary;

  &.medium {
    height: --size-130;
    padding: --size-50 0 --size-50 --size-150;
  }

  &:focus-visible {
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[aria-invalid='true'] {
    border: 2px solid --support-border-warning;
  }

  &[data-disabled] {
    pointer-events: none;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
  }
}
