.layout {
  display: flex;
  flex-direction: column;
  font-family: var(--midas-typography-font-family);
  width: 100%;
  height: 100dvh;
}

.restContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.mainContainer {
  display: flex;
  position: relative;
  height: 100%;
}
