@value tokens: "../theme/tokens.css";
@value --field-hover-01, --focus, --text-primary from tokens;

.dateInput {
  display: flex;

  & div:focus-visible,
  & div[data-focus-visible] {
    outline: none;
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 0;
    }
  }

  & div[data-readonly='true'] {
    color: --text-primary;
    padding: 0 2px;
  }
}

.divider {
  color: --text-primary;
}
