/**
 * 1. Represents max ~5 options in the list.
 */
.listBox {
  max-height: 295px; /* 1 */
  overflow-y: auto;

  > div {
    /* react aria fiddles with pointer events during scroll
     * after a few scrolls the value sticks to "none" in our storybook
     */
    pointer-events: auto !important;
  }
}

.listBoxPopover {
  font-family: var(--midas-typography-font-family);
  width: var(--trigger-width);
  background: var(--midas-layer-01);
  overflow-y: auto;
  box-shadow: 0 3px 5px 0 rgba(0 0 0 / 20%);

  @media (forced-colors: active) {
    border: 1px solid var(--midas-border-primary);
  }
}

.listBoxSectionHeading {
  font-family: var(--midas-typography-font-family);
  display: block;
  padding: var(--midas-size-80) var(--midas-size-80) var(--midas-size-40) var(--midas-spacing-40);
  font-weight: 500;
  font-size: 14px;
  color: var(--midas-menu-text-section-header);
}

.listBoxButton {
  all: unset;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2px !important;

  &:focus-visible {
    box-shadow: var(--state-focus-inset);
    outline: none;
  }
}

.listBoxItem {
  background-color: var(--midas-layer-01);
  color: var(--midas-text-primary);
  display: flex;
  font-family: var(--midas-typography-font-family);
  line-height: 1;
  margin-bottom: 0;
  padding: var(--midas-size-80);
  transition: background-color 60ms;

  &:hover:not([data-disabled]) {
    background-color: var(--midas-layer-hover-01);
    cursor: pointer;
    transition-delay: 60ms;
  }

  &[data-disabled] {
    color: var(--midas-text-disabled);
    cursor: not-allowed;
  }

  &[data-selected] {
    background-color: var(--midas-layer-selected-01);

    &:hover:not([data-disabled]) {
      background-color: var(--midas-layer-selected-hover-01);
      transition-delay: 60ms;
    }
  }

  &[data-focused] {
    outline: none;
    box-shadow: none;

    @media (forced-colors: active) {
      border: 1px ButtonBorder solid;
    }
  }

  &[data-focus-visible] {
    box-shadow: var(--state-focus-inset);
    outline: none;
  }
}
