:root {
  color-scheme: light dark;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

.innerZoomElementWrapper > *:not(#\9) {
  @media (forced-colors: active) {
    border-color: Canvas !important;
  }
}
