@value tokens: "../theme/tokens.css";
@value --font-family, --field-01,--text-primary,--text-on-color,--text-disabled, --button-background-primary,--border-strong, --field-hover-01, --focus from tokens;

.calendar {
  * {
    background: unset;
    color: unset;
    padding: unset;
    border: unset;
  }

  thead tr,
  tbody tr {
    background-color: unset;
  }

  th {
    font-weight: 500;
  }

  & th,
  & .day {
    text-align: center;
    padding: 0.75rem;
  }

  background-color: --field-01;
  font-family: --font-family;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: --text-primary;

  & [data-unavailable] {
    color: --text-disabled;
  }

  & div:focus-visible,
  & div[data-focus-visible] {
    outline: 2px solid --border-strong;

    @media (forced-colors: active) {
      outline: 3px solid activeText;
      outline-offset: 2px;
    }
  }

  &[data-disabled='true'],
  &[data-disabled='true'] .day,
  &[data-disabled='true'] button {
    cursor: not-allowed;
  }

  @media (forced-colors: active) {
    border: 2px solid;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  & button {
    border: none;
    color: --text-primary;
    background-color: --field-01;
    cursor: pointer;

    &:focus-visible,
    &[data-focus-visible] {
      outline: none;
      box-shadow: --focus;

      @media (forced-colors: active) {
        outline: 3px solid;
        outline-offset: 2px;
      }
    }
  }
}

.day {
  border: solid 2px --field-01;
  cursor: pointer;

  &[data-hovered] {
    background-color: --field-hover-01;
    border-color: --field-hover-01;
  }

  &[data-selection-start='true'] {
    color: --text-on-color;
    background-color: --button-background-primary;
    border-color: --button-background-primary;
  }

  &[data-selection-end='true'] {
    color: inherit;
    background-color: --field-01;
    border-color: --button-background-primary;
  }

  &[data-selected='true'] {
    color: --text-on-color;
    background-color: --button-background-primary;
    border-color: --button-background-primary;

    @media (forced-colors: active) {
      background-color: highlight;
    }
  }

  &.today {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: 600;
  }

  &[data-outside-month='true'] {
    display: none;
  }
}
