@value tokens: "../theme/tokens.css";
@value --font-family, --layer-01, --text-primary, --text-on-color, --text-disabled, --button-background-primary, --border-primary, --field-hover-01, --focus, --text-warning, --support-border-warning from tokens;

.container {
  display: inline-flex;
  flex-direction: column;
}

.calendar {
  padding: 0.5rem;

  * {
    background: unset;
    color: unset;
    padding: unset;
    border: unset;
  }

  table {
    display: table;
    border-collapse: unset;
  }

  thead tr,
  tbody tr {
    background-color: unset;
  }

  th,
  & .day {
    text-align: center;
    min-width: 2.25rem;
    box-sizing: content-box;
    line-height: initial;
  }

  th {
    font-weight: 500;
    padding: 0.625rem 0;
  }

  & .day {
    padding: 0.5rem 0;
  }

  background-color: --layer-01;
  font-family: --font-family;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: --text-primary;

  & [data-unavailable] {
    color: --text-disabled;
  }

  & div:focus-visible,
  & div[data-focus-visible] {
    outline: 2px solid --border-primary;

    @media (forced-colors: active) {
      outline: 3px solid activeText;
      outline-offset: 2px;
    }
  }

  &[data-disabled='true'],
  &[data-disabled='true'] button {
    cursor: not-allowed;
    color: --text-disabled;
  }

  &[data-invalid] {
    border: 2px solid --support-border-warning;
  }

  @media (forced-colors: active) {
    border: 2px solid;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & button {
    border: none;
    color: --text-primary;
    padding: 0.5rem;
    background-color: --layer-01;
    cursor: pointer;

    &:hover:not([data-disabled]) {
      background-color: --field-hover-01;
    }

    &:focus-visible,
    &[data-focus-visible] {
      outline: none;
      box-shadow: --focus;

      @media (forced-colors: active) {
        outline: 3px solid;
        outline-offset: 2px;
      }
    }
  }

  [data-disabled] {
    color: --text-disabled;
  }
}

.day {
  border: solid 2px --layer-01;
  cursor: pointer;

  &[data-hovered]:not([data-unavailable], [data-disabled]) {
    background-color: --field-hover-01;
    border-color: --field-hover-01;
  }

  &[data-selection-start='true'] {
    color: --text-on-color;
    background-color: --button-background-primary;
    border-color: --button-background-primary;
  }

  &[data-selection-end='true'] {
    color: inherit;
    background-color: --layer-01;
    border-color: --button-background-primary;
  }

  &[data-selected='true'] {
    color: --text-on-color;
    background-color: --button-background-primary;
    border-color: --button-background-primary;

    @media (forced-colors: active) {
      background-color: highlight;
    }
  }

  &[data-disabled],
  &[data-unavailable] {
    color: --text-disabled;
    cursor: not-allowed;
  }

  &.today {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &[data-outside-month='true'] {
    display: none;
  }
}
