.container {
  display: inline-flex;
  flex-direction: column;
}

.calendar {
  padding: 0.5rem;

  * {
    background: unset;
    color: unset;
    padding: unset;
    border: unset;
  }

  table {
    display: table;
    border-collapse: unset;
  }

  thead tr,
  tbody tr {
    background-color: unset;
  }

  th,
  & .day {
    text-align: center;
    min-width: 2.25rem;
    box-sizing: content-box;
    line-height: initial;
  }

  th {
    font-weight: 500;
    padding: 0.625rem 0;
  }

  & .day {
    padding: 0.5rem 0;
  }

  background-color: var(--semantic-layer-01);
  font-family: var(--typography-font-family);
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: var(--semantic-text-primary);

  & [data-unavailable] {
    color: var(--semantic-text-disabled);
  }

  & div:focus-visible,
  & div[data-focus-visible] {
    outline: 2px solid var(--semantic-border-primary);

    @media (forced-colors: active) {
      outline: 3px solid activeText;
      outline-offset: 2px;
    }
  }

  &[data-disabled='true'],
  &[data-disabled='true'] button {
    cursor: not-allowed;
    color: var(--semantic-text-disabled);
  }

  &[data-invalid] {
    border: 2px solid var(--semantic-support-border-warning);
  }

  @media (forced-colors: active) {
    border: 2px solid;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & button {
    border: none;
    color: var(--semantic-text-primary);
    padding: 0.5rem;
    background-color: var(--semantic-layer-01);
    cursor: pointer;

    &:hover:not([data-disabled]) {
      background-color: var(--semantic-field-hover-01);
    }

    &:focus-visible,
    &[data-focus-visible] {
      outline: none;
      box-shadow: var(--state-focus);

      @media (forced-colors: active) {
        outline: 3px solid;
        outline-offset: 2px;
      }
    }
  }

  [data-disabled] {
    color: var(--semantic-text-disabled);
  }
}

.day {
  border: solid 2px var(--semantic-layer-01);
  cursor: pointer;

  &[data-hovered]:not([data-unavailable], [data-disabled], [data-selected]) {
    background-color: var(--semantic-field-hover-01);
    border-color: var(--semantic-field-hover-01);
  }

  &[data-selected='true'] {
    color: var(--semantic-text-inverse);
    background-color: var(--semantic-calendar-date-background-selected);
    border-color: var(--semantic-calendar-date-background-selected);

    @media (forced-colors: active) {
      background-color: highlight;
    }
  }

  &.range {
    &[data-selected='true'] {
      color: var(--semantic-text-primary);
      background-color: var(--semantic-calendar-date-background-in-range);
      border-color: var(--semantic-calendar-date-background-in-range);
    }

    &[data-selection-start='true'] {
      color: var(--semantic-text-inverse);
      background-color: var(--semantic-calendar-date-background-start-range);
      border-color: var(--semantic-calendar-date-background-start-range);
    }

    &[data-selection-end='true'] {
      color: var(--semantic-text-inverse);
      background-color: var(--semantic-calendar-date-background-end-range);
      border-color: var(--semantic-calendar-date-background-end-range);
    }
  }

  &[data-disabled],
  &[data-unavailable] {
    color: var(--semantic-text-disabled);
    cursor: not-allowed;
  }

  &.today {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &[data-outside-month='true'] {
    display: none;
  }
}
