.button {
  color: var(--midas-icon-primary);
  padding: var(--midas-space-xsmall) !important;
  border-radius: 1.5rem;
  margin-left: var(--midas-space-10);

  &[data-hovered] {
    background-color: var(--midas-button-icon-hover);
  }

  &[data-pressed] {
    background-color: var(--midas-button-icon-active);
  }

  &.green[data-hovered],
  &.red[data-hovered],
  &.blue[data-hovered],
  &.yellow[data-hovered] {
    background-color: var(--midas-button-icon-hover);
  }

  &.green[data-pressed],
  &.red[data-pressed],
  &.blue[data-pressed],
  &.yellow[data-pressed] {
    background-color: var(--midas-button-icon-active);
  }
}

.tag {
  align-items: center;
  background-color: var(--midas-field-01-base);
  border-color: var(--midas-border-color-primary);
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 1px;
  color: var(--midas-text-primary);
  display: inline-flex;
  font-family: var(--midas-typography-font-family);
  font-size: var(--midas-typography-font-size-20);
  line-height: var(--midas-typography-line-height-20);

  &.green {
    background-color: var(--midas-tag-green-background);
    border-color: var(--midas-tag-green-border-color);
  }

  &.blue {
    background-color: var(--midas-tag-blue-background);
    border-color: var(--midas-tag-blue-border-color);
  }

  &.yellow {
    background-color: var(--midas-tag-yellow-background);
    border-color: var(--midas-tag-yellow-border-color);
  }

  &.red {
    background-color: var(--midas-tag-red-background);
    border-color: var(--midas-tag-red-border-color);
  }

  &[data-disabled] {
    background-color: var(--midas-field-01-base);
    border-color: var(--midas-border-color-disabled);
    color: var(--midas-text-disabled);
    cursor: not-allowed;
  }

  &[data-focused],
  &[data-focus-visible] {
    outline: none;
  }

  &[data-focus-visible] {
    box-shadow: var(--midas-state-focus);

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }
}

.tagText {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: var(--midas-space-xsmall);
  padding: 5px var(--midas-space-small);
  min-height: 1.875rem;

  svg {
    width: var(--midas-size-icon-sm);
    height: var(--midas-size-icon-sm);
  }
}

.dismissable .tagText {
  padding: 5px 0 5px var(--midas-space-small);
}
