.button {
  color: var(--semantic-icon-primary);
  min-height: unset !important;
  padding: var(--size-20) !important;
  border-radius: 1.5rem;
  border: unset;

  &[data-hovered] {
    background-color: var(--semantic-button-background-icon-hover);
  }

  &[data-pressed] {
    background-color: var(--semantic-button-background-icon-active);
  }

  &.success[data-hovered],
  &.warning[data-hovered],
  &.info[data-hovered],
  &.important[data-hovered] {
    background-color: var(--semantic-button-background-icon-hover);
  }

  &.success[data-pressed],
  &.warning[data-pressed],
  &.info[data-pressed],
  &.important[data-pressed] {
    background-color: var(--semantic-button-background-icon-active);
  }
}

.tag {
  display: inline-flex;
  align-items: center;
  border-radius: 1.25rem;
  background-color: var(--semantic-field-01);
  font-size: 0.875rem;
  font-family: var(--typography-font-family);
  border: 1px solid var(--semantic-border-primary);
  color: var(--semantic-text-primary);

  &.success {
    background-color: var(--semantic-support-background-success);
    border: 1px solid var(--semantic-support-border-success);
  }

  &.info {
    background-color: var(--semantic-support-background-info);
    border: 1px solid var(--semantic-support-border-info);
  }

  &.important {
    background-color: var(--semantic-support-background-important);
    border: 1px solid var(--semantic-support-border-important);
  }

  &.warning {
    background-color: var(--semantic-support-background-warning);
    border: 1px solid var(--semantic-support-border-warning);
  }

  &[data-disabled] {
    color: var(--semantic-text-disabled);
    cursor: not-allowed;
    border-color: var(--semantic-border-disabled);
    background-color: var(--semantic-field-01);
  }

  &[data-focused],
  &[data-focus-visible] {
    outline: none;
  }

  &.dismissable {
    &[data-focus-visible] {
      outline-offset: 2px;
      outline: 2px solid black;
    }
  }
}

.tagText {
  line-height: 1.15;
  padding: 7px var(--size-40);
}

.dismissable .tagText {
  padding: 7px var(--size-10) 7px var(--size-40);
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
