@value tokens: "../theme/tokens.css";
@value --font-family, --focus, --button-background-tertiary-hover from tokens;

.dropDownMenu {
  font-family: --font-family;
  box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 25%);
  background-color: --button-background-tertiary-hover;

  &[data-focus-visible] {
    outline: none;
    box-shadow: --focus;
  }
}

.menuItem {
  width: 100%;

  &[data-focus-visible] {
    outline: none;
    box-shadow: --focus;
  }
}
