.dropzone {
  font-family: var(--typography-font-family);
  color: var(--semantic-text-primary);
  border: 1px dashed var(--semantic-border-subtle);
  padding: 1.5rem;
  text-align: center;
  background-color: var(--semantic-background);

  &[data-drop-target] {
    background: var(--semantic-background-hover);
    border: 1px solid var(--semantic-border-primary);
  }
}
