@value tokens: "../theme/tokens.css";
@value --font-family, --background, --background-hover, --border-subtle,--border-primary, --text-primary from tokens;

.dropzone {
  font-family: --font-family;
  color: --text-primary;
  border: 1px dashed --border-subtle;
  padding: 1.5rem;
  text-align: center;
  background-color: --background;

  &[data-drop-target] {
    background: --background-hover;
    border: 1px solid --border-primary;
  }
}
