@value tokens: "../theme/tokens.css";
@value display, regularWeight, black, signalRed130, smBreakpoint, gray50, blue150, gray20, backgroundSecondary from tokens;
* > ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.listItemfocusRing {
  border: black solid 2px;
}
.selectAllButton {
  all: unset;
  width: 100%;
  margin-bottom: 2px;
  &:focus-visible {
    outline: 2px black solid;
  }
}

.button {
  grid-area: Input;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  background-color: backgroundSecondary;
  border-bottom: 1px solid black;

/*  &[aria-expanded='true'] .icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }*/

  &:focus {
   outline: none;
  }

  &:hover {
    background-color: gray20;
  }

  &[data-focus-visible] {
    outline-offset: 2px;
    outline: 2px solid black;
  }
  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid black;
  }
  &[data-disabled] {
    background: backgroundSecondary;
    color: gray50;
    border-color: gray50;
  }
}
.buttonOpen {
  .icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
}
.buttonDisabled {
  background: backgroundSecondary;
  color: gray50;
  border-color: gray50;
}
/** not working? */
.buttonFocused {
  outline-offset: 2px;
  outline: 2px solid black;
}
.multiSelect {
  font-family: display;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &[data-disabled] {
    color: gray50;
  }

  &[data-invalid] .button {
    box-shadow: none;
    border: 2px solid signalRed130;
  }
}

.description {
  font-size: 0.875rem;
  font-weight: regularWeight;
}

.popover {
  font-family: display;
  border: 1px solid black;
  background: white;

/*  display: flex;
  flex-direction: column;*/

  --select-popover-width: max(
    var(--select-width, var(--field-width-base)) - 2px,
    200px
  ); /* 1 */

/*  background-color: var(--select-background);*/
  width: var(--select-popover-width);
}

.icon {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}
/**
 * 1. Represents max ~10 options in the list.
 */
.listBox {
  max-height: 295px; /* 1 */
  overflow-y: auto;
}

.listBoxItem {
  font-family: display;
  margin: auto;
  padding: 1rem;
  background-color: white;
  cursor: default;
  color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  &:hover {
    background-color: gray20;
  }
  &:focus {
    outline: none;
    background-color: gray20;
  }
  &:focus-visible {
    outline: none;
  }

/*  &[data-focused='true'] {
    background: gray20;
  }*/

  /*TODO: remove */
  &[data-disabled='true'] {
    color: gray50;
  }
}
.listBoxItemSelected {
}

.listBoxItemDisabled {
  color: gray50;
}
.listBoxItemFocused {}
.selectValueTag {
  font-family: display;
  background-color: blue150;
  color: white;
  border-radius: 1.25rem;
  font-size: 0.875rem;
  min-height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.selectDivider {}
.selectSectionHeading {}
/** copied stuff */
.select__popover {
  --select-background: #fff;
  --select-border: #00f;
  --select-border--hover: #aac1ff;
  --select-border--focus: #ff739d;
  --select-text: #000;
  --select-text-base: 10px;
  --select-label-text: var(--select-text);
  --select-label-text--active: var(--select-border);
  --select-option-text: var(--select-text);
  --select-option-text--disabled: #aaa;
  --select-option-text--hover: var(--select-text);
  --select-option-text--selected: var(--select-text);
  --select-option-background: transparent;
  --select-option-background--disabled: transparent;
  --select-option-background--hover: #aac1ff;
  --select-option-background--selected: #ff739d;
  --select-divider: var(--select-border--hover);
  --select-section-heading-text: var(--select-text);
}
.select__popover {
/*  border: 2px solid var(--select-border);
  padding: 20px;*/
  display: flex;
  flex-direction: column;

  --select-popover-width: max(
    var(--select-width, var(--field-width-base)),
    200px
  ); /* 1 */

  background-color: var(--select-background);
  width: var(--select-popover-width);
}
