@value tokens: "../theme/tokens.css";
@value display, black, signalRed130, smBreakpoint, gray50, gray20, backgroundSecondary from tokens;

.icon {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.button {
  grid-area: Input;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  background-color: backgroundSecondary;
  border-bottom: 1px solid black;

  &[aria-expanded='true'] .icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: gray20;
  }

  &[data-focus-visible] {
    outline-offset: 2px;
    outline: 2px solid black;
  }

  &[data-disabled] {
    background: backgroundSecondary;
    color: gray50;
    border-color: gray50;
  }
}

.multiSelect {
  font-family: display;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &[data-disabled] {
    color: gray50;
  }

  &[data-invalid] .button {
    box-shadow: none;
    border: 2px solid signalRed130;
  }
}

.popover {
  font-family: display;
  border: 1px solid black;
  background: white;
  overflow-y: auto;
}

.listBoxItem {
  margin: auto;
  padding: 1rem;
  background-color: white;
  outline: none;
  cursor: default;
  color: black;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  &:hover {
    background-color: gray20;
  }

  &[data-focused='true'] {
    background: gray20;
  }

  &[data-disabled='true'] {
    color: gray50;
  }
}
