.select-wrapper,
.select__popover {
    --select-background: #fff;
    --select-border: #23a439;
    --select-border--hover: #aac1ff;
    --select-border--focus: #ff739d;
    --select-text: #000;
    --select-text-base: 10px;
    --select-label-text: var(--select-text);
    --select-label-text--active: var(--select-border);
    --select-option-text: var(--select-text);
    --select-option-text--disabled: #aaa;
    --select-option-text--hover: var(--select-text);
    --select-option-text--selected: var(--select-text);
    --select-option-background: transparent;
    --select-option-background--disabled: transparent;
    --select-option-background--hover: #aac1ff;
    --select-option-background--selected: #ff739d;
    --select-divider: var(--select-border--hover);
    --select-section-heading-text: var(--select-text);
}

.select-wrapper {
    display: inline-flex;
    flex-direction: column;
    width: var(--field-width-base);
}

.select-wrapper__input {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.select {
    background-color: var(--select-background);
    border: 2px solid var(--select-border);
    color: var(--select-text);
    padding-inline-start: var(--select-text-base);
    padding-inline-end: var(--select-text-base);
    height: 2.25rem;
    text-align: start;
    text-overflow: ellipsis;
    width: 100%;
}

/* States */

.select--active {
    font-weight: bold;
}

.select:focus {
    outline: none;
}

.select:focus,
.select--open,
.select--focused {
    --select-border: var(--select-border--focus) !important;
}

.select:not(.select--disabled):hover {
    --select-border: var(--select-border--hover);
}

.select:disabled,
.select--disabled {
    cursor: not-allowed;
}

/* Label */

.select__label {
    transition: all 0.25s ease;

    background-color: var(--select-background);
    color: var(--select-label-text);
    inset-inline-start: var(--select-text-base);

    line-height: 1 !important;
    pointer-events: none;
    position: absolute;
    transform: translateY(12px);
}

.select__label--active {
    --select-label-text: var(--select-label-text--active);

    font-size: 12px;

    margin: 0 -5px;
    padding: 0 5px;
    transform: translateY(-6px);
}

/* Popover */

/**
 * 1. `--select-width` equals to the width of the `button.select`.
 * 1. Sets minimal width in case `button.select` is too narrow.
 */
.select__popover {
    border: 2px solid var(--select-border);
    padding: 10px;
    display: flex;
    flex-direction: column;

    --select-popover-width: max(
            var(--select-width, var(--field-width-base)),
            200px
    ); /* 1 */

    background-color: var(--select-background);
    width: var(--select-popover-width);
}

/**
 * 1. Represents max ~10 options in the list.
 */
.select__listbox {
    max-height: 295px; /* 1 */
    overflow-y: auto;
}

/* Option */

.select__option {
    padding: 0 10px;
    outline: none;
    align-items: center;
    background-color: var(--select-option-background);
    color: var(--select-option-text);
    cursor: pointer;
    display: flex;
    height: 1.875rem;
}

.select__option + .select__option {
    margin-top: 1px;
}

/* Option States */

.select__option:not(.select__option--disabled):hover,
.select__option:not(.select__option--disabled):focus,
.select__option--focused:not(.select__option--disabled) {
    --select-option-background: var(--select-option-background--hover);
    --select-option-text: var(--select-option-text--hover);
}

.select__option--selected {
    --select-option-background: var(--select-option-background--selected);
    --select-option-text: var(--select-option-text--selected);
}

.select__option--disabled {
    --select-option-text: var(--select-option-text--disabled);

    cursor: not-allowed;
}

/* Section */

.select__popover * + .select__section {
    margin-top: 10px;
}

.select__section-heading {
    font-weight: bold;
    font-size: 0.875rem;
    display: block;
    margin-bottom: 10px;
    color: var(--select-section-heading-text);
}

/* Divider */

.select__divider {
    border-top: 2px solid var(--select-divider);
    margin: 2px 0;
}

/* Clear, All */

.select__all-button,
.select__clear-button {
    padding: 0 10px;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    height: 1.875rem;
    align-items: center;
    width: 100%;
}

.select__all-button:hover,
.select__all-button:focus,
.select__clear-button:hover,
.select__clear-button:focus {
    background: #ccc;
}
