@value tokens: "../theme/tokens.css";
@value mdBreakpoint, lgBreakpoint, xlBreakpoint from tokens;

.container {
  --columns: 1;
  --padding: 1rem;
  --gutter: 1rem;
  --maxWidth: 1368px;
  --margin: auto;

  width: 100%;
  margin-right: var(--margin);
  margin-left: var(--margin);
}

.flex {
  padding-right: var(--padding);
  padding-left: var(--padding);
  display: flex;
  flex-flow: row wrap;
  gap: var(--gutter);
}

.flex > * {
  display: flex;
  flex-flow: column wrap;
  flex: 0 0 auto;
  width: calc(
    (100% / var(--columns)) - var(--gutter) + (var(--gutter) / var(--columns))
  );
}

@media mdBreakpoint {
  .container {
    --columns: 12;
    --padding: 2rem;
  }
}

@media lgBreakpoint {
  .container {
    --gutter: 1.5rem;
  }
}

@media xlBreakpoint {
  .container {
    max-width: var(--maxWidth);

    --padding: 0;
  }
}

.fluid {
  --maxWidth: unset;
  --margin: 0;
  --padding: 0;
}

.col {
  flex: 1 0 0%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto {
  flex: 0 0 auto;
  width: 100%;
}

@media mdBreakpoint {
  .col-1 {
    width: calc((100% / 12) - (11 * var(--gutter) / 12));
  }

  .col-2 {
    width: calc((2 * 100% / 12) - (10 * var(--gutter) / 12));
  }

  .col-3 {
    width: calc((3 * 100% / 12) - (9 * var(--gutter) / 12));
  }

  .col-4 {
    width: calc((4 * 100% / 12) - (8 * var(--gutter) / 12));
  }

  .col-5 {
    width: calc((5 * 100% / 12) - (7 * var(--gutter) / 12));
  }

  .col-6 {
    width: calc((6 * 100% / 12) - (6 * var(--gutter) / 12));
  }

  .col-7 {
    width: calc((7 * 100% / 12) - (5 * var(--gutter) / 12));
  }

  .col-8 {
    width: calc((8 * 100% / 12) - (4 * var(--gutter) / 12));
  }

  .col-9 {
    width: calc((9 * 100% / 12) - (3 * var(--gutter) / 12));
  }

  .col-10 {
    width: calc((10 * 100% / 12) - (2 * var(--gutter) / 12));
  }

  .col-11 {
    width: calc((11 * 100% / 12) - (1 * var(--gutter) / 12));
  }

  .col-auto {
    width: auto;
  }

  .offset-1 {
    margin-left: calc((100% / 12) + (var(--gutter) / 12));
  }

  .offset-2 {
    margin-left: calc((2 * 100% / 12) + (var(--gutter) / 6));
  }

  .offset-3 {
    margin-left: calc((3 * 100% / 12) + (var(--gutter) / 4));
  }

  .offset-4 {
    margin-left: calc((4 * 100% / 12) + (var(--gutter) / 3));
  }

  .offset-5 {
    margin-left: calc((5 * 100% / 12) + (var(--gutter) * 5 / 12));
  }

  .offset-6 {
    margin-left: calc((6 * 100% / 12) + (var(--gutter) / 2));
  }

  .offset-7 {
    margin-left: calc((7 * 100% / 12) + (var(--gutter) * 7 / 12));
  }

  .offset-8 {
    margin-left: calc((8 * 100% / 12) + (var(--gutter) * 2 / 3));
  }

  .offset-9 {
    margin-left: calc((9 * 100% / 12) + (var(--gutter) * 3 / 4));
  }

  .offset-10 {
    margin-left: calc((10 * 100% / 12) + (var(--gutter) * 5 / 6));
  }

  .offset-11 {
    margin-left: calc((11 * 100% / 12) + (var(--gutter) * 11 / 12));
  }
}
