.headerAction {
  color: var(--midas-text-primary);
  position: relative;
}

@media (width <= 768px) {
  .label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border-width: 0;
  }

  .headerAction {
    padding-inline: calc(var(--midas-space-50) - var(--border-width));
  }
}
