@value tokens: "../theme/tokens.css";
@value --button-border-width, --button-icon-padding, --button-padding-x, --button-padding-y, --button-tertiary-padding-x, --font-family, --button-background-primary-hover, --button-background-primary, --icon-primary, --button-background-primary-active, --button-background-secondary, --font-size-30, --text-on-color, --button-border-secondary, --button-background-secondary-hover, --button-background-disabled, --white, --border-disabled, --button-background-secondary-active, --button-background-tertiary-hover, --button-background-tertiary-active, --text-tertiary, --button-background-danger, --button-background-danger-hover, --text-disabled, --button-background-disabled, --button-background-danger-active, --focus, --button-background-icon-hover, --button-background-icon-active from tokens;

.button {
  font-family: --font-family;
  font-size: --font-size-30;
  font-weight: 500;
  padding: --button-padding-y --button-padding-x;
  background-color: --button-background-primary;
  border: solid --button-border-width transparent;
  color: --text-on-color;
  cursor: pointer;
  opacity: 1;
  outline: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[data-hovered] {
    background-color: --button-background-primary-hover;
  }

  &[data-pressed] {
    background-color: --button-background-primary-active;
    outline: none;
  }

  &[data-disabled] {
    color: --text-disabled;
    cursor: not-allowed;
    background-color: --button-background-disabled;
  }
}

.secondary {
  color: --text-tertiary;
  background-color: --button-background-secondary;
  border-color: --button-border-secondary;
  opacity: 1;

  &[data-hovered] {
    background-color: --button-background-secondary-hover;
  }

  &[data-disabled] {
    color: --text-disabled;
    cursor: not-allowed;
    background-color: --button-background-disabled;
    border-color: --border-disabled;
  }

  &[data-pressed] {
    background-color: --button-background-secondary-active;
    border-color: --text-tertiary;
  }
}

.tertiary {
  color: --text-tertiary;
  background-color: transparent;
  padding: --button-padding-y --button-tertiary-padding-x;
  opacity: 1;

  &[data-hovered] {
    background-color: --button-background-tertiary-hover;
  }

  &[data-disabled] {
    color: --text-disabled;
    cursor: not-allowed;
    background-color: white;
  }

  &[data-pressed] {
    background-color: --button-background-tertiary-active;
  }
}

.iconBtn {
  background-color: transparent;
  padding: --button-icon-padding;
  color: --icon-primary;
  display: flex;
  align-items: center;

  &[data-hovered] {
    background-color: --button-background-icon-hover;
  }

  &[data-disabled] {
    color: --text-disabled;
    cursor: not-allowed;
  }

  &[data-pressed] {
    background-color: --button-background-icon-active;
  }
}

.danger {
  color: --white;
  background-color: --button-background-danger;
  opacity: 1;

  &[data-hovered] {
    color: --white;
    background-color: --button-background-danger-hover;
  }

  &[data-disabled] {
    color: --text-disabled;
    cursor: not-allowed;
    background-color: --button-background-disabled;
  }

  &[data-pressed] {
    background-color: --button-background-danger-active;
    outline: none;
  }
}

.iconRight {
  flex-direction: row-reverse;
}

.fullwidth {
  width: 100%;
}

.small {
  min-height: 1.5rem;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

@media (forced-colors: active) {
  .primary {
    border-width: 2px;
  }
}
