.button {
  --border-width: 1px;

  font-family: var(--midas-typography-font-family);
  font-size: var(--midas-typography-font-size-30);
  font-weight: 500;
  padding: calc(var(--midas-size-70) - var(--border-width))
    calc(var(--midas-size-100) - var(--border-width));
  line-height: var(--midas-typography-line-height-30);
  background-color: var(--midas-button-background-primary);
  border: solid var(--border-width) transparent;
  color: var(--midas-text-on-color);
  cursor: pointer;
  opacity: 1;
  outline: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &[data-focus-visible],
  &:focus-visible {
    box-shadow: var(--midas-state-focus);

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[data-hovered] {
    background-color: var(--midas-button-background-primary-hover);
  }

  &[data-pressed] {
    background-color: var(--midas-button-background-primary-active);
    outline: none;
  }

  &[data-disabled] {
    color: var(--midas-text-disabled);
    cursor: not-allowed;
    background-color: var(--midas-button-background-disabled);
  }
}

.secondary {
  color: var(--midas-text-tertiary);
  background-color: var(--midas-button-background-secondary);
  border-color: var(--midas-button-border-secondary);
  opacity: 1;

  &[data-hovered] {
    background-color: var(--midas-button-background-secondary-hover);
  }

  &[data-disabled] {
    color: var(--midas-text-disabled);
    cursor: not-allowed;
    background-color: var(--midas-button-background-disabled);
    border-color: var(--midas-border-color-disabled);
  }

  &[data-pressed] {
    background-color: var(--midas-button-background-secondary-active);
    border-color: var(--midas-text-tertiary);
  }
}

.tertiary {
  color: var(--midas-text-tertiary);
  background-color: transparent;
  opacity: 1;

  &[data-hovered] {
    background-color: var(--midas-button-background-tertiary-hover);
  }

  &[data-disabled] {
    color: var(--midas-text-disabled);
    cursor: not-allowed;
    background-color: white;
  }

  &[data-pressed] {
    background-color: var(--midas-button-background-tertiary-active);
  }
}

.iconBtn {
  background-color: transparent;
  padding: calc(var(--midas-size-70) - var(--border-width));
  color: var(--midas-icon-primary);
  display: flex;
  align-items: center;

  &[data-hovered] {
    background-color: var(--midas-button-icon-hover);
  }

  &[data-disabled] {
    color: var(--midas-text-disabled);
    cursor: not-allowed;
  }

  &[data-pressed] {
    background-color: var(--midas-button-icon-active);
  }

  &.medium {
    padding: calc(var(--midas-size-50) - var(--border-width));
  }
}

.danger {
  color: var(--midas-color-white);
  background-color: var(--midas-button-background-danger);
  opacity: 1;

  &[data-hovered] {
    color: var(--color-white);
    background-color: var(--midas-button-background-danger-hover);
  }

  &[data-disabled] {
    color: var(--midas-text-disabled);
    cursor: not-allowed;
    background-color: var(--midas-button-background-disabled);
  }

  &[data-pressed] {
    background-color: var(--midas-button-background-danger-active);
    outline: none;
  }
}

.iconRight {
  flex-direction: row-reverse;
}

.fullwidth {
  width: 100%;
}

.medium {
  padding: calc(var(--midas-size-50) - var(--border-width))
    calc(var(--midas-size-80) - var(--border-width));
}

@media (forced-colors: active) {
  .primary {
    border-width: 2px;
  }
}
