@value tokens: "../theme/tokens.css";
@value --text-disabled, --field-01, --field-hover-01, --layer-01, --layer-hover-01, --border-primary, --focus, --focus-inset, --field-disabled, --border-disabled, --text-placeholder, --icon-primary, --text-primary, --layer-selected-01, --layer-selected-hover-01, --border-invalid, --font-family from tokens;

.combobox {
  font-family: --font-family;
  display: flex;
  flex-direction: column;

  &[data-invalid] .input {
    border: 0.125rem solid --border-invalid;
    box-shadow: none;
  }
}

.input {
  width: -webkit-fill-available;
  padding-left: 1rem;
  border: none;
  border-bottom: 1px solid --border-primary;
  border-radius: 0;
  font-size: 1rem;
  color: --text-primary;
  height: 3rem;
  background-color: --field-01;

  &[data-hovered],
  &:has(+ [data-hovered]) {
    background-color: --field-hover-01;
  }

  &::placeholder {
    color: --text-placeholder;
  }

  &:focus-visible,
  &[data-focus-visible] {
    outline: none;
  }

  &[data-focus-visible] {
    box-shadow: --focus;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: 2px;
    }
  }

  &[data-disabled] {
    background: --field-disabled;
    box-shadow: none;
    border-bottom: 0.063rem solid --border-disabled;
    cursor: not-allowed;
  }
}

.text {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.wrap {
  grid-area: Input;
  position: relative;
  gap: 0.5rem;
}

.button {
  display: flex;
  align-items: center;
  border: none;
  padding: 1rem;
  color: --icon-primary;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition: transform 0.3s ease;

  &[aria-expanded='true'] {
    transform: rotate(180deg);
  }

  &[data-disabled] {
    cursor: not-allowed;
  }

  &[data-hovered] {
    cursor: pointer;
  }
}

.icon {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.popover {
  font-family: --font-family;
  width: var(--trigger-width);
  background: --layer-01;
  overflow-y: auto;
  box-shadow: 0 3px 5px 0 rgba(0 0 0 / 20%);

  @media (forced-colors: active) {
    border: 1px solid --border-primary;
  }
}

.sectionHeading {
  font-family: --font-family;
  display: block;
  padding: 1rem 1rem 0.5rem;
  font-weight: 500;
}

.listBoxItem {
  margin: auto;
  padding: 1rem;
  background-color: --layer-01;
  outline: none;
  cursor: default;
  color: --text-primary;
  position: relative;

  &[data-selected='true'] {
    background: --layer-selected-01;

    &:hover {
      background-color: --layer-selected-hover-01;
    }
  }

  &[data-focused='true'] {
    background: --layer-hover-01;
    box-shadow: --focus-inset;

    @media (forced-colors: active) {
      outline: 3px solid highlight;
      outline-offset: -2px;
    }
  }
}
