name: Documentation

env:
  HUSKY: 0

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    types:
      - opened

jobs:
  build:
    name: Build documentation website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - run: npm ci
      - run: npx nx build docs
