name: 'Publish Docs'

permissions:
  contents: write
  pages: write
  id-token: write

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish-docs:
    if: >-
      github.event_name == 'workflow_dispatch' ||
      contains(github.event.head_commit.message, 'chore(release)')
    name: Publish docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build website
        run: npx nx run docs:build --minify=false --outputPath=dist/docs

      - name: Build storybook
        run: npx nx run storybook:build:ci

      - name: Deploy website and storybook
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/docs
          branch: gh-pages
          clean-exclude: |
            pr-preview
          force: false
