name: NX release

on:
  push:
    branches:
      - main
env:
  GITHUB_TOKEN: ${{ secrets.PAT }}

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the main branch
        uses: actions/checkout@v4
        # Only a single commit is fetched by default
        # we need full repo history with tags, so we are setting fetch-depth: 0
        with:
          fetch-depth: 0
          ref: main
          # We need to pass Personal Access Token in order
          # to force triggering on-publish workflow
          token: ${{ secrets.PAT }}

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install packages
        run: npm ci

      - name: Sets the base and head SHAs for the nx affected commands in CI
        uses: nrwl/nx-set-shas@v4

      - name: Build package components
        run: npx nx build components

        # We need to set github email and name as nx release will
        # create new tag with version and create new github release
      - name: Run nx release
        run: |
          git config --global user.email "bot@midas.dev"
          git config --global user.name "midas.bot"
          npx nx release --skip-publish
          git push --follow-tags
