.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--typography-font-family);
  color: var(--semantic-text-primary);
  font-weight: 400;
  font-size: var(--typography-font-size-30);
  line-height: var(--typography-line-height-50);
  margin-block: 0;
}

.h1 {
  /* 1.625 finns ej, hamnar mellan 06 och 07 */
  font-size: 1.625rem;
  line-height: var(--typography-line-height-70);

  &[data-expressive] {
    font-size: var(--typography-font-size-90);

    /* 3 finns ej, större än 10 */
    line-height: 3rem;
  }
}

.h2 {
  font-size: var(--typography-font-size-50);
  line-height: var(--typography-line-height-60);

  &[data-expressive] {
    font-weight: 500;
    font-size: 1.625rem;

    /* 2.125 finns ej, mellan 7 och 8 */
    line-height: 2.125rem;
  }
}

.h3 {
  font-weight: 600;
  font-size: var(--typography-font-size-30);
  line-height: var(--typography-line-height-50);

  &[data-expressive] {
    font-size: var(--typography-font-size-50);
    line-height: var(--typography-line-height-60);
  }
}

.h4 {
  &[data-expressive] {
    font-weight: 600;
    font-size: var(--typography-font-size-40);

    /* 1.625 finns ej, mellan 6 och 7 */
    line-height: 1.625rem;
  }
}

.h5 {
  &[data-expressive] {
    font-weight: 600;
    font-size: var(--typography-font-size-30);
    line-height: var(--typography-line-height-50);
  }
}
