@value tokens: "../theme/tokens.css";
@value --font-family, --text-primary, --font-size-30, --font-size-40, --font-size-50, --font-size-60, --font-size-70, --font-size-90, --line-height-40, --line-height-50, --line-height-60, --line-height-70, --line-height-80, --line-height-90, --line-height-10 from tokens;

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: --font-family;
  color: --text-primary;
  font-weight: 400;
  font-size: --font-size-30;
  line-height: --line-height-50;
  margin-block: 0;
}

.h1 {
  /* 1.625 finns ej, hamnar mellan 06 och 07 */
  font-size: 1.625rem;
  line-height: --line-height-70;

  &[data-expressive] {
    font-size: --font-size-90;

    /* 3 finns ej, större än 10 */
    line-height: 3rem;
  }
}

.h2 {
  font-size: --font-size-50;
  line-height: --line-height-60;

  &[data-expressive] {
    font-weight: 500;
    font-size: 1.625rem;

    /* 2.125 finns ej, mellan 7 och 8 */
    line-height: 2.125rem;
  }
}

.h3 {
  font-weight: 600;
  font-size: --font-size-30;
  line-height: --line-height-50;

  &[data-expressive] {
    font-size: --font-size-50;
    line-height: --line-height-60;
  }
}

.h4 {
  &[data-expressive] {
    font-weight: 600;
    font-size: --font-size-40;

    /* 1.625 finns ej, mellan 6 och 7 */
    line-height: 1.625rem;
  }
}

.h5 {
  &[data-expressive] {
    font-weight: 600;
    font-size: --font-size-30;
    line-height: --line-height-50;
  }
}
