.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--midas-typography-font-family);
  color: var(--midas-text-primary);
  font-weight: var(--midas-typography-weight-regular);
  font-size: var(--midas-typography-font-size-30);
  line-height: var(--midas-typography-line-height-50);
  margin-block: 0;
}

.h1 {
  font-size: var(--midas-typography-font-size-70);
  line-height: var(--midas-typography-line-height-70);

  &[data-margin] {
    margin-top: var(--midas-spacing-large);
    margin-bottom: var(--midas-size-50);
  }

  &[data-expressive] {
    font-size: var(--midas-typography-font-size-90);
    line-height: var(--midas-typography-line-height-100);

    &[data-margin] {
      margin-top: var(--midas-spacing-xlarge);
      margin-bottom: var(--midas-size-50);
    }
  }
}

.h2 {
  font-size: var(--midas-typography-font-size-50);
  line-height: var(--midas-typography-line-height-60);

  &[data-margin] {
    margin-top: var(--midas-spacing-xlarge);
    margin-bottom: var(--midas-spacing-small);
  }

  &[data-expressive] {
    font-size: var(--midas-typography-font-size-70);
    line-height: 2.125rem;
    font-weight: var(--midas-typography-weight-medium);

    &[data-margin] {
      margin-top: var(--midas-spacing-large);
      margin-bottom: var(--midas-size-50);
    }
  }
}

.h3 {
  font-size: var(--midas-typography-font-size-30);
  line-height: var(--midas-typography-line-height-50);
  font-weight: var(--midas-typography-weight-semi-bold);

  &[data-margin] {
    margin-top: var(--midas-size-90);
    margin-bottom: var(--midas-spacing-xsmall);
  }

  &[data-expressive] {
    font-size: var(--midas-typography-font-size-50);
    line-height: var(--midas-typography-line-height-60);

    &[data-margin] {
      margin-top: var(--midas-spacing-xlarge);
      margin-bottom: var(--midas-spacing-small);
    }
  }
}

.h4 {
  &[data-expressive] {
    font-size: var(--midas-typography-font-size-40);
    line-height: 1.625rem;
    font-weight: var(--midas-typography-weight-semi-bold);

    &[data-margin] {
      margin-top: var(--midas-spacing-large);
      margin-bottom: var(--midas-spacing-small);
    }
  }
}

.h5 {
  &[data-expressive] {
    font-size: var(--midas-typography-font-size-30);
    line-height: var(--midas-typography-line-height-50);
    font-weight: var(--midas-typography-weight-semi-bold);

    &[data-margin] {
      margin-top: var(--midas-size-90);
      margin-bottom: var(--midas-spacing-small);
    }
  }
}
